<div class="wrap" [ngClass]="{'vertical':orientation==='vertical', 'horizontal':orientation==='horizontal'}">
  <div [ngStyle]="{'grid-template-columns': orientation==='vertical'?'repeat( '+ cols +',1fr)':''}"  class="recipe-list" #list>
    <app-recipe-list-item
      class="content"
      [context]="context"
      *ngFor="let item of recipes; let i = index"
      [recipe]="recipes[i]"
    ></app-recipe-list-item>
  </div>
  <button class="scroll-left" *ngIf="orientation==='horizontal'">
    <svg-icon
      class="svg-arrow"
      (click)="scrollRight()"
      [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'"
    >
    </svg-icon>
  </button>
  <button class="scroll-right" *ngIf="orientation==='horizontal'">
    <svg-icon
      class="svg-arrow right"
      (click)="scrollLeft()"
      [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'"
    >
    </svg-icon>
  </button>
</div>
