<div class="container one-column">
  <div class="content">
    <h1 class="label">Восстановление пароля</h1>
    <p class="tagline">
      Пожалуйста, введите вашу электронную почту, на которую мы вышлем письмо
      для восстановления пароля.
    </p>

    <form [formGroup]="form">
      <div>
        <app-usual-input
          [inputRequired]="true"
          type="text"
          [max]="64"
          id="email"
          formControlName="email"
          [placeholder]="'Электронная почта'"
          required
          [error]="loginNotValidError"
        ></app-usual-input>
      </div>
    </form>

    <hr />

    <div class="buttons">
      <app-button
        [ngStyle]="{
          'pointer-events': form.valid ? 'all' : 'none'
        }"
        (click)="passwordRecovery()"
        [disabled]="form.valid"
        [rounded]="true"
        [color]="'prim'"
        [text]="'Прислать письмо'"
      ></app-button>
    </div>
  </div>
</div>

<app-modal
  [ngStyle]="{ 'z-index': 100 }"
  @modal
  *ngIf="successModal"
  [style]="'sec'"
  [title]="'Успешный вход!'"
  [type]="'Ok'"
  (resultEmit)="successModal=false"
  [buttonsText]="['Хорошо']"
  [description]="'Письмо подтверждения успешно выслано на вашу почту!'"
></app-modal>

<app-modal
  [ngStyle]="{ 'z-index': 100 }"
  @modal
  *ngIf="errorModal"
  [style]="'prim'"
  [title]="'Произошла ошибка'"
  [type]="'Ok'"
  (resultEmit)="errorModal = false"
  [buttonsText]="['Хорошо']"
  [description]="'Произошла неизвестная ошибка'"
></app-modal>

<app-modal
  [noButtons]="true"
  [style]="'await'"
  *ngIf="loadingModal"
  [title]="'Подождите...'"
  @modal
  [description]="'Проверяем данные, которые вы ввели... Подождите немного...'"
/>
