<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main-cont">
  <h1>Подбор рецептов</h1>
  <div class="wrap">
    <div class="sections">
      <h2>Категории</h2>

      <div class="categories">
        <div *ngFor="let item of group; let i = index" class="section">
          <button class="section-name" [ngClass]="{ 'active-section-name': sectionStates[i] }"
            (click)="toggleSection(i)">
            {{ item.section.name }}
          </button>
          <div @height class="categories-list" *ngIf="sectionStates[i]">
            <button class="category" (click)="toggleCategory(i, j)"
              *ngFor="let category of item.categories; let j = index">
              <div class="toogle">
                <svg-icon @modal [applyClass]="true" [class]="'checkbox'" *ngIf="categoryStates[i][j]"
                  [src]="baseSvgPath + 'checkbox.svg'"></svg-icon>
              </div>

              <div class="category-box">
                <div class="category-name">{{ category.name }}</div>

                <span class="count noselect">
                  {{ getCategoryRecipesNumber(category.id) }}</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div class="options">
        <button class="option" (click)="toogleCondition(true)">
          <button [ngClass]="{ check: haveToContainAllCategories }" class="toogle"></button>
          <p>Рецепт должен содержать все категории</p>
        </button>
        <p class="error" *ngIf="selectedCategories.length > 5 && haveToContainAllCategories">
          Один рецепт не может содержать более 5 категорий
        </p>

        <button class="option" (click)="toogleCondition(false)">
          <button [ngClass]="{ check: !haveToContainAllCategories }" class="toogle"></button>
          <p>Рецепт должен содержать хотя бы одну из категорий</p>
        </button>
      </div>

      <svg-icon class="cook" [applyClass]="true" [src]="baseSvgPath + 'tired-cook.svg'" />
    </div>

    <div class="ingredients-search">
      <div>
        <div #autocompleteBlock class="search-block noselect">
          <div class="input-block">
            <input [(ngModel)]="searchQuery" (ngModelChange)="search()" placeholder="Введите ингредиент"
              (focus)="focusIngredientSearch()" type="text" />
            <div class="magnifier">
              <svg-icon [src]="'assets/images/svg/search.svg'" class="search-svg" [applyClass]="true" />
            </div>
          </div>
          <ul @height *ngIf="showIngredientsAutocomplete" class="autocomplete">
            <div class="no-ingredients-founded" *ngIf="autoIngredients.length === 0">
              Ингредиентов не найдено

              <svg-icon [applyClass]="true" class="svg-no-ingredients" [src]="'assets/images/svg/no-ingredients.svg'" />
            </div>
            <li (click)="
                selectIngredient(ingredient); showIngredientsAutocomplete = false
              " class="a-ingredient" *ngFor="let ingredient of autoIngredients">
              <p>{{ ingredient }}</p>
              <span class="recipes-count">{{ uniqueIngredientsArray[ingredient] }}
                <span appPluralRu="" [arVariants]="['рецепт', 'рецепта', 'рецептов']"
                  [value]="uniqueIngredientsArray[ingredient]"></span>
              </span>
            </li>
          </ul>
        </div>

      </div>



      <div class="all-ingredients">
        <h2>
          <svg-icon [applyClass]="true" class="ingredients-svg" [src]="baseSvgPath + 'all-ingredients.svg'"></svg-icon>
          Самые популярные ингредиенты
        </h2>
        <div class="ingredients" *ngIf="getIngredientNames().length > 0; else noIngredients">
          <button [ngStyle]="{ zoom: getZoom(uniqueIngredientsArray[ingredient]) }" class="ingredient"
            *ngFor="let ingredient of getIngredientNames().slice(0, 20)" (click)="selectIngredient(ingredient)">
            + {{ ingredient }}
            <span class="count noselect">{{
              uniqueIngredientsArray[ingredient]
              }}</span>
          </button>
        </div>
        <ng-template #noIngredients>
          <p *ngIf="
                  this.selectedIngredients.length === 0;
                  else allIngredientsSelected
                " class="noone">
            Ингредиентов пока нет. Видимо, среди рецептов в выбранных категориях
            никто не указывал ингредиенты
          </p>
          <ng-template #allIngredientsSelected>
            <p class="noone">Вы выбрали все ингредиенты</p>
          </ng-template>
        </ng-template>

      </div>
      <div class="select">
        <h2>
          <svg-icon [applyClass]="true" class="ingredients-svg"
            [src]="baseSvgPath + 'selected-ingredients.svg'"></svg-icon>
          Включаемые ингредиенты
        </h2>

        <div cdkDropList #selected="cdkDropList" [cdkDropListData]="selectedIngredientsCopyForDragAndDrop"
          [cdkDropListConnectedTo]="[excluded]" class="ingredients vertical" cdkDropListOrientation="vertical"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of selectedIngredients; let i = index">
            <div class="ingredient selected" cdkDrag>{{ item }}</div>
          </div>
          <span class="placeholder noone" *ngIf="selectedIngredients.length === 0">Вы пока не включили ни одного
            ингредиента</span>
        </div>
        <app-button (click)="
                selectedIngredients.length > 0 ? clearAllIngredients() : null
              " [disabled]="selectedIngredients.length > 0" [style]="'filled-min'" [color]="'prim'"
          [text]="'Очистить все'" [rounded]="true"></app-button>
      </div>

      <p class="how-to-use">Перетаскивайте элементы из включаемых ингредиентов в исключаемые, и наоборот!</p>

      <div class="select">
        <h2>

          <svg-icon [applyClass]="true" class="ingredients-svg" [src]="baseSvgPath + 'no-food.svg'"></svg-icon>
          Исключаемые ингредиенты
        </h2>

        <div cdkDropList #excluded="cdkDropList" [cdkDropListData]="excludedIngredientsCopyForDragAndDrop"
          [cdkDropListConnectedTo]="[selected]" class="ingredients vertical" cdkDropListOrientation="vertical"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of excludedIngredients; let i = index">
            <div class="ingredient selected" cdkDrag>{{ item }}</div>
          </div>

          <span class="placeholder noone" *ngIf="excludedIngredients.length === 0">Вы пока не исключили ни одного
            ингредиента</span>
        </div>

        <app-button (click)="
                excludedIngredients.length > 0
                  ? clearAllExcludedIngredients()
                  : null
              " [disabled]="excludedIngredients.length > 0" [style]="'filled-min'" [color]="'prim'"
          [text]="'Очистить все'" [rounded]="true"></app-button>
      </div>

      <div class="select">
        <h2>
          <svg-icon [applyClass]="true" class="ingredients-svg" [src]="baseSvgPath + 'categories.svg'"></svg-icon>
          Выбранные категории
        </h2>
        <div class="selected-categories" *ngIf="selectedCategories.length > 0; else noCategories">
          <div @modal class="selected-category" *ngFor="let item of selectedCategories">
            <a [routerLink]="'/categories/list/' + item.id"> {{ item.name }}</a>
          </div>
        </div>
        <ng-template #noCategories>
          <p class="noone">Вы пока не выбрали ни одну категорию</p>
        </ng-template>
        <app-button (click)="selectedCategories.length > 0 ? clearAllCategories() : null"
          [disabled]="selectedCategories.length > 0" [style]="'filled-min'" [color]="'prim'" [text]="'Очистить все'"
          [rounded]="true"></app-button>
      </div>

      <div class="match" *ngIf="matchingRecipes.length > 0; else noRecipes">
        <p class="match-count">
          Подобрано рецептов:
          <span class="noselect">{{ matchingRecipes.length }}</span>
        </p>
        <app-button [style]="'filled'" (click)="
                matchingRecipes.length > 0 ? goToMatchingRecipesPage() : null
              " [disabled]="matchingRecipes.length > 0" [color]="'sec'" [text]="'Перейти к подобранным рецептам'"
          [rounded]="true"></app-button>
      </div>
      <ng-template #noRecipes>
        <div class="no-recipes-founded">
          <p>По твоему запросу не найдено ни одного рецепта</p>
          <svg-icon [applyClass]="true" class="svg-no-recipes" [src]="'assets/images/svg/no-recipes-founded.svg'" />
        </div>
      </ng-template>
    </div>
  </div>
</div>