<div class="wrap">
  <div class="header">
    <h1>Добро пожаловать в <span>Yummy</span>!</h1>
    <p>Ваш надежный помощник в мире кулинарии</p>

    <div class="community">
      <svg-icon
        [applyClass]="true"
        class="community-svg"
        [src]="'assets/images/svg/about-community.svg'"
      />
    </div>
  </div>
  <div class="sections">
    <section class="about-section">
      <h2>Наша история</h2>
      <p>
        В Yummy наше путешествие началось с общей страсти к созданию и обмену
        вкусными рецептами. Вдохновленные радостью, которую приносит вкусная
        еда, мы решили создать платформу, где любители готовки могли бы
        объединиться, исследовать и обучаться друг у друга.
      </p>
    </section>
    <section class="about-section">
      <h2>Наша команда</h2>

      <div class="dream-team">
        <div class="item">
          <div class="head">
            <svg-icon [src]="'assets/images/svg/about/1.svg'" class="img" [applyClass]="true"  />

            <div>
              <h3>Фрэнк Дельфино</h3>
              <p>Главный креативный директор</p>
            </div>
          </div>
          <p>
            Фрэнк – волшебник кулинарного искусства и наш вдохновитель. Его
            талант в создании неповторимых кулинарных визуалов превращает каждый
            рецепт в настоящее произведение искусства.
          </p>
        </div>
        <div class="item">
          <div class="head">
            <svg-icon [src]="'assets/images/svg/about/2.svg'" class="img" [applyClass]="true" />
            <div>
              <h3>Лорел Кастильо</h3>
              <p>Эксперт по вкусовым сенсациям</p>
            </div>
          </div>
          <p>
            Лорел – наша звезда, сотканная из вкусовых сенсаций. Ее утонченный
            вкус и талант в оценке блюд приносят нам невероятные кулинарные
            переживания.
          </p>
        </div>
        <div class="item">
          <div class="head">
            <svg-icon [src]="'assets/images/svg/about/3.svg'" class="img" [applyClass]="true" />

            <div>
              <h3>Реббека Саттер</h3>
              <p>Мастер-Шеф cообщества</p>
            </div>
          </div>
          <p>
            Реббека – сердце и душа нашего кулинарного сообщества. В роли
            Мастера-Шефа Сообщества, он объединяет нас своим теплым и
            приветливым подходом.
          </p>
        </div>
      </div>
    </section>
    <section class="mission-section">
      <h2>Наша миссия</h2>
      <p>
        Наша миссия - предоставить пространство для общения людей всех уровней
        кулинарии. Будь вы опытным шеф-поваром или кулинарным новичком, Yummy
        здесь, чтобы вас вдохновить и создать сообщество, где каждый найдет
        что-то новенькое и увлекательное.
      </p>
    </section>

    <section class="features-section">
      <h2>Что нас отличает</h2>
      <ul>
        <li>
          <svg-icon
            class="cook"
            [applyClass]="true"
            [src]="'assets/images/svg/cook-fill.svg'"
          />
          Тщательно отобранные рецепты от страстных кулинаров
        </li>
        <li>
          <svg-icon
            class="cook"
            [applyClass]="true"
            [src]="'assets/images/svg/cook-fill.svg'"
          />
          Подбор рецептов по категориям и ингредиентам
        </li>
        <li>
          <svg-icon
            class="cook"
            [applyClass]="true"
            [src]="'assets/images/svg/cook-fill.svg'"
          />
          Возможность планировать приготовление рецептов
        </li>
      </ul>
    </section>
    <section class="find-section">
      <h2>Что вы можете найти</h2>
      <section class="parts">
        <a routerLink="/recipes" [class]="!auth ? 'fake' : ''">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/receipt.svg'"
              />
            </div>
            <h3>Рецепты</h3>
            <p>
              Исследуйте огромное разнообразие рецептов, представленных
              страстными кулинарами. Независимо от того, являетесь ли вы
              новичком или опытным шеф-поваром, здесь вы обнаружите блюда на
              любой вкус и уровень сложности.
            </p>
          </div>
        </a>

        <a routerLink="/sections">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/category.svg'"
              />
            </div>
            <h3>Категории</h3>
            <p>
              Углубитесь в удобные категории, чтобы быстро найти идеальные
              рецепты. От разнообразных завтраков до изысканных десертов, наш
              ассортимент категорий покрывает все аспекты кулинарии.
            </p>
          </div>
        </a>

        <a routerLink="/sections">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/segment.svg'"
              />
            </div>
            <h3>Разделы</h3>
            <p>
              Проведите время в наших разделах, где собраны уникальные подборки
              рецептов. Здесь вы обнаружите вдохновляющие идеи для приготовления
              блюд, которые удивят ваши вкусовые рецепторы.
            </p>
          </div>
        </a>

        <a routerLink="/ingredients">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/ingredient.svg'"
              />
            </div>
            <h3>Ингредиенты</h3>
            <p>
              Легко находите рецепты по конкретным ингредиентам, чтобы
              использовать продукты, которые у вас есть. Экспериментируйте с
              новыми сочетаниями и создавайте блюда, которые будут восхищать вас
              и ваших близких.
            </p>
          </div>
        </a>

        <a routerLink="/ingredients">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/grocery.svg'"
              />
            </div>
            <h3>Группы ингредиентов</h3>
            <p>
              Изучайте группы ингредиентов, чтобы легко выбирать рецепты,
              соответствующие вашему вкусу и предпочтениям. Открывайте для себя
              новые способы комбинирования продуктов и создания удивительных
              блюд.
            </p>
          </div>
        </a>

        <a routerLink="/cooks">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/community.svg'"
              />
            </div>
            <h3>Сообщество кулинаров</h3>
            <p>
              Присоединяйтесь к нашему активному сообществу кулинаров,
              обменивайтесь опытом, делись своими любимыми рецептами и
              участвуйте в обсуждениях. Здесь каждый может научиться чему-то
              новому и поделиться своим кулинарным искусством.
            </p>
          </div>
        </a>
        <a routerLink="/match">
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/find.svg'"
              />
            </div>
            <h3>Подбор рецептов</h3>
            <p>
              Используйте интеллектуальную систему подбора рецептов, чтобы найти
              идеальные блюда, соответствующие вашим предпочтениям и диетическим
              ограничениям. Всегда будьте в курсе новых, увлекательных вариантов
              приготовления ваших любимых блюд.
            </p>
          </div>
        </a>

        <a
          [class]="!auth ? 'fake' : ''"
          [routerLink]="auth ? '/plan/calendar' : null"
        >
          <div>
            <div class="icon">
              <svg-icon
                [applyClass]="true"
                class="svg"
                [src]="'assets/images/svg/about/flag.svg'"
              />
            </div>
            <h3>Планирование рецептов</h3>
            <p>
              Организуйте свой кулинарный опыт с легкостью, добавляя рецепты в
              персональный план. Планируйте вперед и создавайте свой уникальный
              кулинарный маршрут, который приносит удовлетворение и радость
              каждый день.
            </p>
          </div>
        </a>
      </section>
    </section>

    <section class="join-section" *ngIf="!auth">
      <h2>Присоединяйтесь к нам сегодня!</h2>
      <p>
        Готовы отправиться в кулинарное приключение? Зарегистрируйтесь сейчас,
        чтобы делиться своими любимыми рецептами, общаться с единомышленниками и
        стать частью нашего развивающегося сообщества.
      </p>
      <app-button
        routerLink="/register"
        [text]="'Регистрация'"
        [color]="'prim'"
        [rounded]="true"
      ></app-button>
    </section>
  </div>

  <div class="footer">
    

   <div>
      <p class="info">
        Следите за нами в социальных сетях для получения последних обновлений:
      </p>
<div class="links">
        <p>
          <a href="https://facebook.com">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/non-fill-facebook.svg'"
            ></svg-icon>
    
            <p>Facebook</p>
          </a>
        </p>
        <p>
          <a href="https://pinterest.com">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/non-fill-pinterest.svg'"
            ></svg-icon>
            <p>Pinterest</p>
          </a>
        </p>
        <p>
          <a href="https://vk.com">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/non-fill-vkontakte.svg'"
            ></svg-icon>
            <p>ВКонтакте</p>
          </a>
        </p>
        <p>
          <a href="https://twitter.com">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/non-fill-twitter.svg'"
            ></svg-icon>
            <p>Twitter</p>
          </a>
        </p>
</div>
   </div>
   <div>
      <p class="info">Мы ценим ваше мнение — оставьте отзыв и пожелания проекту:</p>
      <div class="links">
        <p>
          <a href="mailto:feedback@yummy.com">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/mail.svg'"
            ></svg-icon>
            <p>Электронная почта</p>
          </a>
        </p>
        <p>
          <a href="tel:+375291510475">
            <svg-icon
              class="footer-icon"
              [applyClass]="true"
              [src]="'assets/images/svg/phone.svg'"
            ></svg-icon>
            <p>Телефон</p>
          </a>
        </p>
      </div>
   </div>
  </div>
</div>
