.wrap {
  padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);
  margin: 2.5em 0;
}

h1{
  max-width: 100%;
}




app-modal{

  cursor: default;
  position: fixed;
  z-index: 10;
}

h1 {
  line-height: 1;
  font-size: var(--font-xxl);
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--font-family-accent);
}

.sections {
  margin-bottom: 3em;
}

app-button.add-category{
    margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  width: fit-content;
  justify-content: center;
}
h2 {
  cursor: pointer;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5em;
}

 app-button {
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.arrow-svg {
  height: 1em;
  display: flex;
  align-items: center;
  fill: var(--color-foreground);
  justify-content: center;
  transform: rotate(-90deg);
}

.head {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
  margin-bottom: 1.75em;
  cursor: pointer;
}

@media (max-width: 480px) {
  .search{
    margin-right: 6%;
  }
  .wrap {
    padding-right: 0;
    padding-left: 6vw;
  }
  h1,app-button{
    padding-right:6vw;
    padding-left: 0vw;
  }

}


.load{
  cursor: wait;
  color: transparent;
    animation: loading 0.75s infinite linear;
      background-color: var(--loading);
      border-radius: 0.75em;
    }
    
   
    @keyframes loading {
      0% {
        background-position: var(--loading);
      }
    
      50% {
        background-color: var(--loading-accent);
      }
    
      100% {
        background-position: var(--loading);
      }
    }


.disabled{
  pointer-events: none !important;
  
}

