<div class="main" *ngIf="!this.isLoading; else loading">
    <h1>Все категории</h1>
    
    <div>
    
        <div *ngFor="let section of sections" class="sections">
          <div *ngIf="section.categoriesId.length>0" class="sections">
                <h2>{{section.name}}</h2>
        
                            <app-vertical-category-list [showRecipesNumber]="true"  *ngIf="getCategories(section).length>0" [categories]="getCategories(section)"></app-vertical-category-list>
        
                
          </div>
        </div>
    
    </div>
</div>

<ng-template #loading>
   <p  style="height:100vh"> Loading....</p>
</ng-template>