<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="footer">

    <div class="main-info">
        <div>
            <p class="label" routerLink="/">Yummy</p>
            <p class="quote">«Повара — это художники, рабочим материалом для которых является еда.
                Кулинария — это искусство использования цветов, вкусов, запахов и форм для создания изысканного блюда».
            </p>
        </div>
        <div class="sections">
            <div>
                <p>Рецепты</p>
                <ul>
                    <li (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/yours">Твои рецепты</li>
                    <li  routerLink="/recipes">Все рецепты</li>
                    <li routerLink="/sections">Разделы</li>
                    <li (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/favorite">Закладки</li>
                    <li  routerLink="/match">Подбор рецептов</li>
                </ul>
            </div>
            <div>
                <p>Кулинары</p>
                <ul>
                    <li (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" [routerLink]="this.currentUser.id >0?'/cooks/list/'+currentUser.id:null">Твой профиль</li>
                    <li routerLink="/cooks">Все кулинары</li>
                    <li routerLink="/cooks/updates">Обновления</li>
                </ul>
            </div>
            <div>
                <p>Другое</p>
                <ul>
                    <li [routerLink]="this.currentUser.id >0?'plan':null" (click)="linkClick()"  [ngClass]="{'disabling':currentUser.id===0}">План готовки</li>
                    <li routerLink="/about">О сайте</li>
                    <li routerLink="/user-policy">Пользовательское соглашение</li>
                </ul>
            </div>
        </div>

    </div>
    <hr>

     
    <div class="other-info">
        <p class="copyright">© 2023 Yummy. Никакие права не защищены</p>

        <ul class="links">
            <li *ngFor="let link of links, let i=index">
                <a [href]="link[1]">
                    <svg-icon [src]="'../../../assets/images/svg/'+link[0]+'.svg'"
                    [class]="'svg'"
                    ></svg-icon>
                </a>
           
            </li>
        </ul>
    </div>
</div>

<app-modal
  @modal
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к разделу ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте','Не сейчас']"
  [description]="'Этот раздел могут просматривать только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'"
></app-modal>