<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="footer noselect">

    <div class="main-info">
        <div>
            <a class="label" routerLink="/">Yummy</a>
                            <a class="top-link" routerLink="/about">Узнать больше о сайте</a>
                            <a class="top-link disabled" >Пользовательское соглашение</a>

            <p class="quote">«Повара — это художники, рабочим материалом для которых является еда.
                Кулинария — это искусство использования цветов, вкусов, запахов и форм для создания изысканного блюда».
            </p>
        </div>
        <div class="sections">
            <div class="left">
                <p>Рецепты</p>
                <ul >
                    <a (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/yours">Ваши рецепты</a>
                    <a  routerLink="/recipes">Все рецепты</a>
                    <a (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/favorite">Закладки</a>
                    <a routerLink="/ingredients">Ингредиенты</a>
                    <a routerLink="/match">Подбор рецептов</a>

                    <a routerLink="/sections">Разделы</a>
                </ul>
            </div>
            <div class="center">
                <p>Кулинары</p>
                <ul >
                    <a 
                    (click)="linkClick()"  
                    [ngClass]="{'disabling':currentUser.id===0}" 
                    [routerLink]="this.currentUser.id >0?'/cooks/following':null">Ваши подписки</a>
                    <a 
                    routerLink="/cooks">Все кулинары</a>
                    <a 
                    [routerLink]="this.currentUser.id >0?'/cooks/updates':null" 
                    (click)="linkClick()"  
                    [ngClass]="{'disabling':currentUser.id===0}" >Обновления</a>
                </ul>
            </div>
            <div  class="right">
                <p>Планнер</p>
                <ul>
                    <a 
                    [routerLink]="this.currentUser.id >0?'/plan/calendar':null" 
                    (click)="linkClick()"
                    [ngClass]="{'disabling':currentUser.id===0}">Календарь рецептов</a>
                    <a 
                    routerLink="/plan/collections" >Подборки</a>
                    <a 
                    [routerLink]="this.currentUser.id >0?'/plan/shopping-list':null" 
                    (click)="linkClick()"  
                    [ngClass]="{'disabling':currentUser.id===0}">Список покупок</a>
                
                </ul>
            </div>
        </div>

    </div>
    <hr>

     
    <div class="other-info">
        <p class="copyright">© 2023 Yummy. Все права защищены</p>

        <ul class="links">
            <a *ngFor="let link of links, let i=index" [href]="link[1]">
                <div class="link">
                    <svg-icon [src]="'/assets/images/svg/'+link[0]+'.svg'"
                    [class]="'svg'"
                    ></svg-icon>
                </div>
           
            </a>
        </ul>
    </div>
</div>

<app-modal
  @modal
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к разделу ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте','Не сейчас']"
  [description]="'Этот раздел могут просматривать только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'"
></app-modal>