<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="footer noselect">

    <div class="main-info">
        <div>
            <a class="label" routerLink="/">Yummy</a>
            <p class="quote">«Повара — это художники, рабочим материалом для которых является еда.
                Кулинария — это искусство использования цветов, вкусов, запахов и форм для создания изысканного блюда».
            </p>
        </div>
        <div class="sections">
            <div>
                <p>Рецепты</p>
                <ul>
                    <a (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/yours">Твои рецепты</a>
                    <a  routerLink="/recipes">Ваши рецепты</a>
                    <a routerLink="/sections">Разделы</a>
                    <a (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" routerLink="/recipes/favorite">Закладки</a>
                    <a  routerLink="/match">Подбор рецептов</a>
                </ul>
            </div>
            <div>
                <p>Кулинары</p>
                <ul>
                    <a (click)="linkClick()" [ngClass]="{'disabling':currentUser.id===0}" [routerLink]="this.currentUser.id >0?'/cooks/list/'+currentUser.id:null">Ваш профиль</a>
                    <a routerLink="/cooks">Все кулинары</a>
                    <a [routerLink]="this.currentUser.id >0?'/cooks/updates':null" (click)="linkClick()"  [ngClass]="{'disabling':currentUser.id===0}" >Обновления</a>
                </ul>
            </div>
            <div>
                <p>Планнер</p>
                <ul>
                    <a routerLink="/plan/collections" >Подборки</a>
                    <a routerLink="/plan/tips" >Советы</a>
                    <a [routerLink]="this.currentUser.id >0?'/plan/calendar':null" (click)="linkClick()"  [ngClass]="{'disabling':currentUser.id===0}">Календарь рецептов</a>
                    <a [routerLink]="this.currentUser.id >0?'/plan/shopping-list':null" (click)="linkClick()"  [ngClass]="{'disabling':currentUser.id===0}">Список покупок</a>
                    <!-- <a routerLink="/about">О сайте</a>
                    <a routerLink="/user-policy">Пользовательское соглашение</a> -->
                </ul>
            </div>
        </div>

    </div>
    <hr>

     
    <div class="other-info">
        <p class="copyright">© 2023 Yummy. Никакие права не защищены</p>

        <ul class="links">
            <a *ngFor="let link of links, let i=index">
                <a [href]="link[1]">
                    <svg-icon [src]="'../../../assets/images/svg/'+link[0]+'.svg'"
                    [class]="'svg'"
                    ></svg-icon>
                </a>
           
            </a>
        </ul>
    </div>
</div>

<app-modal
  @modal
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к разделу ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте','Не сейчас']"
  [description]="'Этот раздел могут просматривать только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'"
></app-modal>