<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="header">
  <div class="label" (click)="scrollTop()" routerLink="/">{{ "yummy" | titlecase }}</div>

  <div *ngIf="!mobile" class="menu-items">
    <app-select
      [items]="recipeSelectItems"
      [disabling]="
        this.currentUser.id===0
          ? [true, false, false, true, false]
          : [false, false, false, false, false]
      "
      [routerLinks]="[
        'recipes/yours',
        'recipes',
        'categories',
        'recipes/favorite',
        'recipes/match'
      ]"
    ></app-select>
    <app-select
      [items]="cooksSelectItems"
      [disabling]="
        this.currentUser.id===0 ? [true, false, false] : [false, false, false]
      "
      [routerLinks]="['cooks/list/' + currentUser.id, 'cooks', 'cooks/updates']"
    ></app-select>
    <a
            (click)="linkClick()"
            @modal

      routerLink="plan"
      class="cook-plan"
      [ngClass]="{ dsl: this.currentUser.id===0 ? true : false }"
      >План готовки</a
    >
  </div>

  <div class="buttons" *ngIf="!mobile">
    <button
      routerLink="greetings"
      *ngIf="this.currentUser.id!==0"
      class="svg-button"
    >
      <svg-icon
        [src]="'../../../assets/images/svg/bell.svg'"
        [class]="'svg'"
        >></svg-icon
      >

      <div class="notifications" *ngIf="notificationsCount > 0">
        {{ notificationsCount }}
      </div>
    </button>

    <button 
      [routerLink]="
        this.currentUser.id===0 ? 'greetings' : 'cooks/list/' + currentUser.id
      "
      class="svg-button"
    >
      <ng-template #account>
        <svg-icon
          [src]="'../../../assets/images/svg/account.svg'"
          [class]="'svg'"
          >></svg-icon
        >
      </ng-template>
      <svg-icon 
        *ngIf="this.currentUser.id===0; else account"
        [src]="'../../../assets/images/svg/enter.svg'"
        [class]="'svg'"
        >></svg-icon
      >
    </button>
  </div>

  <div (click)="hambOpen = !hambOpen" *ngIf="mobile" class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div *ngIf="hambOpen" class="menu-mobile" @modal>
  <div class="menu-mobile-cont">
    <div class="close" (click)="hambOpen = !hambOpen">✕</div>
    <div class="label">Меню</div>

    <div class="menu-mobile-links">
      <app-select
        [items]="recipeSelectItems"
        [disabling]="
          this.currentUser.id===0
            ? [true, false, false, true, false]
            : [false, false, false, false, false]
        "
        [routerLinks]="[
          'recipes/yours',
          'recipes',
          'categories',
          'recipes/favorite',
          'recipes/match'
        ]"
      ></app-select>
      <app-select
        [items]="cooksSelectItems"
        [disabling]="
          this.currentUser.id===0 ? [true, false, false] : [false, false, false]
        "
        [routerLinks]="['cooks/' + currentUser.id, 'cooks', 'updates']"
      ></app-select>
      <a
        (click)="linkClick()"
        routerLink="cooking-plan"
        class="cook-plan"
        [ngClass]="{ dsl: this.currentUser.id===0  ? true : false }"
        >План готовки</a
      >
    </div>
    <button class="auth" routerLink="greetings">
      Авторизация
    </button>
  </div>
</div>

<app-modal
  @modal
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к разделу ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте','Не сейчас']"
  [description]="'Этот раздел могут просматривать только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'"
></app-modal>