@import "../../../tools/UI/UI.scss";

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 9em);
}

.buttons {
  display: flex;
  column-gap: var(--space-m);
}

.label {
  font-size: var(--font-xl);
  cursor: pointer;
  font-family: var(--font-family-accent);
}
.header {
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: grid;
  padding: 1.7em
    calc(
      (18vw / 1.25) + ((10 / 1.25) - (10 / 1.25)) *
        ((100vw - 768px) / (1920 - 1160))
    );

  grid-template-columns: repeat(3, max-content);
  background-color: var(--color-background-deeper-unactive);
  position: fixed;
}

.admin-panel{
  @include flexy(row);
  @include center;

  &.admin{
  background-color: var(--color-admin);

  }
    &.moder{
  background-color: var(--color-moderator);

  }
  width: var(--font-2xl);
  height: var(--font-2xl);
  position: relative;
  transition: 0.3s ease-in-out;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &::after{
    width: 0px;
    height: 0px;
    content: "";
    border-radius: 100%;
    position: absolute;
      transition: 0.3s ease-in-out;

  }
  &.admin::after{
        background-color: var(--color-admin-focus);

  }
    &.moder::after{
        background-color: var(--color-moderator-focus);

  }
    transition: 0.3s ease-in-out;
&:hover::after{
  height: 100%;
  width: 100%;
}
  &:hover{
    scale: 1.2;
  }
}
.admin-svg{
  z-index: 1;
    fill: var(--color-background);
  width: var(--font-m);
  height: var(--font-m);
}

.svg-button {
  @include flexy(row);
  @include center;
  @include btn-icon-secondary;
  width: var(--font-2xl);
  height: var(--font-2xl);
  position: relative;
  transition: 0.3s ease-in-out;
&::after{
    width: 0px;
    height: 0px;
    content: "";
    border-radius: 100%;
    position: absolute;
      transition: 0.3s ease-in-out;

    background-color: var(--color-secondary-focus);
  }
  &:hover {
    scale: 1.2;
  }
&:hover::after{
  height: 100%;
  width: 100%;
}
  .notifications {
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    right: 0;
    width: 1.2rem;
    margin-right: calc(-1 * var(--space-s));
    margin-top: calc(-1 * var(--space-xs));
    display: flex;
    flex-direction: column;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 1.2rem;
    font-weight: 600;
    color: var(--color-background);
    font-size: var(--font-xs);
    z-index: 1;
  }
}
.svg {
  fill: var(--color-background);
  width: var(--font-m);
  z-index: 1;
  height: var(--font-m);

  &.center {
    margin-right: 3px;
  }
}

.dsl {
  color: var(--color-foreground-unactive);
}

p {
  font-size: 1.5em;
  font-weight: 600;
}

.cook-plan {
  text-align: center;
}

@media (max-width: 900px) {
  .admin-panel{
    right: 0;
    position: absolute;
    margin:0 -4em;
    margin-bottom: -2.5em;
  }
  .header {
    align-items: center;
    justify-content: center;
    padding: var(--space-xl) 0;
    grid-template-columns: repeat(1, max-content);
    row-gap: var(--space-s);
    .label {
      text-align: center;
      margin: 0 auto;
      font-size: 1.75em;
    }

    .buttons{
      pointer-events: none;
      margin: auto;
      align-items: center;

      top:2.5em;
      right:0;left:0;
      width: 22.5em;
      position: absolute;
      justify-content: space-between;
      button{
        pointer-events: all;
      }
    }
   
  }
}

@media (max-width: 480px) {
  .menu-bottom {
    height: 4em;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    height: fit-content;
    left: 0;
    background-color: var(--color-background-deeper-unactive);
    padding: 0.45em 6%;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-cont {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      height: fit-content;
      align-items: center;
      justify-content: center;
      column-gap: 1em;

      position: relative;

      .item {
        height: fit-content;
        overflow: hidden;
        max-width: 100%;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.25em;

        .main-button {
          position: absolute;
          top: -1.25em;
          left: 0;
          right: 0;
          margin: auto;

          box-shadow: 0px 7px 25px rgba($color: #ff0000, $alpha: 0.45);
          background-color: var(--color-primary);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.5em;
          height: 3.5em;

          .header-svg {
            height: 1.4em;

            fill: var(--color-background);
          }
        }
        p {
          font-size: 0.7em;
          line-height: 1;
          color: var(--color-foreground-unactive);
          font-weight: 600;
        }
        .active {
          color: var(--color-primary);
          font-weight: 700;
        }
      }
    }
  }

  .mobile-buttons-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;

    &.unactive > div,
    &.unactive > div:first-of-type {
      background-color: var(--color-foreground-unactive);

      .count {
        display: none;
      }
    }

    & > div:not(.admin-panel) {
      background-color: var(--color-secondary);
      width: 2em;

      padding: 0.45em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      height: 2em;

      position: relative;

      .count {
        font-size: 0.6em;
        border-radius: 100%;
        font-weight: 500;
        line-height: 1;
        width: 1.5em;
        height: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-background);
        position: absolute;
        top: -0.3em;
        right: -0.4em;
        background-color: var(--color-primary);
      }

      &:nth-of-type(2) {
        margin-right: 0.5em;
        background-color: var(--color-primary);
      }

      .header-top-svg {
        fill: var(--color-background);
        height: 100%;
        width: 100%;
      }
    }
  }

  .admin-svg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin-panel{
    position: static;
    margin: 0;
    margin-right: 0.5em;

      width: 2em;

      padding: 0.45em;
 
      height: 2em;

  }

  .header-svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--color-foreground-unactive);
  }

  .active {
    fill: var(--color-primary);
  }

  .header .label {
    font-size: var(--font-l);
    font-family: var(--font-family-accent);
  }

  .header {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    display: flex;
    justify-content: space-between;
    padding-right:6%;
    padding-left: 6%;

    .label,
    .svg-button {
      margin: 0;
    }
  }
}

app-modal {
  z-index: 10;
  position: fixed;
}
