.img {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: var(--modal-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .back,
  .next {
    position: absolute;
    opacity: 0.75;
    margin: auto;
    margin: 0;
    height: fit-content;
    width: fit-content;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .back {
    left: 0;
  }
  .next {
    right: 0;
  }

  .close-button {
      zoom: 0.9;
        font-weight: 1000;
        right: 1.5em;
        top: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        cursor: pointer;
        background-color: var(--color-background-deeper);
        transition: opacity 0.2s ease-in-out;
        &:hover{
          opacity: 1;
        }
    .close-icon {
      fill: var(--color-foreground-unactive);
    display: flex;
      align-items: center;
      justify-content: center;
      width: 0.75em;
      height: 0.75em;
    }
  }
  .viewed-image {
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: white;
    width: 50em;
    border-radius: 2em;
    margin: auto;

    height: 80%;
  }
  .arrow {
    height: 4em;
    margin: 2em;
    fill: var(--color-foreground);
  }
}



@media (max-width: 1200px) {
  .img {
    .viewed-image {
      width: 40em;
    }
  }
}

@media (max-width: 840px) {
  .img {
    .viewed-image {
      width: 35em;
    }
  }
}
@media (max-width: 720px) {
  .img .arrow {
    height: 4em;
    margin: 0 1.5em;
  }
}
@media (max-width: 600px) {
  .img {
    .viewed-image {
      width: 90%;
      height: 90vw;
    }
  }
}
@media (max-width: 600px) {
  .img .arrow {
    height: 4em;
    margin: 0 3.5vw;
  }
}
