<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="img" (click)="clickBackgroundNotContent($event)">
    <button class="back" *ngIf="currentImage!==0 && images.length>1" (click)="backClick()" >
    <svg-icon [applyClass]="true" class="arrow" [src]="'/assets/images/svg/back.svg'" />

    </button>

    
  <div
    class="viewed-image"
    [style.background-image]="'url(' + image + ')'"
    alt="Просматриваемое изображение"
  >
<button (click)="closeEmitter.emit()" class="close-button">
  <svg-icon [applyClass]="true" class="close-icon" [src]="'/assets/images/svg/close.svg'" />
</button>
</div>
<button class="next"  *ngIf="currentImage!==images.length-1 && images.length>1" (click)="nextClick()" >
<svg-icon  [applyClass]="true" class="arrow"  [src]="'/assets/images/svg/next.svg'" />
</button>
</div>


