
@mixin flex {
  align-items: center;
  justify-content: center;
  display: flex;
}

.user,
.status {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

app-modal{
  position: fixed;
  z-index: 10;
}

.update {
  position: relative;
  .delete-button {
    .svg-trash {
      @include flex;
      height: 0.9rem;
      width: 0.9rem;
      fill: var(--color-background);
    }
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    opacity: 0.5;
    background-color: var(--color-primary);
    width: 2em;
    @include flex;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 100%;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}
app-add-update {
  position: fixed;
  z-index: 10;
}
.updates {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.link {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  text-decoration: underline;

}
.icon {
  @include flex;

  fill: var(--color-foreground);
  width: 1em;
  height: 1em;
}
.header p.note {
  font-size: 0.9em;
  color: var(--color-foreground-unactive);
  letter-spacing: 0;
}


.filter{
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
.more-button{
  width: 100%;
  justify-content: center;
  margin-top: 2em;
  display: flex;
}
.note{
  font-size: 0.9em;
  margin-top: 0.5em;
  color: var(--color-foreground-unactive);
}

.no-updates{
  text-align: center;
  margin-top: 2em;
}
.head {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 1fr max-content;
}
.date {
  color: var(--color-foreground-unactive);
}

section {
  transition: 0.2s ease-in-out;
  padding: 1.5em;
  background-color: var(--color-background-deeper);
  border-radius: 8px;
}

.sections {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.main {
  margin-bottom: 0.5em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  margin-top: 1em;
  row-gap: 0.25em;
  .tag {
    line-height: 1;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.25em 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--scroll-body);
  }
}



.community {
  width: 10em;
}

.action-button {
  display: flex;
  justify-content: center;
}
