<div class="wrap">
  <div class="header">
    <h1>Обновления в <span>Yummy</span>!</h1>
    <p>Узнайте больше о выпущенных обновлениях</p>
    <p class="note">
      *Обновления в Yummy стали документироваться {{ "12.02.2023" | timePast |lowercase }}
    </p>

    <div class="community">
      <svg-icon
        [applyClass]="true"
        class="community-svg"
        [src]="'/assets/images/svg/comp.svg'"
      />
    </div>
  </div>

  <app-button
    class="action-button"
    *ngIf="currentUser.role !== 'user'"
    [text]="'Добавить обновление'"
    [icon]="'update'"
    [style]="'filled'"
    [color]="'prim'"
    (click)="addUpdateMode = true"
    [rounded]="true"
  ></app-button>

  <p *ngIf="updates.length === 0; else updatesTemplate" class="no-updates">
    Обновлений пока нет
  </p>

  <ng-template #updatesTemplate>
    <div class="updates">
      <p *ngIf="filtered !== 'no'" class="filter">
        <svg-icon
          [src]="'/assets/images/svg/filter.svg'"
          [applyClass]="true"
          class="icon"
        />
       <span>
          Обновления отфильтрованы по {{ filtered === "state" ? "состоянию" : "тегу" }}
          «{{ filterContext }}» (найдено {{showedUpdates.length}} <span
            appPluralRu=""
            [arVariants]="['обновление', 'обновления', 'обновлений']"
            [value]="showedUpdates.length"
          ></span
          >)
       </span>
      </p>
      <div *ngFor="let update of showedUpdates">
        <section class="update">
          <button
            class="delete-button"
            (click)="targetUpdateId = update.id; deleteModalShow = true"
            *ngIf="currentUser.role === 'admin' && showDeleteButton()"
          >
            <svg-icon
              [applyClass]="true"
              class="svg-trash"
              [src]="'/assets/images/svg/trash.svg'"
            ></svg-icon>
          </button>
          <div class="main">
            <div class="head">
              <h2>{{ update.fullName }}</h2>
              <p class="date">{{ update.date | timePast }}</p>
            </div>

            <p class="user" *ngIf="showAuthor(update)">
              <svg-icon
                [applyClass]="true"
                class="icon"
                [src]="'assets/images/svg/update-account.svg'"
              />
              <a [routerLink]="'/cooks/list/' + update.author"
                >{{ updateAuthorRole(update.author) | titlecase }}
                {{ updateAuthor(update.author) }}</a
              >
            </p>
          </div>
          <button
            (click)="filterByState(update.state)"
            class="status"
            *ngIf="update.state"
          >
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/lightbulb.svg'"
            />

            {{ update.state }}
          </button>
          <p *ngIf="update.description">{{ update.description }}</p>

          <a class="link" *ngIf="update.link" [routerLink]="update.link"
            >
            <svg-icon [src]="'/assets/images/svg/link.svg'" [applyClass]="true" class="icon" />
            Просмотреть изменения...</a
          >

          <ul *ngIf="update.tags.length > 0" class="tags">
            <li
              (click)="filterByTag(tag)"
              class="tag"
              *ngFor="let tag of update.tags"
            >
              {{ tag }}
            </li>
          </ul>
          <p class="note" *ngIf="update.whoCanView !== 'all'">
            *Запись об этом обновлении видят только администраторы и модераторы
          </p>
        </section>
      </div>
    </div>
    <app-button
      class="more-button"
      [text]="'Загрузить еще...'"
      (click)="loadMoreUpdates()"
      *ngIf="updates.length > showedUpdates.length && filtered === 'no'"
      [rounded]="true"
      [style]="'outlined'"
      [color]="'prim'"
    ></app-button>
    <app-button
      class="more-button"
      [text]="'Сбросить фильтр...'"
      (click)="clearFilter()"
      *ngIf="filtered !== 'no'"
      [rounded]="true"
      [style]="'outlined'"
      [color]="'prim'"
    ></app-button>
  </ng-template>
</div>

<app-add-update
  (closeEmitter)="addUpdateMode = false"
  @modal
  *ngIf="addUpdateMode"
></app-add-update>

<app-modal
  @modal
  [style]="'await'"
  [type]="'Ok'"
  [noButtons]="true"
  [style]="'await'"
  [title]="'Подождите...'"
  [type]="'Ok'"
  [description]="'Удаляем обновление... Подождите немного...'"
  *ngIf="awaitModalShow"
></app-modal>

<app-modal
  @modal
  *ngIf="deleteModalShow"
  [style]="'prim'"
  [title]="'Удаление обновления'"
  [type]="'yesOrNo'"
  (resultEmit)="handleDeleteModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что хотите удалить это обновление?'"
></app-modal>
