
.skeleton  {


  *{
    pointer-events: none;
  }
    p,a,h3,h1, img{
                animation: loading 1.7s infinite linear;
            background: #dedfe1;
        background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
        background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
        background-repeat: no-repeat;

        color:transparent !important;

    }
p,h3,h1{
    width: fit-content;
}
    img{
          object-position: -99999px 99999px;

    }
}

@keyframes loading {
    0% {
      background-position: -100px;
    }
  
    100% {
  background-position: 200px;
    }
  }