* {
  line-height: 1;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ico{
  fill: var(--color-foreground);
  width: 1.2em;
  min-width: 1.2em;
  max-width: 1.2em;display: flex;
    align-items: center;
    justify-content: center;
  height: 1.2em;
  transition: fill 0.1s;
}

.achievements{
  row-gap: 0.5em;
}

.achievement{
  &.hovered 
  {
    .ico{
    fill: var(--hover-color);
  }
  p{
    color: var(--hover-color);
  }
}
  p{
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
  }
  display: flex;
  column-gap:var(--space-xs);
align-items: center;
  .box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.online span {
  width: 0.6em;
  border-radius: 100%;
  height: 0.6em;

  &.on {
    background-color: rgb(113, 255, 113);
  }

  background-color: var(--scroll-thumb);
}

.online {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

app-modal {
  position: fixed;
  z-index: 10;
}

.img-cont {
  position: relative;

  & .emoji-button:hover~.userpic {
    box-shadow: 0 0 0px 3px var(--color-primary-focus);
  }

  & .hire-button:hover~.userpic {
    box-shadow: 0 0 0px 3px var(--color-admin-focus);
  }

  .emoji-status {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    border-radius: 100%;

    max-width: 44px;
    max-height: 44px;

    min-width: 44px;
    min-height: 44px;

    &.no-emoji {
      background-color: var(--scroll-body);
      border-radius: 100%;

      &::after {
        width: 0;
        height: 0;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: 0.2s;
        content: "";
        background-color: var(--color-primary-focus);
      }

      &:hover,
      &:focus,
      &.emoji-picker-open,
      &:active {
        &::after {
          width: 100%;
          height: 100%;
        }
      }
    }

    .add-emoji {
      @include flex;
      zoom: 1;
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 4.5px;
      fill: var(--color-foreground);
    }
  }

  .emoji-pick {
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }

  .hire-button {
    z-index: 1;

    &::after {
      width: 0;
      height: 0;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transition: 0.2s;
      content: "";
      background-color: var(--color-admin-focus);
    }

    &:hover {
      &::after {
        width: 100%;
        height: 100%;
      }
    }

    @include flex;
    background-color: var(--scroll-body);
    border-radius: 100%;
    position: absolute;
    top: 0.25em;
    max-width: 44px;
    max-width: 44px;
    min-width: 44px;
    min-height: 44px;
    right: 0.25em;

    .hire-svg {
      z-index: 1;
      fill: var(--color-foreground);
      max-width: 44px;
      @include flex;
      padding: 5px;
      width: 100%;
      height: 100%;
      right: 0.25em;
      max-height: 44px;
    }
  }
}

app-button {
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: var(--space-unit);

  margin: var(--space-xl) auto;

  .block2,
  .block1,
  .block3 {
    position: relative;

    width: 50vw;
    justify-content: center;
  }

  .block1 .main .info {
    flex: unset;
  }

  .info {
    width: 30vw;
  }
}

.showFollowers {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: underline;

  .bold {
    font-weight: 600;
  }
}

button.showFollowers:focus,
button.showFollowers:hover {
  transform: translateY(-0.2em);
}

.row {
  display: flex;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.block2 {
  display: flex;

  column-gap: var(--space-m);

  button {
    border-bottom: 3px var(--color-foreground-unactive) solid;
    color: var(--color-foreground-unactive);
    letter-spacing: 3px;
    padding: var(--space-s) var(--space-m);
    width: 10em;
    font-weight: 500;
    font-size: var(--font-m);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      letter-spacing: 4px;
    }

    &.active-button:hover,
    &.active-button:focus {
      border-color: var(--color-primary-focus);
      color: var(--color-primary-focus);
      letter-spacing: 5px;
    }
  }

  .active-button {
    font-weight: 700;
    border-color: var(--color-primary);
    color: var(--color-primary);
    letter-spacing: 5px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.userpic {

  --border-width: 3px;
  min-width: 10em;
  height: 10em;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  border: 1px solid #e1e0e0;
  background-color: #f4f4f4;
  margin: 0 auto;
  min-width: 10em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;



  &.loading {
    background-color: var(--loading);
    border: none;
    animation: loading 0.75s infinite linear;
  }


}

@keyframes loading {
  0% {
    background-color: var(--loading);

  }

  50% {
    background-color: var(--loading-accent);
  }

  100% {
    background-color: var(--loading);
  }
}

.center {
  display: flex;
  align-items: flex-start;
  column-gap: var(--space-xs);
}

.additional {
  flex: unset;
  width: fit-content;
  margin: 0 auto;
}

.additional ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;

  a {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: underline;
  }
}

.noRecipes {
  flex-direction: column;
  row-gap: 1.1em;
  align-items: center;
  display: flex;
  justify-content: center;
  p{
    color: var(--color-foreground);
  }
}

app-vertical-recipe-list {
  width: 100%;
  padding: 0 calc(150px + 100 * ((100vw - 900px) / (1280 - 900)));
}



.socialAndAdd {
  display: grid;
  justify-content: center;
  width: 100%;
  column-gap: 1em;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;

  svg {
    transition: 0.2s ease-in-out;
  }

  a {
    transition: 0.2s ease-in-out;

    &:hover,
    &:focus {
      padding-left: 0.5em;

      span {
        color: var(--color-primary-focus);
      }

      svg {
        fill: var(--color-primary-focus);
      }
    }

    span {
      color: var(--color-primary);
      font-weight: 600;
      transition: 0.2s ease-in-out;
      text-decoration: underline;
    }
  }
}


.additional ul .website {
  transition: 0.2s ease-in-out;

  a {
    transition: 0.2s ease-in-out;
  }

  .red-svg {
    width: 1.2em;
    height: 1em;
    fill: var(--color-primary);
    transition: 0.1s ease-in-out;
  }

  &:hover,
  &:focus {
    padding-left: 0.5em;

    a {
      color: var(--color-primary-focus);
    }

    .red-svg {
      fill: var(--color-primary-focus);
    }
  }
}

.share * {
  text-align: center;
}





svg {
  height: 1em;
  width: 2em;

  fill: var(--color-primary);
}

.svg-additional,
.svg-link {
  height: 1em;
  width: 1.2em;

  fill: var(--color-foreground);
}

.svg-link {
  fill: var(--color-primary);
}

.block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .social {
    .soc{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    flex-wrap: wrap;
    column-gap: 0.65em;row-gap: 0.4em;    align-items: center;
    justify-content: center;

    button {
      transition: 0.2s ease-in-out;
    }

    button:hover,
    button:focus {
      transform: translateY(-0.2em);
    }
  }

  row-gap: var(--space-l);

  h3 {
    margin-bottom: var(--space-s);
    font-weight: 700;
    font-size: var(--font-m);
  }
}
.social-block h3{
  text-align: center;
}


.block1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);

  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: var(--space-m);

    p {
      margin: 0 auto;
    }

    p span:first-of-type {
      font-weight: 600;
    }
  }

  .main {
    align-items: center;
    justify-content: center;
    column-gap: var(--space-l);

    .info {
      row-gap: var(--space-s);
    }

    .name {
      .username {
        font-weight: 500;
        color: var(--color-foreground-unactive);
      }

      h1 {
        display: inline;
        font-family: var(--font-family-accent);
        font-size: var(--font-m);
        margin-bottom: var(--space-xxs);
      }
    }
  }
}

@media (max-width: 1200px) {
  .img-cont .hire-button {
    zoom: 0.9;


    top: 0;
    right: 0;
  }

  .emoji-button {
    bottom: 0;
    left: 0;
    zoom: 0.9;
  }
}

@media (max-width: 900px) {


  app-vertical-recipe-list {
    padding: 0;
    width: calc(330px + 100 * ((100vw - 550px) / (900 - 550)));
  }

  .emoji {
    zoom: 0.8;
  }

  .container {

    .block1,
    .block2,
    .block4,
    .block3 {
      width: calc(100vw - 2 * (14.4vw + 0 * (100vw - 768px) / 760));
    }
  }

  a {
    text-overflow: ellipsis;
    word-wrap: nowrap;
    overflow: hidden;
  }

  .container {
    .socialAndAdd {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}

@media (max-width: 540px) {
        .container .info {
            width: unset;
          }

  .img-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .emoji-status,
    .emoji-pick {
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .emoji-status {
      left: -10em;
      right: 0;
    }

    .hire-button {
      right: -10em;
      left: 0;
      margin: auto;
    }
  }

  .block1 {
    .statistics {
      display: flex;
      column-gap: 1.25em;
    }

    .col {
      flex: unset;
    }

    .main {
      flex-direction: column;
      row-gap:1em;

      .info {
        * {
          margin: 0 auto;
          text-align: center;
          max-width: fit-content;
        }
      }
    }
  }

  .additional {
    margin: 0;
  }

  .container .socialAndAdd {
    flex-direction: column-reverse;
    display: flex;
    align-items: flex-start;
    row-gap: var(--space-l);
  }

  .block2 {
    button {
      padding-left: 0em;
      padding-right: 0em;
      width: 8.5em;
    }
  }
}

app-user-account-edit {
  z-index: 10;
  position: fixed;
}

app-followers-and-following,
app-settings {
  z-index: 10;
  position: fixed;
}

.exit {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: -1em;
  width: 1.5em;
  height: 2em;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.exit.no-path {
  cursor: default;
  opacity: 0.25;

  &:hover {
    opacity: 0.25;
  }
}

.settings {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: -1em;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.svg {
  fill: var(--color-foreground);
  width: 1.5em;
  height: 1.5em;
}

@media (max-width: 480px) {

  
  .container .info {
    width: 100%;
  }

  app-vertical-recipe-list {
    width: 100%;
    padding: 0;
    padding-left: 6%;
  }
  .exit{
    left:1em
  }
  .settings{
    right:1em
  }
  .exit,.settings{
    z-index: 2;
    zoom:1.2
  }

  .container{ .block1,.block2, .block3{
    width: calc(100% - 15%);
  }}

  .block2 {
    button {
      zoom: 0.8;
    }
  }
}

@media (max-width: 400px) {
  .emoji-pick {
    zoom: 0.85;
  }
}
@media(max-width:320px){
    .social {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
}