<ng-template #skeleton>
  <!--доделать!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! потом и футер тоже внизу прикрепить потом /сделать картинки для нет рецептов  инет подписчиков-->

  <div class="container skeleton" @fadeIn>
    <div class="block block1">
      <div class="row main">
        <img src="../../../../../assets/images/userpic.png" alt="User Photo" />
        <div class="col info">
          <div class="col name">
            <h1>Полина Кузьменок</h1>
            <p class="username">@krabochki</p>
          </div>

          <p class="quote">как говорила коко шанель я подумаю об этом завтра</p>

          <app-button
            [disabled]="false"
            [color]="'prim'"
            [style]="'filled'"
            [rounded]="true"
            [text]="'Подписаться'"
          ></app-button>
        </div>
      </div>
      <div class="row" class="statistics">
        <div class="col">
          <p>20 рецептов</p>
        </div>
        <div class="col">
          <p class="showFollowers">20 подписчкиов</p>
        </div>
        <div class="col">
          <p class="showFollowers">20 подписок</p>
        </div>
      </div>
    </div>

    <div class="block block2">
      <button>Рецепты</button>
      <button>Подробнее</button>
    </div>

    <div class="block block3">
      <div class="col">
        <h3>Описание</h3>
        <p>
          Тут будет очень душераздирающее описание, которое тронет сердце любого
          человека
        </p>
      </div>
      <div class="row" class="socialAndAdd">
        <div class="col">
          <h3>Социальные сети</h3>
          <ul class="col" class="links">
            <li class="link" class="row">
              <a href="" style="margin-right:0.5em">Ico</a>
               <a> Facebook</a>
            </li>
             <li class="link" class="row">
                            <a href="" style="margin-right:0.5em">Ico</a>

              <a> Instagram</a>
            </li>
             <li class="link" class="row">
                            <a href="" style="margin-right:0.5em">Ico</a>

              <a> ВКонтакте</a>
            </li>
             <li class="link" class="row">
                            <a href="" style="margin-right:0.5em">Ico</a>

              <a> Pinterest</a>
            </li>
             <li class="link" class="row">
                            <a href="" style="margin-right:0.5em">Ico</a>

              <a> Youtube</a>
            </li>
          </ul>
        </div>
        <div class="col additional">
          <h3>Доп. сведения</h3>
          <ul>
            <li class="row center">
              <a> http://the-best-website</a>
            </li>
            <li class="row center">
              <p>Гродно, Беларусь</p>
            </li>
            <li class="row center">
              <p>{{ "01.01.2001" | date: "fullDate" }}</p>
            </li>
            <li class="row center">
              <p>
                20 просмотров профиля,
                <br />
                100 оценок «Мне нравится», <br />
                100 подписчиков
                <br />
                30 рецептов приготовлено
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="container" *ngIf="dataLoaded; else skeleton">
  <div class="block block1">
    <div class="row main">
      <img
        [src]="
          user?.avatarUrl
            ? user?.avatarUrl
            : '../../../../../assets/images/userpic.png'
        "
        alt="User Photo"
      />
      <div class="col info">
        <div class="col name">
          <h1>{{ user?.fullName }}</h1>
          <p class="username">{{ "@" + user?.username }}</p>
        </div>

        <p class="quote" *ngIf="user?.quote">{{ user?.quote }}</p>

        <app-button
          [disabled]="!(currentUser.id === 0)"
          [color]="'prim'"
          [style]="
            userService.isUserSubscriber(user, currentUser.id) || myPage
              ? 'outlined'
              : 'filled'
          "
          [rounded]="true"
          [text]="
            this.myPage
              ? 'Изменить профиль'
              : userService.isUserSubscriber(user, currentUser.id)
              ? 'Отписаться'
              : 'Подписаться'
          "
        ></app-button>
      </div>
    </div>
    <div class="row" class="statistics">
      <div class="col">
        <p>
          <span>{{ userRecipes.length }} </span>

          <span
            appPluralRu=""
            [value]="userRecipes.length"
            [arVariants]="['рецепт', 'рецепта', 'рецептов']"
          ></span>
        </p>
      </div>
      <div class="col">
        <p
          class="showFollowers"
          (click)="obj = 'followers'; showFollows = true"
        >
          <span>{{ userFollowers!.length }} </span>

          <span
            appPluralRu=""
            [value]="userFollowers!.length"
            [arVariants]="['подписчик', 'подписчика', 'подписчиков']"
          ></span>
        </p>
      </div>
      <div class="col">
        <p
          class="showFollowers"
          (click)="obj = 'following'; showFollows = true"
        >
          <span>{{ userFollowing!.length }} </span>

          <span
            appPluralRu=""
            [value]="userFollowing!.length"
            [arVariants]="['подписка', 'подписки', 'подписок']"
          ></span>
        </p>
      </div>
    </div>
  </div>

  <div class="block block2">
    <button
      [ngClass]="{ 'active-button': recipesEnabled }"
      (click)="recipesEnabled = true; moreInfoEnabled = false"
    >
      Рецепты
    </button>
    <button
      [ngClass]="{ 'active-button': !recipesEnabled }"
      (click)="recipesEnabled = false; moreInfoEnabled = true"
    >
      Подробнее
    </button>
  </div>

  <ng-template #recipes>
    <ng-template #noRecipes
      ><div class="noRecipes" >
       <p> У этого кулинара пока нет своих рецептов :(</p>

         <svg-icon
                [src]="
                  '../../../../../assets/images/svg/sad-cook.svg'
                "
               [svgStyle]="{
                
                'height.em': '12', 'width.em':'12',
                fill: 'var(--color-foreground)'
              }"
                >></svg-icon
              >
      </div></ng-template
    >
    <app-recipe-list
      *ngIf="userRecipes.length > 0; else noRecipes"
      [recipes]="userRecipes"
    ></app-recipe-list>
  </ng-template>

  <div class="block block3" *ngIf="moreInfoEnabled; else recipes">
    <div class="col" *ngIf="user?.description">
      <h3>Описание</h3>
      <p>{{ user?.description }}</p>
    </div>
    <div class="row" class="socialAndAdd">
      <div class="col" *ngIf="user?.socialNetworks?.length! > 0">
        <h3>Социальные сети</h3>
        <ul class="col" class="links">
          <li
            class="link"
            class="row"
            *ngFor="let social of user?.socialNetworks"
          >
            <a [href]="social.link" class="center">
              <svg-icon
                [src]="
                  '../../../../../assets/images/svg/non-fill-' +
                  (social.name == 'ВКонтакте' ? 'vkontakte' : social.name) +
                  '.svg'
                "
                [class]="'svg'"
                >></svg-icon
              >

              <span>{{ social.name | titlecase }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="col additional"
        [ngStyle]="{
          'max-width': !user?.socialNetworks ? 'fit-content' : 'unset'
        }"
      >
        <h3
          [ngStyle]="{
            'text-align': !user?.socialNetworks ? 'center' : 'left'
          }"
        >
          Доп. сведения
        </h3>
        <ul>
          <li class="row center" *ngIf="user?.personalWebsite">
            <svg-icon
              [src]="'../../../../../assets/images/svg/planet.svg'"
              [svgStyle]="{
                'width.em': '1.2',
                'height.em': '1',
                fill: 'var(--color-primary)'
              }"
              >></svg-icon
            >
            <a [href]="user?.personalWebsite"> {{ user?.personalWebsite }}</a>
          </li>
          <li class="row center" *ngIf="user?.location">
            <svg-icon
              [src]="'../../../../../assets/images/svg/geo.svg'"
              [svgStyle]="{
                'width.em': '1.2',
                'height.em': '1',
                fill: 'var(--color-foreground)'
              }"
            ></svg-icon>
            <p>{{ user?.location }}</p>
          </li>
          <li class="row center" *ngIf="user?.registrationDate">
            <svg-icon
              [src]="'../../../../../assets/images/svg/info.svg'"
              [svgStyle]="{
                'width.em': '1.2',
                'height.em': '1',
                fill: 'var(--color-foreground)'
              }"
              >></svg-icon
            >
            <p>{{ user?.registrationDate | date: "fullDate" }}</p>
          </li>
          <li class="row center">
            <svg-icon
              [src]="'../../../../../assets/images/svg/analytics.svg'"
              [svgStyle]="{
                'width.em': '1.2',
                'height.em': '1',
                fill: 'var(--color-foreground)'
              }"
            >
            </svg-icon>

            <p>
              {{ profileViews }}
              <span
                appPluralRu=""
                [value]="profileViews"
                [arVariants]="['просмотр', 'просмотра', 'просмотров']"
              ></span>
              профиля,
              <br />
              {{ likes }}

              <span
                appPluralRu=""
                [value]="likes"
                [arVariants]="['оценка', 'оценки', 'оценок']"
              ></span>
              «Мне нравится», <br />
              {{ comments }}
              <span
                appPluralRu=""
                [value]="comments"
                [arVariants]="['подписчик', 'подписчика', 'подписчиков']"
              ></span
              >,
              <br />
              {{ cooks }}
              <span
                appPluralRu=""
                [value]="cooks"
                [arVariants]="['рецепт', 'рецепта', 'рецепта']"
              >
              </span>
              <span
                appPluralRu=""
                [value]="cooks"
                [arVariants]="[
                  ' приготовлен',
                  ' приготовлено',
                  ' приготовлено'
                ]"
              ></span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-followers-and-following
  @modal
  [userPage]="user"
  [currentUser]="currentUser"
  [followers]="userFollowers"
  [following]="userFollowing"
  *ngIf="showFollows"
  [object]="obj"
  l
  (closeEmitter)="closeFollows($event)"
></app-followers-and-following>
