@import '../../../../../../tools/UI/UI.scss';






.fridge{
  height: 11em;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  fill: var(--color-foreground);
}
.main {
  padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);

  width: 100%;
  margin: 0 auto;
  position: relative;

    margin: 1.7em 0;

    app-button{
    margin: 0 auto;
        margin-top: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

}
    h1{
  line-height: 1;
  font-weight: 600;
  font-size: var(--font-xxl);
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--font-family-accent);


}
    
}
.no-recipes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    font-size: 1.5em;
  }
}



@media (max-width: 480px) {


  h1{
        padding-right: 6%;

  }
  .main  {
    padding-left: 6%;
    padding-right: 0;
  }
}
