<div class="container">
  <input
    [(ngModel)]="value"
    [disabled]="disabled"
    (blur)="blur()"
    autocomplete="off"
    
    (keyup)="change()"
    (ngModelChange)="search()"
    (focus)="focus()"
     [ngClass]="{
      uncorrect: error !== ''
    }"
    type="text"
     [maxlength]="max ? max : null"
    [placeholder]="placeholder"
  /> 
    <p class="howmuch noselect" *ngIf="(max!==undefined)">{{value? value.length:0 }}/{{ max }}</p>


  <div class="autocomplete" @height *ngIf="autocompleteShow">
    <div class="section noone" *ngIf="noAnySearchMatches">
      <p>
        {{ noSearchMatchDescription }}
      </p>
    </div>

    <div *ngIf="context === 'categories'">
      <div class="section" *ngFor="let item of group">
        <h2>{{ item.section.name }}</h2>

        <ol>
          <li
            (mousedown)="
              addCategory(category); this.value = ''; copyOfFullGroup()
            "
            *ngFor="let category of item.categories; let i = index"
          >
            <div class="num">{{ i + 1 }}</div>
            <p class="content">{{ category.name }}</p>
          </li>
        </ol>
      </div>
    </div>
    
    <ng-container  *ngIf="context === 'groups'">
      <ol class="one-layer">
        <li
          (mousedown)="addIngredientGroup(item); this.value = ''"
          *ngFor="let item of filterIngredientsGroups; let i = index"
        >
          <div class="num">{{ i + 1 }}</div>
          <p class="content">{{ item.name }}</p>
        </li>
      </ol>
    </ng-container>
    <ng-container *ngIf="context === 'sections'">
      <ol class="one-layer">
        <li
          (mousedown)="addSection(item); this.value = ''"
          *ngFor="let item of mySections; let i = index"
        >
          <div class="num">{{ i + 1 }}</div>
          <p class="content">{{ item.name }}</p>
        </li>
      </ol>
    </ng-container>

    <ng-container *ngIf="context === 'any'">
      <ol class="one-layer">
        <li (mousedown)="addAny(item); this.value = ''" *ngFor="let item of filterAnyData; let i = index">
          <div class="num">{{ i + 1 }}</div>
          <p class="content">{{ item }}</p>
        </li>
      </ol>
    </ng-container>
    <ng-container *ngIf="context === 'ingredients'">
      <ol class="one-layer">
        <li
          (mousedown)="addIngredient(ingredient);"
          class="section"
          *ngFor="let ingredient of filterIngredients; let i = index"
        >
          <div class="num">{{ i + 1 }}</div>
          <p class="content">{{ ingredient.name }}</p>
        </li>
      </ol>
    </ng-container>
  </div>
</div>
