
.container {
  width: 100%;
  position: relative;

  .section:first-of-type h2 {
    margin-top: 0.5em;
  }
}



h2 {
  font-weight: 700;
  margin-bottom: 0.5em;
  padding: 0 1em;
  margin-top: 1em;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section.noone {
  height: 20vh;
  text-align: center;
  padding: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 0.9em;
    line-height: 1.14;
  }

 
}

.autocomplete {
  background-color: var(--color-background-deeper);
  position: absolute;
  top: calc(var(--base) + var(--space-xs) + var(--space-m));

  z-index: 3;
  width: 100%;
  z-index: 100;

  height: 20vh;
  border-radius:  var(--space-s) var(--space-s);


  overflow-y: auto !important;

  .num {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    color: var(--color-background);
    width: 1.2em;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    height: 1.2em;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 100%;
  }

  li.sections:hover{
    padding-left: 1.5em;
  }
  li.sections{
    padding-left: 1em;

  }
  li {
    max-width: 100%;
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    cursor: pointer;
    padding: 0.25em 1em;
    padding-left: 2em;
    transition:
      background-color 0.3s ease-in-out,
      font-weight 0.3s ease-in-out,
      padding-left 0.3s ease-in-out;
    &:nth-of-type(2n + 1) {
      background-color: var(--color-background-deeper-unactive);
    }
    &:hover {
      background-color: var(--color-secondary);
      font-weight: 600;
      padding-left: 2.5em;

      .num {
        background-color: var(--color-background);
        color: var(--color-secondary);
      }
      .content {
        color: var(--color-background);
      }
    }

    &:first-of-type {
    }
    .content {
      transition: color 0.2s ease-in-out;
      padding-left: 0.3em;
      text-overflow: ellipsis;
      overflow: hidden !important;
      
    }
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}



input:focus {
  background-color: var(--color-background-deeper);
}
input {  width: 100%;

  &:disabled{
    opacity: 0.5;
  }

  background-color: var(--color-background-deeper-unactive);
  padding: var(--space-s);
  border-radius: var(--space-m);
  caret-color: var(--color-secondary);
  border: 1px solid var(--color-foreground-unactive);
  font-weight: 400;
  padding: 0.65em 0.8em;
  transition: 0.2s ease-in-out;
  &:focus {
    border-color: var(--color-secondary);
  }
}
