
@import '../../../../tools/UI/UI.scss';
:host {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    font-weight: 500;
    width: 2.75em;
    cursor: unset;
    text-align: center;
  }
  

  .modify {
    padding: 0.7em;
    font-size: 0.9em;
    display: flex;
    color: var(--color-background);
    font-weight: 700;
    align-items: center;
    justify-content: center;
    width: 1.3em;
        height: 1.3em;
line-height: 1;
    border-radius: 100%;
transition: background-color 0.15s ease-in-out;

  
 &.decrease {
      background-color: var(--color-primary);
    }

    &.increase {
            background-color: var(--color-secondary);

    }
    
      &.disabled{
      cursor: unset;
      background-color: var(--color-foreground-unactive);
    }
  }
}