<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="wrap" [ngClass]="{
    dislike:
      comment.dislikesId.length > comment.likesId.length &&
      comment.dislikesId.length > 5
  }">
    <div class="userpic"></div>
    <div class="content">
        <a class="header" [routerLink]="'/cooks/list/' + author.id">
            <h1>
                {{ author.fullName !== "" ? author.fullName : "@" + author.username }}

                <span *ngIf="comment.authorId === recipe.authorId">·</span>
                <span *ngIf="comment.authorId === recipe.authorId">Автор рецепта</span>
            </h1>
            <p class="date">{{ date | timePast }}</p>
        </a>
        <p class="text">{{ comment.text }}</p>
        <div class="footer">
            <div class="likes">
                <div class="like" (click)="likeComment()"
                    [ngClass]="{ liked: comment.likesId.includes(currentUser.id) }">
                    <svg-icon class="like-svg" *ngIf="!comment.likesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/like-comment.svg'"></svg-icon>
                    <svg-icon class="like-svg" *ngIf="comment.likesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/like-comment-fill.svg'"></svg-icon>
                    <span>{{ comment.likesId.length }}</span>
                </div>
                <div (click)="dislikeComment()" class="like"
                    [ngClass]="{ disliked: comment.dislikesId.includes(currentUser.id) }">
                    <svg-icon class="like-svg" *ngIf="!comment.dislikesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/dislike.svg'"></svg-icon>
                    <svg-icon *ngIf="comment.dislikesId.includes(currentUser.id)" class="like-svg" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/broken-heart-fill.svg'"></svg-icon>
                    <span>{{
                        comment.dislikesId.length === 0
                        ? 0
                        : "−" + comment.dislikesId.length
                        }}</span>
                </div>
            </div>
            <div class="actions">
                <div class="action" (click)="copy()">
                    <svg-icon class="like-svg" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/copy.svg'"></svg-icon>
                    <span>{{ !copyState ? "Копировать" : "Скопировано" }}</span>
                </div>
                <div [ngClass]="{'haveReport':haveReport}" [title]="haveReport?'Вы уже подавали жалобу на этот комментарий':''" (click)="haveReport?null:reportCommentModalShow = true" class="action red" *ngIf=" currentUser.id !== comment.authorId; else remove">
                    <svg-icon class="like-svg" [applyClass]="true"
                        [src]="'../../../../../assets/images/svg/report.svg'"></svg-icon>
                    <span>Жалоба</span>
                </div>
                <ng-template #remove>
                    <div class="action red" (click)="deleteCommentModalShow=true">
                        <svg-icon class="like-svg" [applyClass]="true"
                            [src]="'../../../../../assets/images/svg/trash.svg'"></svg-icon>
                        <span>Удалить</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<app-modal @modal *ngIf="deleteCommentModalShow" [style]="'prim'" [title]="'Удаление комментария'" [type]="'yesOrNo'"
    (resultEmit)="handleDeleteCommentModal($event)" [buttonsText]="['Да', 'Нет']"
    [description]="'Ты действительно хочешь удалить этот комментарий?'"></app-modal>

    <app-modal @modal *ngIf="reportCommentModalShow" [style]="'prim'" [title]="'Жалоба на комментарий'" [type]="'yesOrNo'"
    (resultEmit)="handleReportCommentModal($event)" [buttonsText]="['Да', 'Нет']"
    [description]="'Ты действительно хочешь подать жалобу на этот комментарий?'"></app-modal>

        <app-modal @modal *ngIf="successReportCommentModalShow" [style]="'sec'" [title]="'Жалоба успешно отправлена'" [type]="'Ok'"
    (resultEmit)="handleSuccessReportCommentModal()" [buttonsText]="['Хорошо']"
    [description]="'Жалоба успешно отправлена модератору и будет обработана в ближайшее время'"></app-modal>