<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="wrap" [ngClass]="{
    dislike:
      comment.dislikesId.length > comment.likesId.length &&
      comment.dislikesId.length > 5
  }">
    <div class="userpic" [style.background-image]="'url('+(avatar?avatar:noAvatar)+')'"></div>
    <div class="content">
        <a class="header" [ngClass]="{'nolink':!showCommentAuthor}" [routerLink]="showCommentAuthor?'/cooks/list/' + author.id:null">
            <h1>
                {{ showCommentAuthor? author.fullName !== "" ? author.fullName : "@" + author.username :'Автор скрыт' }}

               <ng-template *ngIf="showRecipeAuthor && showCommentAuthor && comment.authorId === recipe.authorId">
                    <span class="noselect">·</span>
                    <span>Автор рецепта</span>
               </ng-template>
            </h1>
            <p class="date">{{ date | timePast }}</p>
        </a>
        <p class="text">{{ comment.text }}</p>
        <div class="footer noselect">
            <div class="likes" >
                <button class="like" (click)="currentUser.id>0?likeComment():noAccessModalShow=true"
                    [ngClass]="{ liked: comment.likesId.includes(currentUser.id) }">
                    <svg-icon class="like-svg" *ngIf="!comment.likesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'assets/images/svg/like-comment.svg'"></svg-icon>
                    <svg-icon class="like-svg" *ngIf="comment.likesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'assets/images/svg/like-comment-fill.svg'"></svg-icon>
                    <span>{{ comment.likesId.length }}</span>
                </button>
                <button (click)="currentUser.id>0?dislikeComment():noAccessModalShow=true" class="like like-dislike"
                    [ngClass]="{ disliked: comment.dislikesId.includes(currentUser.id) }">
                    <svg-icon class="like-svg" *ngIf="!comment.dislikesId.includes(currentUser.id)" [applyClass]="true"
                        [src]="'assets/images/svg/dislike.svg'"></svg-icon>
                    <svg-icon *ngIf="comment.dislikesId.includes(currentUser.id)" class="like-svg" [applyClass]="true"
                        [src]="'assets/images/svg/broken-heart-fill.svg'"></svg-icon>
                    <span>{{
                        comment.dislikesId.length === 0
                        ? 0
                        : "−" + comment.dislikesId.length
                        }}</span>
                </button>
            </div>
            <div class="actions">
                <button class="action" (click)="copy()">
                    <svg-icon class="like-svg" [applyClass]="true"
                        [src]="'assets/images/svg/copy.svg'"></svg-icon>
                    <span>{{ !copyState ? "Копировать" : "Скопировано" }}</span>
                </button>
                <button  [ngClass]="{'haveReport':haveReport}" [title]="haveReport?'Вы уже подавали жалобу на этот комментарий':''" (click)="currentUser.id>0?(haveReport?null:reportCommentModalShow = true):noAccessModalShow=true" class="action red" *ngIf=" currentUser.id !== comment.authorId; else remove">
                    <svg-icon class="like-svg" [applyClass]="true"
                        [src]="'assets/images/svg/report.svg'"></svg-icon>
                    <span>Жалоба</span>
                </button>
                <ng-template #remove>
                    <button class="action red" (click)="deleteCommentModalShow=true">
                        <svg-icon class="like-svg" [applyClass]="true"
                            [src]="'assets/images/svg/trash.svg'"></svg-icon>
                        <span>Удалить</span>
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<app-modal @modal *ngIf="deleteCommentModalShow" [style]="'prim'" [title]="'Удаление комментария'" [type]="'yesOrNo'"
    (resultEmit)="handleDeleteCommentModal($event)" [buttonsText]="['Да', 'Нет']"
    [description]="'Ты действительно хочешь удалить этот комментарий?'"></app-modal>

    <app-modal @modal *ngIf="reportCommentModalShow" [style]="'prim'" [title]="'Жалоба на комментарий'" [type]="'yesOrNo'"
    (resultEmit)="handleReportCommentModal($event)" [buttonsText]="['Да', 'Нет']"
    [description]="'Ты действительно хочешь подать жалобу на этот комментарий?'"></app-modal>

        <app-modal @modal *ngIf="successReportCommentModalShow" [style]="'sec'" [title]="'Жалоба успешно отправлена'" [type]="'Ok'"
    (resultEmit)="handleSuccessReportCommentModal()" [buttonsText]="['Хорошо']"
    [description]="'Жалоба успешно отправлена модератору и будет обработана в ближайшее время'"></app-modal>


    
  <app-modal
  @modal
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к комментариям ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте','Не сейчас']"
  [description]="'Взаимодействовать с комментариями  могут только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'"
></app-modal>