<div class="main-cont">
  <div class="grocery-list">
    <h1>Список покупок</h1>

    <h2 class="main">Ваш список покупок</h2>

    <p class="howMuch" *ngIf="actualShoppingList.length > 0">
      {{ actualShoppingList.length }}
      <span appPluralRu="" [value]="actualShoppingList.length"
        [arVariants]="['продукт', 'продуктов', 'продуктов']"></span>
    </p>

    <div class="img-cont">
      <div class="content">
        <ng-template #noProducts>
          <p class="no-products noselect">
            В вашем списке ингредиентов пока нет продуктов. Попробуйте создать
            новый продукт сами или добавить его из ингредиентов на странице
            какого-нибудь рецепта
          </p>
          <div class="no-reps-icon">
            <svg-icon class="no-recipes-svg" [applyClass]="true"
              [src]="'assets/images/svg/grocery/no-recipes.svg'"></svg-icon>
          </div>
        </ng-template>

        <div class="boundary" cdkDropListGroup *ngIf="actualShoppingList.length > 0; else noProducts">
          <p *ngIf="data.length>1" class="advice">Вы можете перетаскивать продукты из одного списка в другой</p>
          <div class="type" *ngFor="let d of data; trackBy: trackByItems">
            <h4 class="type-name" [style]="{ color: d.type.color }">
              <svg-icon [applyClass]="true" class="category-svg" [applyClass]="true" [ngStyle]="{ fill: d.type.color }"
                [src]="d.type.image ? baseSvgPath + d.type.image + '.svg' : ''"></svg-icon>

              {{ d.type.name }}
            </h4>

            <ul  class="product-list" cdkDropList [cdkDropListData]="d.items" (cdkDropListDropped)="drop($event)">
              <div class="no-any-products" *ngIf="d.items.length === 0">
                Вы перенесли все продукты в другой список
              </div>
              <li class="product-info" [class.purchased]="item.isBought" (cdkDragStarted)="dragStart()"
                [cdkDragData]="item" *ngFor="let item of d.items; trackBy: trackByItems" cdkDragBoundary=".boundary"
                cdkDrag>
                <div class="main-product-info">
                  <button [ngStyle]="{ 'border-color': d.type.color }" (click)="markProductAsBought(item.id)"
                    class="buy-button">
                    <svg-icon [ngStyle]="{ fill: d.type.color }" *ngIf="item.isBought" [applyClass]="true"
                      class="checkbox-svg" [src]="baseSvgPath + 'checkbox.svg'"></svg-icon>
                  </button>
                  <a tabindex="-1" [ngClass]="{ link: item.relatedRecipe }" [routerLink]="
                      item.relatedRecipe
                        ? '/recipes/list/' + item.relatedRecipe
                        : null
                    " class="product-name">
                    {{ item.name }}
                  </a>
                  <div class="product-quantity">
                    {{ item.howMuch }}
                  </div>

                  <button (click)="removeProduct(item.id)" class="cross-button">
                    <svg-icon [ngStyle]="{ fill: d.type.color }" [applyClass]="true" class="cross-icon"
                      [src]="baseSvgPath + 'remove.svg'"></svg-icon>
                  </button>
                </div>
                <div *ngIf="item.note" class="note">
                  <svg-icon class="note-svg" [applyClass]="true" [src]="baseSvgPath + 'note.svg'"></svg-icon>
                  {{ item.note }}
                </div>
              </li>
            </ul>
          </div>
        </div>

        <button *ngIf="shoppingList.length > 0" class="clear-all-button" (click)="deletingAllProductsModalShow = true">
          Очистить весь список

          <svg-icon [applyClass]="true" class="clear-all-icon" [src]="baseSvgPath + 'delete-product.svg'"></svg-icon>
        </button>

        <div class="new-product">
          <app-button [color]="'sec'" [rounded]="true" [text]="'Добавить продукт'" class="new-product-button-add"
            (click)="newProductCreatingMode = !newProductCreatingMode">
          </app-button>

          <div class="new-product-popup" @height *ngIf="newProductCreatingMode">
            <div class="form">
              <button class="form-btn eraser" (click)="resetFormProduct()">
                <svg-icon class="svg" [applyClass]="true" [src]="baseSvgPath + 'eraser.svg'"></svg-icon>
              </button>
              <div class="main-inputs">
                <div class="search-block">
                  <div class="search">
                    <app-usual-input (focusEmitter)="focus()" [error]="
                        searchQuery && focused && selectedType.id === 0
                          ? ' '
                          : ''
                      " (blurEmitter)="blur()" [(ngModel)]="searchQuery" [value]="searchQuery"
                      (ngModelChange)="recipeSearching()" type="text" placeholder="Выбери тип из результатов поиска" />
                  </div>

                  <div class="autocomplete-list" style="overflow: hidden">
                    <ul @height *ngIf="autocompleteShow">
                      <div *ngIf="autocompleteTypes.length === 0">
                        <div class="no-found-recipes">
                          <p>Ничего не найдено</p>
                          <svg-icon [applyClass]="true" class="tomato" [src]="baseSvgPath+'shocked-tomato.svg'" />
                        </div>
                      </div>
                      <li *ngFor="let item of autocompleteTypes" (mousedown)="chooseRecipe(item)">
                        <p class="text">
                          <svg-icon class="autocomplete-svg" [applyClass]="true" [src]="
                              item.image
                                ? baseSvgPath + item?.image + '.svg'
                                : ''
                            "></svg-icon>
                          {{ item.name }}
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>

                <form [formGroup]="form" class="col">
                  <div class="row">
                    <app-usual-input [inputRequired]="true" formControlName="name" required [value]="form.value.name"
                      [error]="
                        form.get('name')?.invalid &&
                        (form.get('name')?.dirty || form.get('name')?.touched)
                          ? ' '
                          : ''
                      " [max]="50" [placeholder]="'Название'"></app-usual-input>

                    <app-usual-input [max]="17" formControlName="howMuch" [value]="form.value.howMuch"
                      [placeholder]="'Количество'"></app-usual-input>
                  </div>
                  <app-usual-input class="zoom" [value]="form.value.note" [max]="100" formControlName="note"
                    [placeholder]="'Заметка'"></app-usual-input>
                </form>
              </div>

              <button (click)="addShoppingListItem()" [disabled]="form.invalid" [ngClass]="{ disabled: form.invalid }"
                class="form-btn plus">
                <svg-icon class="svg" [applyClass]="true" [src]="baseSvgPath + 'add.svg'"></svg-icon>
              </button>

              <div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="cont noselect">
        <h2 class="bottom">Почему это <span>важно</span>?</h2>

        <p class="center">
          Раздел «Список продуктов» — это ваш надежный помощник в планировании и
          ведении здорового образа жизни, а также в создании вкусных и
          сбалансированных блюд. В этом разделе мы предоставляем вам удобный
          инструмент для создания и управления списками продуктов. Вот почему
          это так важно и какие плюсы он предоставляет:
        </p>

        <div class="rows">
          <div class="row right">
            <div>
              <h3>Здоровое питание</h3>
              <p>
                Список продуктов способствует нашему здоровому образу жизни и
                благополучию. Мы можем включать в него продукты, богатые
                питательными веществами и витаминами, что помогает нам создавать
                сбалансированные блюда и следить за качеством нашей пищи. Это
                особенно важно, когда мы следим за диетой или стремимся к
                определенным пищевым привычкам. Тажке происходит сокращение
                потребления вредных продуктов путем внимательного отслеживания
                того, что вы покупаете. Вы можете уменьшить потребление
                нежелательных продуктов, таких как быстрая еда, высококалорийные
                закуски и сладости.
              </p>
            </div>
            <svg-icon style="transform: scale(-1, 1)" class="infopic-svg noselect"
              [src]="baseSvgPath + 'info2.svg'"></svg-icon>
          </div>
          <div class="row">
            <svg-icon class="infopic-svg noselect" [src]="baseSvgPath + 'info3.svg'"></svg-icon>
            <div>
              <h3>Экономия времени и ресурсов</h3>
              <p>
                Составление списка продуктов также экономит наше время и
                ресурсы. Мы точно знаем, что нам нужно при планировании покупок,
                и это помогает нам избежать бесцельных походов в магазин и
                импульсных покупок. Такой подход не только сэкономит наши
                деньги, но и облегчит нашу повседневную жизнь, сделав ее более
                структурированной и продуктивной.
              </p>
            </div>
          </div>
        </div>
        <p class="center">
          В заключение, список продуктов - это не просто перечень продуктов, это
          инструмент, способствующий нашей организации, здоровью и экономии.
          Этот простой инструмент помогает нам управлять нашим питанием,
          позволяет нам следить за тем, что мы едим, и приносит множество
          практических польз в нашей повседневной жизни.
        </p>
      </div>
    </div>
  </div>
</div>

<app-modal @modal *ngIf="deletingAllProductsModalShow" class="modal" [style]="'prim'" [buttonsText]="['Да', 'Отмена']"
  [description]="
    'Вы уверены, что хотите удалить все продукты из вашего списка покупок?'
  " [type]="'yesOrNo'" [title]="'Подтвердите удаление всех продуктов'"
  (resultEmit)="handleDeletingAllProductsModal($event)"></app-modal>