@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.content {
  min-width: 30em;
  max-width: 30em;
  app-button {
    display: flex;
    width: max-content;
    margin: 0 auto;
  }
}

.modal {
  position: fixed;
  z-index: 10;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  position: relative;

  min-height: 2em;
  .no-any-products {
    color: var(--color-foreground-unactive);
    font-size: 0.9em;
    position: absolute;
  }
}

.link {
  text-decoration: underline;
}

h1 {
  line-height: 1;
  text-align: center;
  font-size: var(--font-xxl);
  margin-bottom: 0.5em;
  font-family: var(--font-family-accent);
}

.clear-all-button {
  @include flex;
  line-height: 1;
  column-gap: 0.5em;
  color: var(--color-primary);
  margin: 0 auto;
  margin-top: 1em;

  transition: 0.2s ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(-0.1em);
    color: var(--color-primary-focus);
    .clear-all-icon {
      fill: var(--color-primary-focus);
    }
  }
  .clear-all-icon {
    @include flex;
    height: 1rem;
    transition: 0.1s ease-in-out;
    fill: var(--color-primary);
  }
}

.no-products {
  text-align: center;
  zoom: 0.9;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: var(--color-foreground-unactive);
  font-weight: 300;
}

h4 {
  @include flex;
  justify-content: start;
  font-weight: 500;
  column-gap: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}

div.type:first-child h4 {
  margin-top: 0;
}

.category-svg {
  @include flex;
  width: 1.5em;
  height: 1.5em;
}


.advice{
  text-align: center
}
.note {
  @include flex;
  opacity: 0.5;
  justify-content: start;
  column-gap: 0.5em;
  transition: scale 0.2s;
  zoom: 0.85;

  .note-svg {
    @include flex;
    fill: var(--color-foreground);
    width: 1em;
    height: 1em;
  }
}
.main-product-info {
  background-color : color-mix(in srgb, var(--color-background-deeper-unactive) 95%, var(--color-foreground) 5%) ;
  border-radius: 0.4em;
  padding: 0.5em;
  cursor: grab;
  column-gap: 1em;

  display: grid;
  grid-template-columns: 2rem 1fr 1fr 2rem;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

ul,
li {
  list-style-type: none;
}
.product-info {
  .main-product-info {
    transition: all 0.2s;
  }
  &.purchased {
    .main-product-info {
      background-color: var(--color-background-deeper-unactive);
     }

     .cross-button,.buy-button,a,.product-quantity{
      opacity: 0.5;
     }

    * {
      color: var(--color-foreground-unactive);
      text-decoration: line-through;
    }

    .note {
      text-decoration: none;
    }
  }
}

a {
  width: fit-content;
}

.rows {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

.howMuch {
  text-align: center;
  font-size: 0.9em;
  &,
  * {
    color: var(--color-foreground-unactive);
  }
  margin-bottom: 1.5em;
}
.row {
  display: flex;
  align-items: center;
  column-gap: 2em;
  justify-content: center;
  &.right {
    text-align: right;
  }
}

.infopic-svg {
  min-width: 12.5em;
  width: 12.5em;
  fill: var(--color-foreground);
}
.center {
  text-align: center;
  &:nth-of-type(2) {
    margin-top: 2em;
  }
  &:nth-of-type(1) {
    margin-bottom: 2em;
  }
}
.col-md-4 {
  margin: 2em;
  width: fit-content;
  background-color: var(--color-background-deeper);

  .section-heading {
    font-weight: 700;
  }
  .item-list {
    margin-top: 2em;
    .item-box {
      margin: 0.4em 0;
      margin-left: 2em;
    }
  }
}

h2 {
  font-weight: 700;

  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
  span {
    color: var(--color-secondary);
    margin-right: 0.25em;
  }

  &.main {
    margin-top: 0;
  }
}

.img-cont {
  h3 {
    color: var(--color-secondary);
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.new-product {
  margin-top: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  app-button {
    margin-top: 1em;
  }
  .new-product-popup {
    border-radius: 0.4em;
    background-color: var(--color-background);
    width: 100%;
    .form {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      justify-content: center;
      width: 100%;
      column-gap: 1em;

      .main-inputs {
        display: flex;
        row-gap: 0.7em;
        flex-direction: column;

        .col {
          column-gap: 1em;
          row-gap: 0.7em;
          display: flex;
          flex-direction: column;

          .row {
            column-gap: 1em;
          }
        }
      }
      app-usual-input,
      .autocomplete-list {
        width: 100%;
        zoom: 0.8;
      }

      .form-btn {
        transition: 0.2s ease-in-out;
        @include flex;
        min-width: calc(4px + 1.2em);
        height: calc(4px + 1.2em);
        border-radius: 100%;
        background-color: var(--color-primary);

        .svg {
          @include flex;
          fill: var(--color-background);
          height: 0.9rem;
          width: 0.9rem;
        }
        &.plus {
          background-color: var(--color-secondary);

          &.hover,
          &.focused {
            background-color: var(--color-secondary-focus);
          }
        }
        &.eraser {
          background-color: var(--color-primary);
        }

        &:hover,
        &:focus {
          transform: translateY(-0.1em);

          &.eraser {
            background-color: var(--color-primary-focus);
          }

          &.plus {
            background-color: var(--color-secondary-focus);
          }
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

.zoom {
  zoom: 0.8;
}

.product-name,
.product-quantity,
.product-status,
a {
  font-size: 0.9em;
}

.product-quantity {
  text-align: right;
}
.buy-button {
  transition: 0.2s ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(-0.1em);
    border-color: var(--color-primary-focus);
  }

  .checkbox-svg {
    @include flex;
    width: 0.8rem;
    height: 0.8rem;
  }
  @include flex;
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
}

.cross-button {
  @include flex;
  transition: 0.2s ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(-0.1em);
  }
}
.cross-icon {
  @include flex;
  transition: 0.2s ease-in-out;
  height: 1.2rem;
}

.drag {
  cursor: grabbing;
  width: 1.5em;
  height: 1.5em;

  .svg-drag {
    fill: var(--color-foreground);
    height: 100%;
    width: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  opacity: 1;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .content {
    min-width: 100%;
    max-width: 100%;
    app-button {
      display: flex;
      width: max-content;
      margin: 0 auto;
    }
  }
  .row {
    zoom: 0.94;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2em;
    text-align: left;
    row-gap: 1em;

    justify-content: left;
    &.right {
      text-align: left;
    }
    &:last-of-type {
      flex-direction: column-reverse;
    }
  }

  .infopic-svg {
    min-width: 16em;
    width: 16em;
    fill: var(--color-foreground);
  }
}

@media (max-width: 480px) {
  .main-product-info {
    background-color: var(--color-background-deeper-unactive);
    border-radius: 0.4em;
    padding: 0.5em;
    column-gap: 0.75em;
    grid-template-columns: 1.5rem 1fr 0.75fr 1.5rem;
  }
}

.search-block {
  .text {
    @include flex;
    justify-content: start;
    column-gap: 1em;
    width: max-content;
  }
  .autocomplete-svg {
    fill: var(--color-foreground);
    @include flex;
    width: 1.7em;
    height: 1.7em;
  }
  position: relative;
  width: 100%;
  .search {
    position: relative;
    display: flex;
    justify-content: center;
  }

  app-usual-input {
    width: 100%;
  }
}

.no-found-recipes {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  height: 100%;
  row-gap: 1em;
  p{
    color: var(--color-foreground-unactive);
  }

  .tomato {
      fill: var(--color-foreground-unactive);
      height: 8em;
    }
}

.autocomplete-list ul {
  li {
    border-bottom: 1px solid var(--scroll-body);
    padding: 0.3em 1em;
    cursor: pointer;
    align-items: center;
    border-radius: 0;
    column-gap: 2em;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
    scroll-snap-align: center;

    span {
      text-align: right;
      transition: font-weight 0.2s ease-in-out;
      width: 8em;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.2;
      font-size: 0.8em;
      &:hover {
        font-weight: 500;
      }
    }

    p {
      transition: font-weight 0.2s ease-in-out;
      text-overflow: ellipsis;
      line-height: 1.2;
      overflow: hidden;
      max-width: 100%;
      &:hover {
        font-weight: 500;
      }
    }

    &:hover {
      background-color: var(--scroll-thumb);
    }

    &:first-of-type {
      padding-top: 0.5em;
    }

    &:last-of-type {
      padding-bottom: 0.5em;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  scroll-snap-type: y mandatory;

  max-height: 40vh;
  box-shadow: inset 2px 2px 10px rgba($color: #000000, $alpha: 0.02);

  margin-top: 0.5em;
  overflow-y: auto !important;
  position: absolute;
  border-radius: 1.5em;
  display: flex;
  padding: 0;
  flex-direction: column;
  z-index: 2;
  top: 2.7em;
  left: 0;
  width: 100%;
  background-color: var(--color-background-deeper);

  

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}


.list {
  margin: 1em;
}
.my-box {
  margin: 10px;
  cursor: grab;
}

.no-reps-icon {
  @include flex;
}
.no-recipes-svg {
  fill: var(--color-foreground-unactive);
  height: 10em;
}
