:root{
    --color-primary: #F5484A;
    --color-secondary:#FF9800;

    --color-foreground:#212121;
    --color-background:#FFF;
    --color-background-deeper:#EBEBEB;
    --color-primary-lighter:#FFD3D3;

    --color-background-deeper-unactive:#F4F4F4;
    --color-foreground-unactive:#808080;

    --color-admin:#D659F6;
    --color-moderator:#F8E641;

}



.dark-mode{
    --color-primary: #FF7577;
    --color-secondary:#FFB446;

    --color-foreground:#FFF;
    --color-background:#404040;
    --color-background-deeper:#888;
    --color-primary-lighter:#FFE7E7;

    --color-background-deeper-unactive:#606060;
    --color-foreground-unactive:#CDCDCD;

    --color-admin:#E88BFF;
    --color-moderator:#F6E761;
}