<div class="input">
  <div class="input-cont">
    <input
      [maxlength]="max?max:null"
      type="text"
      #input
      [value]="value"
      (keyup)="change()"
      [(ngModel)]="value"
      [disabled]="disabled"
      autocomplete="off"
      type="text"
      [ngClass]="{
        uncorrect: error !== ''
      }"
      (focus)="focus()"
      (blur)="blur()"
    />

    <p
      class="placeholder"
      [ngClass]="{
        uncorrect: error !== '',
        up: this.isFocused,
        sleep: this.isSleep
      }"
    >
      {{ placeholder }}
    </p>
  </div>
  <div *ngIf="showError" class="error">{{ error }}</div>
</div>
