input {
  background-color: rgb(199, 199, 199);
}

.error {
  color: var(--color-primary);
  font-size: 0.7em;
  width: 100%;
  margin-top: 0.2em;
  line-height: 1.1;
}

.placeholder {
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  top: 0;
  color: var(--color-foreground-unactive);

  bottom: 0;
  height: fit-content;
  margin: auto;
  padding: var(--space-s);
  transition: 0.3s ease-in-out;
line-height: 1;
  &.up {
    font-size: 0.7em;
    margin: 0;
    margin-left: 0.3em;
    color: var(--color-secondary);

    &.textarea {
      margin-top: 0em;
    }
  }
  &.sleep {
    color: var(--color-foreground-unactive);
  }
  &.textarea {
    margin-top: 0.2em;
  }
  &.uncorrect {
    color: var(--color-primary);
  }
}

@import "../../../../tools/UI/UI.scss";

input:focus {
  background-color: var(--color-background-deeper);
}
input {
  width: 100%;
  background-color: var(--color-background-deeper-unactive);
  padding: var(--space-s);
  border-radius: var(--space-s) var(--space-s) 0 0;
  caret-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-foreground-unactive);
  font-weight: 400;
  min-height: calc(var(--base) + var(--space-xs) + var(--space-m) + 0.5em);
  height: calc(var(--base) + var(--space-xs) + var(--space-m) + 0.5em);
  padding-bottom: var(--space-xs);
  padding-top: var(--space-m);
  transition: background-color 0.2s ease-in-out;
  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: var(--color-secondary);
  }
  &.uncorrect:focus {
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary);
  }

  &.uncorrect {
    caret-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
  }
}

.input-cont {
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fffdc7 inset;
  transition: background-color 5000s ease-in-out 0s;
}