
.error {
  color: var(--color-primary);
  font-size: 0.8rem;
  width: 100%;
  margin-top: 0.2em;
  line-height: 1.1;
}



@import "../../../../tools/UI/UI.scss";

.wrap{
  position: relative;
}
.howmuch{
  text-align: right;
  position: absolute;
  font-size: 0.7em;
  right:0;
   color: var(--color-foreground-unactive);
}



input,textarea{
  width: 100%;
  text-overflow: ellipsis;
  max-width: 100%;
  resize: vertical;
  background-color: var(--color-background-deeper-unactive);
  padding: 0.65em 0.8em;
  caret-color: var(--color-secondary);
  border: 1px solid var(--color-foreground-unactive);
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  line-height: 1.4;
  &::placeholder{
  
    font-weight: 300;
  }

   &:focus {
    border-color: var(--color-secondary);
    background-color: var(--color-background-deeper);
  }
  &.uncorrect:focus {
    border-color: var(--color-primary);
  }

  &.uncorrect {
    caret-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
textarea {

  resize: vertical;
  padding-right: 1em;
  border-radius: 1.5em;

  min-height: calc(3 * (1em + 1.3em));

  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }


}



input {
  border-radius: var(--space-l);

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fffdc7 inset;
  transition: background-color 5000s ease-in-out 0s;
}