
.error {
  color: var(--color-primary);
  font-size: 0.8rem;
  width: 100%;
  margin-top: 0.2em;
  line-height: 1.1;
}



@import "../../../../tools/UI/UI.scss";

.wrap{
  position: relative;
}
.howmuch{
  text-align: right;
  position: absolute;
  font-size: 0.7em;
  right:0;
   color: var(--color-foreground-unactive);
}



input,textarea{
  width: 100%;
  text-overflow: ellipsis;
  max-width: 100%;
  resize: vertical;
  background-color: var(--color-background-deeper-unactive);
  padding: 0.65em 0.8em;
  caret-color: var(--color-secondary);
  border: 1px solid var(--color-foreground-unactive);
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  line-height: 1.4;
  &::placeholder{
  
    font-weight: 300;
  }

   &:focus {
    border-color: var(--color-secondary);
    background-color: var(--color-background-deeper);
  }
  &.uncorrect:focus {
    border-color: var(--color-primary);
  }

  &.uncorrect {
    caret-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
}
textarea {

  resize: vertical;
  padding-right: 1em;
  border-radius: 1.25em;
  

  overflow-x: hidden;
  overflow-y: scroll;
    transition:  background-color 0.2s, height 0s ;


  &::-webkit-scrollbar-corner {
      background: transparent;
      border: none;
        
    }


&::-webkit-resizer {
  background: transparent;
}
  &::-webkit-scrollbar {
    width: 12px;

  }


}

.resizer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:0.2em;right:0em;
  pointer-events: none;
  .resizer-icon{
      display: flex;
        align-items: center;
        justify-content: center;
    fill: var(--color-foreground);
    width: 0.45em;
    height: 0.45em;
  }}



input {
  border-radius: var(--space-l);

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fffdc7 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.eye {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  padding: var(--space-s);
  cursor: pointer;


}

  svg {
    width: 1em;
    fill: var(--color-foreground);

    
    
  }
 .uncorrect{
    fill:var(--color-primary)
  }
  .correct{
          fill: var(--color-secondary);

  }
