<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <h4 [ngStyle]="{'color':this.style==='prim'?'var(--color-primary)':'var(--color-secondary)'}">{{ title }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ description }}</p>
    </div>
    
          <ng-template #okButtons >
                <app-button [style]="'filled'" [color]="style" [text]="buttonsText[0]"  [rounded]="true" (click)="onOkClick()"></app-button>

      </ng-template>

      <hr>
    <div class="modal-footer">
      <ng-container *ngIf="type === 'yesOrNo' ; else okButtons">
        <app-button [style]="'filled'" [color]="style" [text]="buttonsText[0]"  [rounded]="true" (click)="onOkClick()"></app-button>
        <app-button [style]="'filled-min'"  [color]="style" [text]="buttonsText[1]" [rounded]="true" (click)="onNoClick()"></app-button>
      </ng-container>

    </div>
  </div>
</div>





