.close-button {
  zoom: 0.9;

  .close-svg {
    fill: var(--color-foreground-unactive);

    height: 100%;
    opacity: 0.8;
  }

  font-weight: 1000;
  right: 1.5em;
  top: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--color-background-deeper);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.outer {
  background-color: var(--modal-black);
  left: 0;
  top: 0;
  width: 100vw;

  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    position: relative;
    max-height: 100vh;

    background-color: var(--color-background);
    width: 50%;
    border-radius: 2em;
    padding: 2em 3em;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    row-gap: 1em;
    justify-content: center;
    flex-direction: column;
  }
}

h1 {
  font-family: var(--font-family-accent);
  font-size: var(--font-xl);
  margin-bottom: 0.5em;
  text-align: center;
}

.unique-content {
  position: relative;

  display: grid;
  grid-template-rows: max-content 1fr;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  display: flex;
  column-gap: 0.7em;
  flex-wrap: wrap;
  row-gap: 0.5em;
  align-items: center;
}

.tag {
  @include flex;
  font-size: 0.85em;
  width: fit-content;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background-color: var(--color-background-deeper);
  column-gap: 0.5em;

  .remove-tag {
    .remove-tag-svg {
      width: 0.7em;
      height: 0.7em;
      @include flex;
      fill: var(--color-background);
    }

    @include flex;
    line-height: 1;
    width: 1rem;
    font-weight: 900;
    color: var(--color-background);
    height: 1rem;
    cursor: pointer;
    font-size: 0.7em;

    border-radius: 100%;
    background-color: var(--color-primary);
  }
}

form {
  height: 100%;
  width: 100%;
}

.portions {
  display: grid;
  width: fit-content;
  column-gap: 1em;
  grid-template-columns: max-content max-content max-content;
}

app-count-input {
  display: flex;
  width: fit-content;
}

.image {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  border-radius: 100%;
}

.have-image {
  border: 3px solid var(--color-primary);
}

.main-info-control-with-image {
  column-gap: 2em;
  @include flex;
  width: 100%;

  .main-info-controls {
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
    width: 100%;
  }
}

.userpic {
  height: 10em;
  background-color: var(--color-background-deeper-unactive);
  margin: 0 auto;
  width: 10em;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  background-repeat: no-repeat;
}

.svgTrash {
  width: 100%;
  height: 100%;
  fill: var(--color-background);
}

input {
  top: 0;
  cursor: pointer;

  right: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  position: absolute;
}

.delete {
  position: absolute;
  cursor: pointer;

  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  padding: 0.3em;
  background-color: var(--color-primary);
}

app-modal {
  position: fixed;
  z-index: 10;
}

app-usual-input,
.portions,
.no-categories,
app-expanding-input,
app-autocomplete,
.max-categories,
.ingredients app-button,
.nutritions app-button,
.instructions app-button {
  zoom: 0.9;
  width: 100%;
}

.buttons {
  zoom: 0.9;
  display: flex;
  column-gap: 2em;
  justify-content: center;
  margin-top: 2em;

  app-button {
    display: flex;
    justify-content: center;
  }

  p {
    margin-bottom: 1em;
    text-align: center;
    line-height: 1;
  }
}

h3 {
  font-weight: 500;
  color: var(--color-secondary);
  font-size: 1.05em;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.unique-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.header {
  align-self: center;
}

svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.75em;
  height: 0.75em;
}

app-modal {
  position: fixed;
  z-index: 10;
}

@media (max-width: 1100px) {
  .outer .inner {
    width: 32em;
  }
}
.cont {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
  display: flex;
}

@media (max-width: 1200px) {
  .outer .inner {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .outer .inner {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .photo {
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .input-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    width: 16em;
    height: 10em;
    border-radius: 0 2em 0 2em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 1em;
    zoom: 0.95;
  }

  .outer .inner,
  .cont {
    height: 100vh;
    border-radius: 0;
    width: 100%;
  }
  .cont {
    zoom: 1.1;
  }

  .main-info-control-with-image {
    flex-direction: column-reverse;
    row-gap: 1em;

    height: 60vh;

    .main-info-controls {
      display: flex;
      row-gap: 0.75em;
      width: 100%;
    }
  }
}

.no-categories {
  font-weight: 300;
  zoom: 0.9;
  width: 100%;
  color: var(--color-foreground-unactive);
}

@media (max-width: 480px) {
  .main-info-control-with-image {
    height: unset;
    max-height: 58vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .close-button {
    zoom: 1.1;

    .close-svg {
      height: 0.7em;
      fill: var(--color-foreground-unactive);
    }

    font-weight: 1000;
    right: 0;
    top: 0;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    border-radius: 0 0 0 100%;
  }

  .outer .inner .navigation {
    display: none;
  }

  .inner {
    zoom: 1;
  }
  .outer .inner {
    row-gap: 1.5em;

    .unique-content {
      .description-info {
        font-size: 0.85em;
        line-height: 1;
        margin-top: 0.5em;
      }

      .description {
        display: none;
      }
    }

    h1 {
      margin: 0;
    }
  }

  .outer .inner {
    height: 100vh;
    border-radius: 0;
    width: 100%;
    padding: 2em 6%;
  }
}
