

@mixin gaps($column-gap,$row-gap){
      grid-column-gap: $column-gap;
      grid-row-gap: $row-gap;
}
@mixin gap($gap){
    grid-column-gap: $gap;
    grid-row-gap: $gap;
}

@mixin flexy($direction){
    flex-direction: $direction;
    display: flex;
}

@mixin center{
    align-items: center;
    justify-content: center;
}

@mixin gridy ($gap) {
    @supports(grid-area: auto) {
      display: grid;
    }
    
  }

  @mixin gridAuto($min-width) {
    @supports(grid-area: auto) {
      grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
    }
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


