body{
    --color-primary: #F5484A;
    --color-primary-focus: #ee0000;
    --color-secondary:#FF9800;
    --color-secondary-focus:#ff6600;

    --color-foreground:#212121;
    --color-background:#FFF;
    --color-background-deeper:rgb(235, 235, 235);
    --color-primary-lighter:#FFD3D3;
    --color-primary-lighter-focus:#ff9191;
    --color-secondary-lighter:#ffe6c1;
    --color-secondary-lighter-focus:#ffc876;

    --color-background-deeper-unactive:#F4F4F4;
    --color-foreground-unactive:#808080;
    --color-foreground-unactive-lighter:#a1a1a1;

    --scroll-thumb:#cccccc;
    --scroll-body:#eeeeee;

    --color-admin:#D659F6;
    --color-moderator:#F8E641;

    --modal: rgba(33,33,33,0.5);
    --modal-black: rgba(33,33,33,0.5);
    --modal-sett: rgba(33,33,33,0.2);
}



.dark-mode{
    --color-primary: #fe6668;
    --color-secondary:#FFB446;

    --color-foreground:#e3e3e3;
    --color-background:#272727;
    --color-background-deeper:#313131;
    --color-primary-lighter:#ffafaf;

    --color-background-deeper-unactive:#363636;
    --color-foreground-unactive:#a1a1a1;

    --color-admin:#E88BFF;
    --color-moderator:#F6E761;


    --color-primary-focus: #ff4b4b;
    --color-secondary-focus:#ff8d14;

    --color-primary-lighter-focus:#ff9191;
    --color-secondary-lighter:#ffe6c1;
    --color-secondary-lighter-focus:#ffc876;

    --color-foreground-unactive-lighter:#a1a1a1;

    --scroll-thumb:#717171;
    --scroll-body:#535353;
    --modal-black: rgba(0, 0, 0, 0.5);


    --modal: rgba(217, 217, 217, 0.5);
    --modal-sett: rgba(217,217,217,0.2);
}