

<div class="wrap" [ngClass]="{'has-scroll':showScrollButtons}">

  <drag-scroll (dragStart)="dragStart()" (dragEnd)="dragEnd()" class="drag" #nav  [drag-disabled]="disableDrag || !showScrollButtons" [snap-disabled]="disableDrag || !showScrollButtons"   > 
     <app-ingredient-list-item [context]="context"  drag-scroll-item  [ingredient]="ingredient"   *ngFor="let ingredient of ingredients, let i=index"/>
  </drag-scroll>
  <button class="scroll-left" *ngIf="showScrollButtons">
    <svg-icon class="svg-arrow" (click)="scrollRight()" [applyClass]="true"
      [src]="'/assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
  <button class="scroll-right" *ngIf="showScrollButtons">
    <svg-icon class="svg-arrow right" (click)="scrollLeft()" [applyClass]="true"
      [src]="'/assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
</div>