<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="main-wrap"
    [ngClass]="{'admin':user.role==='admin' && showStatus(user), 'moder': user.role === 'moderator'&& showStatus(user)}">

    <div class="main-and-follow">
        <div style="display: flex; flex-direction: column; row-gap: 0.5em;">
            <a class="wrap" [routerLink]="'/cooks/list/'+user.id">
                <div class="userpic" [style.background-image]="'url('+(avatar?avatar:noAvatar)+')'">
                    <ngx-emoji class="emoji" *ngIf="emoji" [emoji]="emoji" [size]="22"></ngx-emoji>

                </div>
                <div>
                    <div class="star-h1">
                        <div class="star" *ngIf="user.role!=='user' && showStatus(user)"> <svg-icon class="star-svg"
                                [applyClass]="true" [src]="'/assets/images/svg/user-star.svg'"></svg-icon></div>
                        <h1
                            [title]="showStatus(user)?(user.role==='admin'?'Это администратор Yummy':user.role==='moderator'?'Это модератор Yummy':''):''">
                            {{user.fullName}}</h1>
                    </div>
                    <h2>{{'@'+user.username}}</h2>
                </div>
            </a>
            <p class="location" *ngIf="user.location!==''">
                <svg-icon class="geo" [applyClass]="true" [src]="'/assets/images/svg/geo.svg'"></svg-icon>
                <span [title]="user.location"> {{user.location}}</span>

            </p>
        </div>
        <button [class.disabled]="currentUser.id<=0" *ngIf="currentUser.id!==user.id"
            (click)="!adminpanel?clickFollowButton():demote()" class="follow-button"
            [ngClass]="{'follow-btn':!isFollower && !adminpanel , 'unfollow-btn':adminpanel || isFollower}">{{!adminpanel?
            !isFollower?'Подписаться':'Отписаться':'Разжаловать'}}</button>

        <button [class.disabled]="currentUser.id<=0" (click)="!adminpanel?clickFollowButton():demote()"
            [title]="currentUser.id>0?isFollower?'Отписаться':'Подписаться':''"
            [class]="isFollower || adminpanel?'unfollow':'follow'" *ngIf="currentUser.id!==user.id">

            <ng-container *ngIf="!adminpanel">
                <svg-icon *ngIf="!isFollower" class="follow-svg" [src]="'/assets/images/svg/follow.svg'"></svg-icon>
                <svg-icon *ngIf="isFollower" class="follow-svg" [src]="'/assets/images/svg/unfollow.svg'"></svg-icon>
            </ng-container>
            <svg-icon *ngIf="adminpanel" class="follow-svg" [src]="'/assets/images/svg/demote.svg'"></svg-icon>

        </button>
    </div>
    <div class="follows">
        <p title="Подписки">
            {{followingLength}} <span appPluralRu="" [value]="followingLength"
                [arVariants]="['подписка', 'подписки', 'подписок']"></span>
        </p>
        <p title="Подписчики">
            {{followersLength}} <span appPluralRu="" [value]="followersLength"
                [arVariants]="['подписчик', 'подписчика', 'подписчиков']"></span>
        </p>
        <p title="Рецепты">
            {{userRecipesLength}} <span appPluralRu="" [value]="userRecipesLength"
                [arVariants]="['рецепт', 'рецепта', 'рецептов']"></span>
        </p>
    </div>
</div>

<app-modal @modal *ngIf="noAccessModalShow" [style]="'prim'" [title]="'Доступ к разделу ограничен'" [type]="'yesOrNo'"
    (resultEmit)="handleNoAccessModal($event)" [buttonsText]="['Давайте', 'Не сейчас']" [description]="
    'Доступ к этой функции имеют только зарегистрированные пользователи. Хотите зарегистрироваться или войти в существующий аккаунт?'
  " />