@import "../../../../../../tools/UI/UI.scss";



.recipe-list {
  display: grid;
  row-gap: 1.25rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 1em;
 
}

@media (max-width:1400px){
  .recipe-list {
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
@media (max-width:960px){
  .recipe-list {
  
  grid-template-columns: 1fr 1fr 1fr;
}
}
@media (max-width:610px){
  .recipe-list {
  
  grid-template-columns: max-content max-content;
  justify-content: center;
}
}


@media (max-width: 480px) {
  .recipe-list.mobile2x{
    grid-template-rows: repeat(2,1fr);
  }
     .recipe-list.mobile3x {
       grid-template-rows: repeat(3,1fr);
     }

 
  .recipe-list {
  &::-webkit-scrollbar {
      display: none;
    }
    padding-right: 6%;
justify-content: start;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;

  }


}

