.wrap {
  padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);
  margin: 2.5em 0;
}

h1 {
  max-width: 100%;
  line-height: 1;
  font-size: var(--font-xxl);
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--font-family-accent);
}

.sections {
  margin-bottom: 3em;
}

app-button.add-category {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  width: fit-content;
  justify-content: center;
}

h2 {
  cursor: pointer;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5em;
}

app-button {
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-svg {
  height: 1em;
  display: flex;
  align-items: center;
  fill: var(--color-foreground);
  justify-content: center;
  transform: rotate(-90deg);
}

.head {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
  margin-bottom: 1.75em;
  cursor: pointer;
}

app-modal{
    position: fixed;
    z-index: 10;
    cursor: default;
}

.autocomplete-list ul {
  li {
    border-bottom: 1px solid var(--scroll-body);
    padding: 0.5em 1.2em;
    cursor: pointer;
    align-items: center;
    column-gap: 2em;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: center;
    line-height: 1.2;

    &:hover {
      background-color: var(--scroll-thumb);
    }

    &:first-of-type {
      padding-top: 0.75em;
    }

    &:last-of-type {
      padding-bottom: 0.75em;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  scroll-snap-type: y mandatory;

  max-height: 40vh;
  box-shadow: inset 2px 2px 10px rgba($color: #000000, $alpha: 0.02);

  margin-top: 0.5em;
  overflow-y: auto !important;
  position: absolute;
  border-radius: 1.5em;
  display: flex;
  padding: 0;
  flex-direction: column;
  z-index: 2;
  top: 2.7em;
  left: 0;
  width: 100%;
  background-color: var(--color-background-deeper);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}
div.container.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.5em;
  }

  h1 {
    all: unset;
  }

  &.no-search {
    .tagline {
      width: unset;
      font-size: 1.2em;
      width: 100%;
    }
  }

  .content .buttons app-button {
    margin: 0;
  }

  .fridge {
    height: 11em;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    fill: var(--color-foreground);
  }
}
.container.one-column {
  hr,
  .tagline {
    width: 100%;
  }
}
.search-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2.5em;

  .search {
    position: relative;
    display: flex;
    justify-content: center;
  }

  input {
    width: 16em;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 1.5em 0 0 1.5em;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--color-background-deeper-unactive);
    padding-right: 1.5em;
    font-weight: 500;

    &::placeholder {
      font-weight: 300;
    }

    &:focus {
      background-color: var(--color-background-deeper);
    }
  }

  .search-svg {
    width: 1.3em;
    height: 1.3em;
    fill: var(--color-background);
  }

  .magnifier {
    border-radius: 1.5em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: -1em;
    width: 2.3em;
    height: 2.3em;
    background-color: var(--color-primary);
  }
}

.no-found-recipes {
  align-items: center;
  justify-content: center;
  display: flex;

  flex-direction: column;
  text-align: center;
  padding: 2em;
  height: 100%;
  row-gap: 1em;
  font-size: 0.8em;

  .sad-cook {
    fill: var(--color-foreground);
    height: 8em;
  }

  app-button {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .search-block {
    width: 100%;

    .search {
      display: grid;
      width: 100%;
      padding-right: 6%;
      grid-template-columns: 1fr max-content;
    }

    input {
      width: 100%;
      text-overflow: ellipsis;
    }
  }
  div.container.not-found {
    margin: 2em 0;
    margin-right: 6%;

    app-button {
      padding: 0;
    }
  }

  .wrap {
    padding-right: 0;
    padding-left: 6vw;
  }

  h1,
  app-button {
    padding-right: 6vw;
    padding-left: 0vw;
  }
}

app-ingredient-create {
  position: fixed;
  z-index: 10;
}
