.header {
    color: var(--color-foreground);
    text-align: center;

    p {
        &:not(.info){
            margin-top: 0.75em;
        }
        letter-spacing: 2px;

        &.info{
            letter-spacing: 0;
            line-height: 1.2;
            font-size: 1.1em;
        }
    }
}

app-modal{
    position: fixed;
    z-index: 10;
}

h1 {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: var(--font-xxl);

    span {
        font-family: var(--font-family-accent);
        color: var(--color-primary);
    }

    font-family: var(--font-family-accent);
}

.about-section,
.mission-section,
.features-section,
.find-section,
.join-section {
    transition: 0.2s ease-in-out;
    padding: 1.5em;
    background-color: var(--color-background-deeper);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sections {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

a {
    cursor: pointer;

    &.fake {
        cursor: default;
    }
}

.parts {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5em;

    p {
        font-size: 0.9em;
    }

    row-gap: 1.5em;

    div {
        border: 3px solid transparent;
        position: relative;
        height: 100%;
        transition: 0.2s ease-in-out;

        &:hover {
            border: 3px solid var(--color-primary);

            .icon {
                background-color: var(--color-primary);
            }

            h3 {
                color: var(--color-primary);
            }
        }

        .icon {
            transition: 0.2s ease-in-out;
            width: 2.5rem;
            padding: 0;
            position: absolute;
            top: -1rem;
            left: -1rem;
            height: 2.5rem;
            background-color: var(--color-secondary);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .svg {
                display: flex;
                align-items: center;
                justify-content: center;
                fill: var(--color-foreground);
                width: 1.2em;
                height: 1.2em;
            }
        }

        background-color: var(--scroll-body);

        padding: 2em;
        border-radius: 8px;

        h3 {
            font-size: 1.1em;
            color: var(--color-secondary);
            line-height: 1;
            margin-bottom: 0.5em;
            font-weight: 600;
            transition: 0.2s ease-in-out;
        }
    }
}

h2 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1;
    font-size: 1.2em;

    &::first-letter {
        color: var(--color-primary);
    }
}

ul {
    padding: 0;
}

.cook {
    width: 1em;
    height: 1em;
    fill: var(--color-foreground);
    margin-right: 0.25em;
}

.wrap {
    padding: 2.5em calc(14.4vw + 0 * (100vw - 768px) / 760);
}

.footer {
    a p {
        text-decoration: underline;
        font-weight: 600;
    }

    .links {
        display: flex;
        flex-direction: column;
        row-gap: 0.4em;
    }

    a {
        font-size: 1.05em;
        display: flex;
        transition: padding-left 0.2s;

        &:hover {
            padding-left: 0.75em;
        }
    }

    p {
        display: flex;
        line-height: 1;

        .footer-icon {
            width: 1em;
            height: 1em;
            fill: var(--color-background);
            margin-right: 0.25em;
        }
    }

    h2 {
        &::first-letter {
            color: var(--color-background);
        }

        font-size: 1.3em;
    }

    color: var(--color-background);
    text-align: center;
    padding: 10px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    border-radius: 8px;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 1.5em 1.5em 0;
        border-style: solid;
        border-radius: 0 0 0 5px;
        border-color: var(--color-primary-lighter) var(--color-background);
        -webkit-box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.15),
            -1px 1px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.15),
            -1px 1px 3px rgba(0, 0, 0, 0.15);
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.15),
            -1px 1px 3px rgba(0, 0, 0, 0.15);
    }

    margin: 0 auto;
    margin-top: 1em;

    .info {
        min-width: 20em;
        font-size: 1.1em;
        line-height: 1;
        margin-bottom: 0.5em;
    }

    * {
        color: var(--color-background);
    }

    background-color: var(--color-primary);
    bottom: 0;
    width: min-content;
}

.btn-signup {
    display: inline-block;
    background-color: #4285f4;
    color: var(--color-foreground);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.row{
    column-gap: 3em;

    margin-top: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    div{
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
}

.community {
    width: 9em;

    .community-svg {
        fill: var(--color-foreground);
    }
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
    }

    .dream-team {
        grid-template-columns: repeat(1, 1fr);

        .item {
            background: none;
            border-left: 0px solid transparent;
        }
    }
}

.mobile{
    display: none;
}
@media (max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile{
        zoom:0.95;
        display: inline;
    }
  
    .row {
            column-gap: 1.5em;
    
            div {
                &.btns{
display: flex;
    zoom:0.95;
    justify-content: center;
    margin: 0 ;
    column-gap: 1em;
                }
               
            }
        }
    .parts {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrap {
        padding: 2.5em 6%;
    }
}