<div class="wrap">
    <div class="header">
        <h1>Добро пожаловать в <span>Yummy</span></h1>
            <p>Это будет захватывающее приключение...</p>

       <div class="row">
        <div class="community">
            <svg-icon [applyClass]="true" class="community-svg desktop" [src]="'/assets/images/svg/hi.svg'" />
            <svg-icon [applyClass]="true" class="community-svg mobile" [src]="'/assets/images/svg/welcome-mini.svg'" />
        </div>
            <div class="btns">
                <app-button routerLink="/" [color]="'prim'" [rounded]="true" [style]="'filled'" [text]="'На главную'"></app-button>
                <app-button routerLink="/user-policy" [color]="'prim'" [rounded]="true" [style]="'filled-min'" [text]="'Соглашение'"></app-button>
                <app-button routerLink="/about" [color]="'prim'" [rounded]="true" [style]="'outlined'" [text]="'О сайте'"></app-button>
            </div>
           
       </div>

    </div>



</div>

<app-modal [ngStyle]="{ 'z-index': 100 }" @modal *ngIf="errorModal" [style]="'prim'" [title]="'Произошла ошибка'"
    [type]="'Ok'" (resultEmit)="handleDeleteModal()" [buttonsText]="['На главную']"
    [description]="errorText||'Произошла неизвестная ошибка'"></app-modal>