.wrap {
  padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);
  margin: 2.5em 0;
}

h1 {
  margin-bottom: 1em;
  max-width: 100%;
}

.loading {
  animation: loading 0.75s infinite linear;
  background-color: var(--loading);
  border-radius: 0.75em;
  margin: 0 auto;
    width: max-content;
    color: transparent;
}


@keyframes loading {
  0% {
    background-position: var(--loading);
  }

  50% {
    background-color: var(--loading-accent);
  }

  100% {
    background-position: var(--loading);
  }
}


.fridge {
  height: 11em;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  fill: var(--color-foreground);
}

app-modal {
  cursor: default;
  position: fixed;
  z-index: 10;
}

div.container.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.5em;
  }

  h1 {
    all: unset;
  }

  &.no-search {
    .tagline {
      width: unset;
      font-size: 1.2em;
    }
  }

  .content .buttons app-button {
    margin: 0;
  }
}

h1 {
  line-height: 1;
  font-size: var(--font-xxl);
  text-align: center;
  font-family: var(--font-family-accent);
}
.search {
  margin-top: 2em;
}

app-button.add-category {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  width: fit-content;
  justify-content: center;
}

h2 {
  cursor: pointer;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5em;
}
.button {
  margin-top: 2em;
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pen {
  cursor: pointer;
  width: 2em;
  @include flex;
  .pen-icon {
    height: 1em;
    @include flex;
    width: 1em;
    fill: var(--color-foreground);
  }
}

app-section-creating,app-category-creating {
  z-index: 10;
  position: fixed;
}

app-button {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-svg {
  height: 1em;
  display: flex;
  align-items: center;
  fill: var(--color-foreground);
  justify-content: center;
  transform: rotate(-90deg);
}

.head {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
  margin-bottom: 1.75em;
  cursor: pointer;
}

@media (max-width: 480px) {
  div.container.not-found {
    margin: 2em 0;

    app-button {
      padding: 0;
    }
  }

  .wrap {
    padding-right: 6vw;
    padding-left: 6vw;
  }

 
}

.action-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;

  .action-button {
    p{
        transition: 0.2s ease-in-out;
    }
    .action-svg{
        transition: 0.1s ease-in-out;
    }
    &.edit:hover {
      p {
        color: var(--color-secondary);
      }
      .action-svg {
        fill: var(--color-secondary);
      }
    }
    &.delete:hover {
      p {
        color: var(--color-primary);
      }

      .action-svg {
        fill: var(--color-primary);
      }
    }
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    p {
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .action-icon {
    @include flex;
  }
  .action-svg {
    width: 1em;
    height: 1em;
    @include flex;
    fill: var(--color-foreground);
  }
}

.disabled {
  pointer-events: none !important;
}
