<div class="wrap">
  <h1>Преимущества регистрации</h1>

  <div class="header" style="margin-bottom: 2em;">
    <p>Кулинарные приключения начинаются здесь!</p>
  </div>

  <div class="sections">
    <section class="part">
      <h2>Ступенька к вашему кулинарному успеху</h2>
      <p>
        Регистрация на нашем сайте – это не просто создание аккаунта. Это
        открытие двери в кулинарное сообщество, где ваш вклад и творчество
        приветствуются и получают возможность быть замеченными.
      </p>
    </section>

    <section class="part">
      <h2>Преимущества регистрации</h2>

      <div class="parts">
        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/community.svg'"
            />
          </div>
          <h3>Персональный профиль и сообщество</h3>

          <p>
            Управляйте уникальной личной страницей для представления вашего
            кулинарного мастерства, получайте достижения, а также находите интересующих кулинаров и
            подписывайтесь на их обновления.
          </p>
        </div>

        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/receipt.svg'"
            />
          </div>
          <h3>Рецепты и взаимодействие с ними</h3>
          <p>
            Делитесь своими уникальными рецептами, а также оцениваете,
            планируйте, добавляйте в закладки, отмечайте приготовленными рецепты
            других авторов!
          </p>
        </div>
        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/ingredient.svg'"
            />
          </div>
          <h3>Вклад в ингредиенты</h3>

          <p>
            Ингредиенты в Yummy — чудесная возможность больше узнать о том или
            ином продукте, а также в удобном формате группировать рецепты и
            планировать покупки. Регистрируясь, вы можете вносить вклад в базу
            ингредиентов.
          </p>
        </div>

        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/category.svg'"
            />
          </div>
          <h3>Собственные категории</h3>

          <p>
            Категории в Yummy — не менее удобное разделение рецептов по
            конкретным тематикам. После регистрации вы получаете возможность
            самому добавлять категории!
          </p>
        </div>

        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/notify.svg'"
            />
          </div>
          <h3>Уведомления и напоминания</h3>

          <p>
            Получайте и настраивайте уведомления, в том числе всплывающие при
            действиях на сайте! А также вы будете получать напоминания о планах на
            приготовление блюд.
          </p>
        </div>
        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/comment.svg'"
            />
          </div>
          <h3>Комментирование</h3>

          <p>
            Получите возможность комментировать рецепты любимых авторов, и не
            только. Выразите свое мнение и оставьте отзыв на приготовленное
            блюдо!
          </p>
        </div>

        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/calendar.svg'"
            />
          </div>
          <h3>Календарь рецептов</h3>

          <p>
            Планируйте приготовление блюд на определенные дни с напоминаниями в
            нашем уникальном календаре рецептов. Переносите события по дням,
            неделям, месяцам, выбирайте цвет маркера для обозначений рецептов.
            Планируйте в точности до минут!
          </p>
        </div>
        <div>
          <div class="icon">
            <svg-icon
              [applyClass]="true"
              class="svg"
              [src]="'/assets/images/svg/about/list.svg'"
            />
          </div>
          <h3>Список продуктов</h3>

          <p>
            Добавляйте продукты в список отовсюду: из ингредиентов рецептов, со
            страниц ингредиентов, вручную на специальной странице. Делите
            продукты в списке по разделам и переносите их из одного списка в
            другой!
          </p>
        </div>
      </div>
    </section>
    <section class="join-section" *ngIf="!auth">
        <h2>Присоединяйтесь к нам сегодня!</h2>
        <p>
            Готовы отправиться в кулинарное приключение? Зарегистрируйтесь сейчас,
            чтобы делиться своими любимыми рецептами, общаться с единомышленниками и
            стать частью нашего развивающегося сообщества.
        </p>
        <app-button routerLink="/register" [text]="'Регистрация'" [color]="'prim'" [rounded]="true"></app-button>
    </section>
  </div>

</div>
