    <div class="container one-column not-found margin">
        <div class="not-found">

            <svg-icon [applyClass]="true" class="svg-pic" [src]="'/assets/images/svg/access-denied.svg'"></svg-icon>
           

        </div>
       <div class="content">
            <h1 class="label">Страница <span class="title">скрыта</span></h1>
            <p  class="tagline ">Кулинар запретил доступ к своей странице в настройках анонимности.</p>
    
            <hr>
           <div class="buttons">
                <app-button routerLink="/" [rounded]="true" [color]="'prim'" [text]="'На главную'"></app-button>
           </div>
       </div>
    </div>
