<div class="wrap">
  <div class="recipe-list" #list>
    <app-recipe-list-item [showAuthor]="showAuthor" class="content" *ngFor="let item of recipes; let i = index"
      [recipe]="recipes[i]"></app-recipe-list-item>
  </div>
  <button class="scroll-left">
    <svg-icon class="svg-arrow" (click)="scrollRight()" [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
  <button class="scroll-right">
    <svg-icon class="svg-arrow right" (click)="scrollLeft()" [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
</div>