



<div class="wrap" [ngClass]="{'has-scroll':showScrollButtons}">

  <drag-scroll class="drag" #nav  [drag-disabled]="disableDrag" [snap-disabled]="disableDrag"  > 
     <app-category-list-item drag-scroll-item [context]="context" [showRecipesNumber]="showRecipesNumber"   *ngFor="let item of categories, let i=index" [category]="categories[i]"></app-category-list-item>
  </drag-scroll>
  <button class="scroll-left" *ngIf="showScrollButtons">
    <svg-icon class="svg-arrow" (click)="scrollRight()" [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
  <button class="scroll-right" *ngIf="showScrollButtons">
    <svg-icon class="svg-arrow right" (click)="scrollLeft()" [applyClass]="true"
      [src]="'../../../../../assets/images/svg/arrow.svg'">
    </svg-icon>
  </button>
</div>