@import "../../../../../../tools/UI/UI.scss";



.recipe-list {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  row-gap: 1rem;
  grid-template-rows: 1fr;
  width: 100%;
  position: relative;
    grid-auto-columns: calc(19% - 0.7em);

  column-gap: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0.5em;
  scroll-snap-type: x mandatory;
  display: grid;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}



.svg-arrow {
  height: 3em;
  margin-right: 0.7em;
  width: 2em;
  pointer-events: all;

  stroke-width: 2em;
  display: block;
  stroke: var(--scroll-thumb);
}

.right {
  margin-right: 0.2em;
}

.has-scroll{


  &::after{
           height: calc(100% - 1.3em);
    width: 15%;
    background: linear-gradient(to right, transparent 0%,var(--color-background));

    z-index: 1;
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    pointer-events: none;

  }
}
.wrap {
  position: relative;



  .scroll-left {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    right: -3em;

    pointer-events: none;
    z-index: 1;
  }
  .scroll-right {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -3em;
    pointer-events: none;

    transform: scale(-1, -1);

    z-index: 1;
  }
}

app-recipe-list-item {
  scroll-snap-align: start;
}


@media(max-width:1400px){
  .recipe-list {
      scroll-snap-type:none;

    justify-content: center;
    align-items: start;
    grid-auto-columns: calc(24% - 0.7em);
    app-category-list-item{
      justify-content: center;
      align-items: center;
      display: flex;
    }
}
}

@media(max-width:960px){

 .recipe-list {
        justify-content: start;

    grid-auto-columns: calc(33% - 0.7em);
}
}

@media(max-width:610px){

 .recipe-list {
        justify-content: start;

    grid-auto-columns: calc(49% - 0.7em);
}
}



@media (max-width: 480px) {

  .has-scroll{
    &::after{
      display: none;
    }
  }
  .scroll-left,
  .scroll-right {
    display: none;
  }
  .recipe-list {
    grid-auto-columns: unset;

    grid-auto-flow: column;
    grid-template-rows: 1fr;
  overflow-x: scroll;
    justify-content: start;

  overflow-y: hidden;
  scroll-behavior: smooth;
    padding-right: 6%;

    column-gap: 1rem;
    grid-template-rows: 1fr;
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
 
}

