<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="input">
 <div>
    <textarea
    autocomplete="off"
        readonly
    onfocus="this.removeAttribute('readonly')"
      [maxlength]="max"
      [(ngModel)]="value"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (keyup)="onKeyUp($event)"
      *ngIf="this.type === 'textarea'"
       [class.fit-content]="fitWidth"

      ></textarea>
    <input

    [class.fit-content]="fitWidth"
    readonly
      onfocus="this.removeAttribute('readonly')"

      [maxlength]="max"
      *ngIf="this.type === 'input'"
      (keyup)="onKeyUp($event)"
      [ngStyle]="{ 'padding-right': this.password ? '2rem' : '' }"
      autocomplete="off"
      type="text"
      #input
      [ngClass]="{
          uncorrect:warningShow && !testMask()
      }"
      [type]="this.password ? (this.showPassword ? 'password' : 'text') : 'text'"
      [(ngModel)]="value"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    />
  
    <p
      class="placeholder"
      [ngClass]="{
        uncorrect: warningShow && !testMask(),
        up: this.isFocused,
        sleep: this.isSleep,
        textarea: this.type === 'textarea'
      }"
    >
      {{ placeholder }}
    </p>
  
    <span class="eye" *ngIf="password"  (click)="eye()">
      <svg-icon   [applyClass]="true"  [class]="(this.warningShow&&!this.testMask())?'uncorrect':((this.warningShow && !this.isSleep)?'correct':'')"  *ngIf="!this.showPassword"
 [src]="'../../../../assets/images/svg/eye-close.svg'"></svg-icon>
     
  <svg-icon   *ngIf="this.showPassword"

  [applyClass]="true"

  [class]="(this.warningShow&&!this.testMask())?'uncorrect':(( this.warningShow && !this.isSleep)?'correct':'')"

  [src]="'../../../../assets/images/svg/eye-open.svg'"></svg-icon>
     
    </span>
  
 </div>
  <p class="req" *ngIf="this.warningShow" [ngClass]="{ match: testMask() }">
  {{ !testMask() ? warningText : "Значение соответствует требованиям!" }}
</p>

</div>
