<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="background" (click)="clickBackgroundNotContent($event)">
  <div class="cont">
    <button (click)="closeEmitter.emit(true)" class="close">✕</button>
  </div>

  <div class="container">
    <div class="zero" @slide *ngIf="currentPage === 0">
      <h1>Настройки</h1>

      <p (click)="currentPage = 3">Персональная информация ></p>
      <div>
        <p (click)="currentPage = 1">Уведомления ></p>
        <div class="toogle">
          <p class="not-link">Темная тема</p>
          <app-toogle-switch
            [backgroundOff]="'black'"
            [backgroundOn]="'white'"
            [toogleOff]="'white'"
            [toogleOn]="'black'"
            (checkedEmit)="nightModeEmit($event)"
            [nightMode]="true"
          ></app-toogle-switch>
        </div>
      </div>
      <div>
        <p (click)="currentPage = 2">О сайте ></p>
        <p  (click)="showSocialShare=!showSocialShare">Пригласите друзей <span>{{showSocialShare?'<':'>'}}</span></p>
        <div @heightAnim *ngIf="showSocialShare" class="socials">

          <app-social-button [url]="location" ></app-social-button>
          <app-social-button [url]="location" [social]="'pinterest'"></app-social-button>
          <app-social-button [url]="location" [social]="'vk'"></app-social-button>
          <app-social-button [url]="location" [social]="'twitter'"></app-social-button>
          <app-social-button [url]="location" [social]="'facebook'"></app-social-button>
        </div>

      </div>

      <p class="exit" (click)="exitModalShow = true">Выйти из аккаунта</p>
    </div>

    <div class="first" @slideReverse *ngIf="currentPage === 1">
      <div class="title-block">
        <span (click)="currentPage = 0"><</span>
        <h1>Уведомления</h1>
      </div>
      <h2>Ваши рецепты</h2>

      <div>
        <div class="toogle">
          <p class="not-link">Кому-то нравится ваш рецепт</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Кто-то приготовил ваш рецепт</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Кто-то добавил ваш рецепт в закладки</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>

        <div class="toogle">
          <p class="not-link">Кто-то запланировал ваш рецепт</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>

        <div class="toogle">
          <p class="not-link">Кто-то написал комментарий под вашим рецептом</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
      </div>

      <h2>Ваши подписки</h2>

      <div>
        <div class="toogle">
          <p class="not-link">Кто-то на вас подписался</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Новый рецепт у подписки</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
      </div>

      <h2>Комментарии</h2>

      <div>
        <div class="toogle">
          <p class="not-link">Кто-то оценил ваш комментарий</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Кому-то не нравится ваш комментарий</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>

        <div class="toogle">
          <p class="not-link">Кто-то ответил на ваш комментарий</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
      </div>

      <h2>Одобрения</h2>

      <div>
        <div class="toogle">
          <p class="not-link">Ваш рецепт одобрен модератором</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Ваша категория одобрена модератором</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
      </div>

      <h2>Жалобы</h2>

      <div>
        <div class="toogle">
          <p class="not-link">Ваш рецепт удален по жалобе</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
        <div class="toogle">
          <p class="not-link">Ваш комментарий удален по жалобе</p>
          <app-toogle-switch
            [backgroundOff]="'var(--color-primary)'"
            [toogleOff]="'var(--color-background)'"
            [backgroundOn]="'var(--color-secondary)'"
            [toogleOn]="'var(--color-foreground)'"
          ></app-toogle-switch>
        </div>
      </div>
    </div>

    <div @slideReverse class="third" *ngIf="currentPage === 3">
      <div class="title-block">
        <span (click)="currentPage = 0"><</span>

        <h1>Персональная информация</h1>
      </div>
      <div>
        <h2>Электронная почта</h2>
        <p class="not-link">{{ user.email }}</p>
      </div>
      <div>
        <h2>Имя пользователя</h2>
        <p class="not-link">{{ "@" + user.username }}</p>
      </div>
      <p class="exit">Поменять пароль</p>
      <p class="exit" (click)="deleteModalShow = true">Удалить аккаунт</p>
    </div>

    <div @slideReverse class="second" *ngIf="currentPage === 2">
      <div class="title-block">
        <span (click)="currentPage = 0"><</span>
        <h1>О сайте</h1>
      </div>
      <h2 class="title">Yummy v. 1.0.0</h2>
      <div>
        <p class="not-link">
          Создатель: <a href="https://krabochki.github.io/Resume">krabochki</a>
        </p>
        <p class="not-link">Дата рождения: Soon...</p>
      </div>
      <h2 class="title">Yummy в соцсетях</h2>

      <div>
        <p><a href="https://pinterest.com">Pinterest</a></p>
        <p><a href="https://facebook.com">Facebook</a></p>
        <p><a href="https://vk.com">ВКонтакте</a></p>
        <p><a href="https://twitter.com">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

<app-modal
  @modal
  *ngIf="exitModalShow"
  [style]="'prim'"
  [title]="'Подтвердите выход'"
  [type]="'yesOrNo'"
  (resultEmit)="handleExitModal($event)"
  [buttonsText]="['Выйти', 'Остаться']"
  [description]="'Вы действительно хотите выйти из текущего аккаунта?'"
></app-modal>

<app-modal
  @modal
  *ngIf="deleteModalShow"
  [style]="'prim'"
  [title]="'Подтвердите удаление'"
  [type]="'yesOrNo'"
  (resultEmit)="handleDeleteModal($event)"
  [buttonsText]="['Удалить', 'Не удалять']"
  [description]="
    'Вы действительно хотите удалить свой аккаунт? Это действие нельзя будет отменить!'
  "
></app-modal>
