@import "../../../../../tools/UI/UI.scss";


.background{
    top:0;left:0;
    position: fixed;
    background-color: var(--modal-black);
    z-index: 3;
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;

}
.close{
  position: absolute;
  width: 2em; height:2em;
  background-color: var(--color-primary);
  right:-0.6em;top:-0.5em;
  cursor: pointer;
  font-weight: 1000;
  border-radius: 100%;

  opacity: 0.65;
  scale: 0.9;
  transition: 0.3s ease-in-out;
  z-index: 20;

  &:hover{
   opacity: 1;
     scale: 1;

  }

}

.cont{
   width: 18em;
  height: 19em;
  position: absolute;
}
.container {
  padding: var(--space-m);
  box-shadow: 0px 1px 10px  rgba($color: #000000, $alpha: 0.2);
  background-color: var(--color-background);
  border-radius: var(--space-m);
  position: relative;
  width: 18em;
  height: 19em;

  overflow-x: hidden;

  .toogle {
    width: 14.5em;
    align-items: center;
    display: flex;

    justify-content: space-between;
  }

  app-toogle-switch {
    height: 1.3em;
    margin-left: 2em;
    width: 2.9em;
  }

  a {
    text-decoration: underline;
  }
  & > div {

    position: absolute;

    top: 0;
    bottom: 0;
    margin: auto ;
    padding-right:1em;

    width: calc(18em - 2 * var(--space-m));
height: fit-content;
    max-height: calc(19em - 2 * var(--space-m));
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;

    align-items: flex-start;

    row-gap: var(--space-xs);

    flex-direction: column;

    
   &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--scroll-body);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
      border-radius: 20px;
      border:none;
    }
  }

  .title-block {
    span {
      cursor: pointer;
      font-weight: 700;
    }
    h1{
        margin-bottom: 0;
    }
    justify-content: center;
    margin-bottom: var(--space-xs);
    display: flex;
    column-gap: 1em;
    align-items: center;
  }

  p {
    margin: 0.4em 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .exit {
    margin-top: var(--space-xxs);

    color: var(--color-primary);
  }

  h1 {
    font-weight: 700;
    margin-bottom: var(--space-xs);
    font-size: var(--font-l);
  }
  h2 {
    font-weight: 600;
            margin-top:0.5em;

    font-size: 1.2em;

    &:not(h2:first-of-type){
            margin-top:1em

    }
  }

  .not-link {
    cursor: auto;
    &:hover {
      text-decoration: none;
    }
  }
}

app-modal {
  z-index: 10;
  position: fixed;
}
