<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="background" (click)="clickBackgroundNotContent($event)">
  <div class="container">
    <button (click)="closeEmitter.emit(true)" class="close">
      <svg-icon
        class="close-svg"
        [applyClass]="true"
        [src]="'/assets/images/svg/close.svg'"
      ></svg-icon>
    </button>

    <div class="zero">
      <section class="main-wrap">
        <nav class="nav noselect">
          <h1>Настройки</h1>
          <hr />
          <div class="switches">
            <ng-container *ngFor="let item of steps; let i = index">
              <button
                *ngIf="showBlock(i)"
                class="switch"
                [ngClass]="{ selected: step === i }"
                (click)="step = i"
              >
                {{ item }}
              </button>
            </ng-container>
          </div>
          <div class="mobile-switches">
            <ng-container *ngFor="let item of steps; let i = index">
              <button
                *ngIf="showBlock(i)"
                class="header-button"
                [ngClass]="{ selected: step === i }"
                (click)="step = i"
              >
                <svg-icon
                  class="svg-trash"
                  [applyClass]="true"
                  [src]="
                    '/assets/images/svg/settings/' +
                    stepsIcons[i] +
                    (step === i ? '-fill' : '') +
                    '.svg'
                  "
                />
              </button>
            </ng-container>
          </div>
        </nav>
        <div class="content">
          <div *ngIf="step === 1">
            <h2>Персональная информация</h2>
            <div class="blocks">
              <div>
                <h3>
                  <svg-icon
                    [applyClass]="true"
                    class="icon"
                    [src]="'/assets/images/svg/settings/mail.svg'"
                  />
                  Электронная почта
                </h3>
                <p>{{ user.email }}</p>
              </div>
              <div>
                <h3>
                  <svg-icon
                    [applyClass]="true"
                    class="icon"
                    [src]="'/assets/images/svg/settings/username.svg'"
                  />

                  Имя пользователя
                </h3>
                <p>{{ "@" + user.username }}</p>
              </div>
              <button class="action "><a routerLink="/password-reset">Поменять пароль</a></button>
              <button class="action red" (click)="deleteModalShow = true">
                Удалить аккаунт
              </button>
            </div>
          </div>
          <div *ngIf="step === 2">
            <h2>Уведомления</h2>
            <div class="blocks third">
              <div *ngFor="let section of permissionNotificationSections">
                <h3>
                  <svg-icon
                    [applyClass]="true"
                    class="icon"
                    [src]="
                      '/assets/images/svg/settings/' + section.icon + '.svg'
                    "
                  />
                  {{ section.title }}
                </h3>
                <div>
                  <div class="toogle" *ngFor="let item of section.items">
                    <p>{{ item.description }}</p>
                    <app-toogle-switch
                      [checked]="userPermissionEnabled(item.area)"
                      (checkedEmit)="
                        tooglePermission(
                          item.area,
                          !userPermissionEnabled(item.area)
                        )
                      "
                    ></app-toogle-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="step === 5">
            <h2>Анонимность</h2>

            <div class="blocks third">
              <ng-container *ngIf="user.role !== 'admin'">
                <p *ngIf="user.role === 'user'; else forModerators">
                  Внимание: все примененные ограничения не распространятся на
                  модераторов и администраторов Yummy
                </p>
                <ng-template #forModerators>
                  <p>
                    Внимание: все примененные ограничения не распространятся на
                    администратора Yummy
                  </p>
                </ng-template>
              </ng-container>

              <ng-container *ngFor="let section of condifencialitySettings">
                <div
                  *ngIf="section.role ? section.role.includes(user.role) : true"
                >
                  <h3>
                    <svg-icon
                      [applyClass]="true"
                      class="icon"
                      [src]="
                        '/assets/images/svg/settings/' + section.icon + '.svg'
                      "
                    />
                    {{ section.title }}
                  </h3>
                  <div>
                    <div class="toogle" *ngFor="let item of section.items">
                      <p>{{ item.description }}</p>
                      <app-toogle-switch
                        [checked]="userPermissionEnabled(item.area)"
                        (checkedEmit)="
                          tooglePermission(
                            item.area,
                            !userPermissionEnabled(item.area)
                          )
                        "
                      ></app-toogle-switch>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div *ngIf="step === MANAGERS_SETTINGS_BLOCK_NUM">
            <h2>Управление</h2>
            <div class="blocks third">
              <ng-container *ngFor="let section of managersPreferences">
                <div
                  *ngIf="section.role ? section.role.includes(user.role) : true"
                >
                  <h3>
                    <svg-icon
                      [applyClass]="true"
                      class="icon"
                      [src]="
                        '/assets/images/svg/settings/' + section.icon + '.svg'
                      "
                    />
                    {{ section.title }}
                  </h3>
                  <div>
                    <div class="toogle" *ngFor="let item of section.items">
                      <p>{{ item.description }}</p>
                      <app-toogle-switch
                        [checked]="userPermissionEnabled(item.area)"
                        (checkedEmit)="
                          tooglePermission(
                            item.area,
                            !userPermissionEnabled(item.area)
                          )
                        "
                      ></app-toogle-switch>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div *ngIf="step === 3">
            <h2>Предпочтения</h2>
            <div class="blocks">
              <div>
                <h3>
                  <svg-icon
                    [applyClass]="true"
                    class="icon"
                    [src]="'/assets/images/svg/permanent.svg'"
                  />
                  Ваши постоянные продукты
                </h3>
                <p class="description">
                  Внесите сюда те ингредиенты, которые постоянно присутствуют в
                  вашем холодильнике. Это поможет не показывать лишние
                  ингредиенты в «Подборе рецептов», считая, что они всегда у вас
                  есть.
                </p>
              </div>

              <div class="form">
                <app-usual-input
                  (ngModelChange)="
                    !permanentIngredientTouched
                      ? (permanentIngredientTouched = true)
                      : null
                  "
                  [error]="
                    permanentIngredientTouched && permanentIngredient.length < 2
                      ? ' '
                      : ''
                  "
                  [(ngModel)]="permanentIngredient"
                  [max]="50"
                  [placeholder]="'Название ингредиента'"
                  type="text"
                />
                <app-button
                  [color]="'prim'"
                  [text]="'Добавить'"
                  [style]="'filled'"
                  [rounded]="true"
                  [disabled]="
                    !permanentIngredientExist && permanentIngredient.length > 2
                  "
                  (click)="addPermanentIngredient()"
                ></app-button>
                <p
                  class="error"
                  *ngIf="
                    permanentIngredient.length < 2 && permanentIngredientTouched
                  "
                >
                  Название ингредиента должно содержать минимум 2 символа
                </p>
              </div>
              <div class="ingredients">
                <div
                  class="ingredient"
                  *ngFor="let item of permanentIngredients"
                >
                  {{ item }}
                  <button
                    (click)="deleteIngredient('permanent', item)"
                    class="delete-button"
                  >
                    <svg-icon
                      [applyClass]="true"
                      class="delete-svg"
                      [src]="'/assets/images/svg/close.svg'"
                    />
                  </button>
                </div>
              </div>

              <div>
                <h3>
                  <svg-icon
                    [applyClass]="true"
                    class="icon"
                    [src]="'/assets/images/svg/gluten.svg'"
                  />
                  Исключения для поиска
                </h3>
                <p class="description">
                  Укажите продукты, которые вы по тем или иным причинам не
                  желаете использовать в процессе готовки каких бы то ни было
                  рецептов. Мы учтем ваши предпочтения, и в подборе рецептов вы
                  сразу не будете видеть рецепты, включающие такие ингредиенты.
                </p>
              </div>

              <div class="form">
                <app-usual-input
                  (ngModelChange)="
                    !excludedIngredientTouched
                      ? (excludedIngredientTouched = true)
                      : null
                  "
                  [error]="
                    excludedIngredientTouched && excludedIngredient.length < 2
                      ? ' '
                      : ''
                  "
                  [(ngModel)]="excludedIngredient"
                  [max]="50"
                  [placeholder]="'Название ингредиента'"
                  type="text"
                />
                <app-button
                  [color]="'prim'"
                  [text]="'Исключить'"
                  [style]="'filled'"
                  [rounded]="true"
                  [disabled]="
                    !excludedIngredientExist && excludedIngredient.length > 2
                  "
                  (click)="addExcludedIngredient()"
                ></app-button>
                <p
                  class="error"
                  *ngIf="
                    excludedIngredient.length < 2 && excludedIngredientTouched
                  "
                >
                  Название ингредиента должно содержать минимум 2 символа
                </p>
              </div>
              <div class="ingredients">
                <div
                  class="ingredient"
                  *ngFor="let item of excludingIngredients"
                >
                  {{ item }}
                  <button
                    (click)="deleteIngredient('excluding', item)"
                    class="delete-button"
                  >
                    <svg-icon
                      [applyClass]="true"
                      class="delete-svg"
                      [src]="'/assets/images/svg/close.svg'"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="step === 0">
            <h2>Основное</h2>
            <div class="blocks">
              <div class="toogle">
                <p class="not-link">Темная тема</p>
                <app-toogle-switch
                  [backgroundOff]="'var(--color-secondary)'"
                  [backgroundOn]="'var(--color-foreground)'"
                  [toogleOff]="'var(--color-background)'"
                  [toogleOn]="'var(--color-secondary)'"
                  (checkedEmit)="nightModeEmit($event)"
                  [nightMode]="true"
                ></app-toogle-switch>
              </div>
              <div>
                <p   ><a routerLink="/about">Узнать больше о сайте...</a></p>
                <p  >
                  <a routerLink="/user-policy"
                    >Пользовательское соглашение...</a
                  >
                </p>
              </div>
              <div>
                <p>Пригласите друзей</p>
                <div class="socials">
                  <app-social-button [url]="location"></app-social-button>
                  <app-social-button
                    [url]="location"
                    [social]="social"
                    *ngFor="let social of socials"
                  ></app-social-button>
                </div>
              </div>
              <button class="action red" (click)="exitModalShow = true">
                Выйти из аккаунта
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <app-modal
    @modal
    *ngIf="exitModalShow"
    [style]="'prim'"
    [title]="'Подтвердите выход'"
    [type]="'yesOrNo'"
    (resultEmit)="handleExitModal($event)"
    [buttonsText]="['Выйти', 'Остаться']"
    [description]="'Вы действительно хотите выйти из текущего аккаунта?'"
  ></app-modal>

  <app-modal
    @modal
    *ngIf="deleteModalShow"
    [style]="'prim'"
    [title]="'Подтвердите удаление'"
    [type]="'yesOrNo'"
    (resultEmit)="handleDeleteModal($event)"
    [buttonsText]="['Удалить', 'Не удалять']"
    [description]="
      'Вы действительно хотите удалить свой аккаунт? Это действие нельзя будет отменить!'
    "
  ></app-modal>
</div>
<app-modal  @modal [style]="'await'" [type]="'Ok'"  [noButtons]="true" [title]="'Подождите...'"
  [type]="'Ok'" [description]="'Применяются внесенные изменения... Подождите немного...'" *ngIf="loading"></app-modal>