<div class="container">
  <h1>Пользовательское соглашение</h1>
  <div class="header">
    <p>
      Настоящее Пользовательское соглашение (далее соглашение) регулирует
      отношения между владельцем (далее Yummy или администрация) с одной стороны
      и пользователем сайта с другой.
    </p>
    <p>Используя сайт, вы соглашаетесь с условиями данного соглашения.</p>
    <p class="important">
      Если вы не согласны с условиями данного соглашения, не используйте сайт
      Yummy!
    </p>
  </div>
  <div class="sections">
    <section>
      <h2>Предмет соглашения</h2>
      <p>
        Администрация предоставляет пользователю право на размещение на сайте
        следующей информации:
      </p>
      <ul>
        <li>текстовой информации</li>
        <li>фотоматериалов</li>
        <li>ссылок на материалы, размещенных на других сайтах</li>
      </ul>
    </section>
    <section>
      <h2>Права и обязанности сторон</h2>
     <div class="rights">
         <div>
              <p>Пользователь имеет право:</p>
              <ul>
                <li>осуществлять поиск информации на сайте</li>
                <li>получать информацию на сайте</li>
                <li>создавать информацию для сайта</li>
                <li>распространять информацию на сайте</li>
                <li>комментировать контент, выложенный на сайте</li>
                <li>изменять рейтинг пользователей</li>
                <li>копировать информацию на другие сайты с указанием источника</li>
                <li>использовать информацию сайта в личных некоммерческих целях</li>
              </ul>
         </div>
         <div>
              <p>Администрация имеет право:</p>
              <ul>
                <li>
                  по своему усмотрению и необходимости создавать, изменять, отменять
                  правила
                </li>
                <li>ограничивать доступ к любой информации на сайте</li>
                <li>создавать, изменять, удалять информацию</li>
              </ul>
         </div>
         <div>
              <p>Пользователь обязуется:</p>
              <ul>
                <li>обеспечивать сохранность личных данных от доступа третьих лиц</li>
                <li>
                  не распространять информацию, которая направлена на пропаганду войны,
                  разжигание национальной, расовой или религиозной ненависти и вражды, а
                  также иной информации, за распространение которой предусмотрена
                  уголовная или административная ответственность
                </li>
                <li>не нарушать работоспособность сайта</li>
                <li>
                  не совершать действия, направленные на введение других Пользователей в
                  заблуждение
                </li>
                <li>
                  не передавать в пользование свою учетную запись и/или логин и пароль
                  своей учетной записи третьим лицам
                </li>
                <li>
                  не размещать материалы рекламного, эротического, порнографического или
                  оскорбительного характера, а также иную информацию, размещение которой
                  запрещено или противоречит нормам действующего законодательства Республики Беларусь
                </li>
                <li>
                  не использовать скрипты (программы) для автоматизированного сбора
                  информации и/или взаимодействия с сайтом и его сервисами
                </li>
              </ul>
         </div>
         <div>
              <p>Администрация обязуется:</p>
              <ul>
                <li>
                  поддерживать работоспособность сайта за исключением случаев, когда это
                  невозможно по независящим от администрации причинам
                </li>
                <li>осуществлять разностороннюю защиту учетной записи пользователя</li>
              </ul>
         </div>
     </div>
    </section>
    <section>
      <h2>Ответственность сторон</h2>
      <ul>
        <li>
          пользователь лично несет полную ответственность за распространяемую им
          информацию
        </li>
        <li>
          администрация не несет никакой ответственности за достоверность
          информации, скопированной из других источников
        </li>
      </ul>
    </section>
    <section>
      <h2>Условия действия соглашения</h2>
      <ul>
        <li>
          данное соглашение вступает в силу при любом использовании данного
          сайта
        </li>
        <li>
          данное соглашение перестает действовать при появлении его новой версии
        </li>
        <li>
          администрация оставляет за собой право в одностороннем порядке
          изменять данное соглашение по своему усмотрению
        </li>
        <li>администрация оповещает пользователей об изменении в соглашении</li>
      </ul>
    </section>
  </div>
</div>
