<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<ng-template #sceleton>
  <div class="recipe sceleton null">
    <p>
      Здесь могла быть <br />
      ваша реклама
    </p>
    <svg-icon  [applyClass]="true" class="no-recipe-svg"
      [src]="'../../../../../assets/images/svg/no-recipe.svg'"></svg-icon>
  </div>
</ng-template>
<div  *ngIf="dataLoaded && recipe.id > 0; else sceleton" class="recipe" >
  <div class="top">
    <div (click)="handleInnerFunction($event)" [ngClass]="{'disabled':recipe.status==='awaits'}" *ngIf="recipe.authorId === currentUserId || recipe.status === 'public'"
      (click)="recipe.status === 'public' ? makeThisRecipeFavorite() : moreAuthorButtons=!moreAuthorButtons" class="fav">
      <svg-icon *ngIf="recipe.status !== 'public'" [src]="'../../../../../assets/images/svg/more.svg'"
        [applyClass]="true" class="fav-icon"></svg-icon>
      <svg-icon *ngIf="recipe.status === 'public' && !isRecipeFavorite"
        [src]="'../../../../../assets/images/svg/fav.svg'" [applyClass]="true" class="fav-icon"></svg-icon>
      <svg-icon *ngIf="recipe.status === 'public' && isRecipeFavorite"
        [src]="'../../../../../assets/images/svg/fav-fill.svg'" [applyClass]="true" class="fav-icon"></svg-icon>
    </div>
    <div  class="more-buttons" (click)="handleInnerFunction($event)" @modal  *ngIf="author.id===currentUserId && moreAuthorButtons">
      <div class="top-button" (click)=" editMode=true">
         <svg-icon  [src]="'../../../../../assets/images/svg/pen.svg'"
        [applyClass]="true" class="remove-svg"></svg-icon>
      </div>
         <div class="top-button" (click)=" publishModalShow=true">
         <svg-icon  [src]="'../../../../../assets/images/svg/publish.svg'"
        [applyClass]="true" class="remove-svg"></svg-icon>
      </div>
      <div class="top-button"  (click)="deleteRecipeModalShow=true">

        <svg-icon [applyClass]="true" class="remove-svg" [src]="'../../../../../assets/images/svg/trash.svg'"></svg-icon>

      </div>
    </div>
  </div>
  <div class="bottom">
      <h1 [ngStyle]="{'margin-bottom':(!showAuthor?'0.25em':null)}"  [title]="recipe.name"><a [routerLink]="'/recipes/list/' + recipe.id">{{ recipe.name }}</a></h1>
    <div (click)="handleInnerFunction($event)" *ngIf="showAuthor" [title]="author.fullName===''?('@'+author.username):author.fullName"  class="author">
      <a [routerLink]="'/cooks/list/' + author.id">{{ author.fullName===''?('@'+author.username):author.fullName }}</a>
    </div>

    <div class="rate-panel" *ngIf="recipe.status === 'public'">
      <div   (click)="handleInnerFunction($event)" class="rate-item likes" (click)="likeThisRecipe()">
        <svg-icon *ngIf="!isRecipeLiked" [src]="'../../../../../assets/images/svg/like.svg'" [applyClass]="true"
          class="like-icon"></svg-icon>
        <svg-icon *ngIf="isRecipeLiked" [src]="'../../../../../assets/images/svg/like-fill.svg'" [applyClass]="true"
          class="like-icon liked"></svg-icon>
        <span class="likes-num" [ngClass]="{ liked: isRecipeLiked }">{{
          recipe.likesId.length
          }}</span>
      </div>
      <div (click)="handleInnerFunction($event)" class="rate-item cooks" (click)="!isRecipeCooked&&currentUserId>0?voteModalShow=true:cookThisRecipe()">
        <svg-icon *ngIf="!isRecipeCooked" [src]="'../../../../../assets/images/svg/cook.svg'" [applyClass]="true"
          class="cook-icon"></svg-icon>
        <svg-icon *ngIf="isRecipeCooked" [src]="'../../../../../assets/images/svg/cook-fill.svg'" [applyClass]="true"
          class="cook-icon cooked"></svg-icon>
        <span [ngClass]="{ cooked: isRecipeCooked }">{{
          recipe.cooksId.length
          }}</span>
      </div>
    </div>
    <div class="rate-panel" *ngIf="!(recipe.status === 'public')">
      <div class="rate-item likes" style="cursor: default">
        <svg-icon [src]="
            '../../../../../assets/images/svg/' +
            (recipe.status === 'awaits' ? 'awaits' : 'private') +
            '.svg'
          " [applyClass]="true" class="like-icon"></svg-icon>
        <span>{{
          recipe.status === "private" ? "Не опубликован" : "Ожидает проверки"
          }}</span>
      </div>
    </div>
  </div>

  
</div>

<app-modal @modal *ngIf="noAccessModalShow" [style]="'prim'" [title]="'Доступ к функции ограничен'" [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)" [buttonsText]="['Давайте', 'Не сейчас']" [description]="
    'Взаимодействовать с рецептами могут только пользователи с личным аккаунтом. Хочешь зарегистрироваться или войти в существующий аккаунт?'
  "></app-modal>

    <app-recipe-create (updatedRecipeEmitter)="handleEditedRecipe($event)" style="z-index:10; position: fixed;" [editedRecipe]="recipe" *ngIf="editMode" (closeEmitter)="editModeOff()" @modal ></app-recipe-create>

    <app-modal @modal *ngIf="successEditModalShow" [style]="'sec'" [title]="'Рецепт успешно изменен'" [type]="'Ok'"
  (resultEmit)="handleSuccessEditModal()" [buttonsText]="['Хорошо']" [description]="
  'Твой рецепт успешно изменен' +
    (isAwaitingApprove ? ' и ожидает одобрения модератора' : '')
  "></app-modal>


  <app-modal @modal *ngIf="deleteRecipeModalShow" [style]="'prim'" [title]="'Удаление рецепта'" [type]="'yesOrNo'"
  (resultEmit)="handleDeleteRecipeModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'Ты действительно хочешь удалить этот рецепт?'
  "></app-modal>

      <app-modal @modal *ngIf="successDeleteModalShow" [style]="'sec'" [title]="'Рецепт успешно удален'" [type]="'Ok'"
  (resultEmit)="handleSuccessDeleteModal()" [buttonsText]="['Хорошо']" [description]="
  'Этот рецепт успешно удален'
  "></app-modal>


  
       <app-modal @modal *ngIf="successPublishModalShow" [style]="'sec'" [title]="'Рецепт отправлен'" [type]="'Ok'"
  (resultEmit)="handleSuccessPublishModal()" [buttonsText]="['Хорошо']" [description]="
  'Этот рецепт успешно отправлен на рассмотрение к модератору'
  "></app-modal>


  <app-modal @modal *ngIf="publishModalShow" [style]="'prim'" [title]="'Подтвердите публикацию рецепта'" [type]="'yesOrNo'"
  (resultEmit)="handlePublishRecipeModal($event)" [buttonsText]="['Да', 'Нет']"
  [description]="'Ты уверен, что хочешь отправить рецепт на рассмотрение модератору для дальнейшей модерации?'"></app-modal>

  <app-modal @modal *ngIf="voteModalShow" [style]="'prim'" [title]="'Оставьте отзыв'" [type]="'yesOrNo'"
  (resultEmit)="handleVoteModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'Ты бы приготовил этот рецепт снова?'
  "></app-modal>

      <app-modal @modal *ngIf="successVoteModalShow" [style]="'sec'" [title]="'Твой отзыв сохранен'" [type]="'Ok'"
  (resultEmit)="handleSuccessVoteModal()" [buttonsText]="['Хорошо']" [description]="
  'Спасибо! Твое мнение важно для нас'
  "></app-modal>