<div class="wrap">
  <h1>Пользовательское соглашение</h1>
  <div class="header nospace">
    <p >
      Настоящее пользовательское соглашение (далее соглашение) регулирует
      отношения между владельцем (далее Yummy или администрация) с одной стороны
      и пользователем сайта с другой.
    </p>
    <p>Используя сайт, вы соглашаетесь с условиями данного соглашения.</p>
    <p class="important">
      Если вы не согласны с условиями данного соглашения, не используйте сайт
      Yummy!
    </p>
  </div><div class="community mini">
    <svg-icon [applyClass]="true" class="community-svg" [src]="'/assets/images/svg/lawyer.svg'" />
  </div>
  <div class="sections">
    <section *ngFor="let policyGroup of policyGroups">
      <h2>{{policyGroup.name}}</h2>
      <ul>
        <li *ngFor="let policy of policyGroup.content">
          <svg-icon class="cook" [applyClass]="true" [src]="'/assets/images/svg/cook-fill.svg'" />
          {{ policy }}
        </li>
      </ul>
    </section>

  </div>
</div>