.header{
    display: flex;
    justify-content: center;
    column-gap: 3em;
    a{
        transition: 0.2s ease-in-out;

    }
    margin-bottom: 2em;
}
h1{
  font-family: var(--font-family-accent);
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--font-xxl);
}

.active-link{
  font-weight: 500;
  color: var(--color-secondary);
}

.wrap{
  padding:2em calc(14.4vw + 0 * (100vw - 768px) / 760)

}