<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="input">
  <div>
    <input
      [maxlength]="max"
      (keyup)="change()"
      style="padding-right: 2em"
      autocomplete="off"
      #input
      [type]="this.showPassword ? 'password' : 'text'"
      [(ngModel)]="value"
      [value]="value"
      [disabled]="disabled"
      [ngClass]="{
        uncorrect: error !== ''
      }"
      (focus)="focus()"
      (blur)="blur()"
    />
    <p
      class="placeholder"
      [ngClass]="{
        uncorrect: error !== '',
        up: this.isFocused,
        sleep: this.isSleep
      }"
    >
      {{ placeholder }}
    </p>

    <span class="eye" (click)="eye()">
      <svg-icon
        [applyClass]="true"
        [class]="error !== '' ? 'uncorrect' : 'correct'"
        *ngIf="!this.showPassword"
        [src]="'../../../../assets/images/svg/eye-close.svg'"
      ></svg-icon>

      <svg-icon
        *ngIf="this.showPassword"
        [applyClass]="true"
                [class]="error !== '' ? 'uncorrect' : 'correct'"
        [src]="'../../../../assets/images/svg/eye-open.svg'"
      ></svg-icon>
    </span>
  </div>
  <div *ngIf="showError" class="error">{{ error }}</div>

</div>
