<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="outer" (click)="clickBackgroundNotContent($event)">
  <div class="inner">
    <div class="close-button" (click)="closeEditModal()">
      <svg-icon
        [src]="'/assets/images/svg/close.svg'"
        [applyClass]="true"
        class="close-svg"
      ></svg-icon>
    </div>
    <div class="header">
      <h1>Создание новости</h1>
      <div class="navigation">
        <div class="nav-step-circles-block">
          <div class="nav-step-block" *ngFor="let step of steps; let i = index">
            <div class="nav-step-block-inner" (click)="clickOnCircleStep(i)">
              <div
                class="nav-step-circle"
                [ngClass]="{
                  active: i === currentStep,
                  completed: i < currentStep,
                  'not-valid': notValid() === i + 1
                }"
              >
                {{ i + 1 }}
              </div>
              <p
                class="nav-step-short-title"
                [ngClass]="{
                  active: i === currentStep,
                  completed: i < currentStep,
                  'not-valid': notValid() === i + 1
                }"
              >
                {{ steps[i].shortTitle }}
              </p>
            </div>
            <div
              [ngClass]="{
                completed: i < currentStep
              }"
              *ngIf="i !== steps.length - 1"
              class="nav-step-line"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="unique-content">
      <div>
        <h2>{{ steps[currentStep].title }}</h2>
      </div>

      <hr />

      <form [formGroup]="form" #scrollContainer>
        <div class="description-container">
          <button class="more-button" (click)="showInfo = !showInfo">
            <svg-icon
              [src]="'assets/images/svg/help.svg'"
              [applyClass]="true"
              class="help-svg"
            ></svg-icon>
            Подробнее
          </button>
          <p class="description" *ngIf="showInfo" @height>
            {{ steps[currentStep].description }}
          </p>
        </div>
        <div class="step-container" *ngIf="currentStep === 0">
          <div class="form-control">
            <h3>Полное название новости*</h3>
            <app-usual-input
              [inputRequired]="true"
              [max]="200"
              id="name"
              formControlName="name"
              [placeholder]="'Придумайте полное название новости'"
              required
              [value]="form.get('name')?.value"
              [error]="
                form.get('name')?.invalid &&
                (form.get('name')?.dirty || form.get('name')?.touched)
                  ? 'Полное название новости должно содержать от 4 до 200 символов'
                  : ''
              "
            ></app-usual-input>
          </div>
          <div class="form-control">
            <h3>Сокращенное название новости*</h3>
            <app-usual-input
              [inputRequired]="true"
              [max]="50"
              formControlName="shortName"
              [placeholder]="
                'Придумайте сокращенное название новости для уведомления кулинаров'
              "
              required
              [value]="form.get('shortName')?.value"
              [error]="
                form.get('shortName')?.invalid &&
                (form.get('shortName')?.dirty || form.get('shortName')?.touched)
                  ? 'Сокращенное название новости должно содержать от 4 до 50 символов'
                  : ''
              "
            ></app-usual-input>
          </div>
          <div class="form-control">
            <h3>Описание новости</h3>
            <app-usual-input
              [inputType]="'textarea'"
              [max]="1000"
              formControlName="description"
              [placeholder]="'Опишите новости'"
              [value]="form.get('description')?.value"
            ></app-usual-input>
          </div>
        </div>
        <div class="step-container" *ngIf="currentStep === 1">
          <div class="form-control">
            <h3>Статус новости*</h3>

            <div>
              <app-autocomplete
                [disabled]="this.form.get('status')?.value !== null"
                [clearValueOnBlur]="true"
                (anyEmitter)="addStatus($event)"
                [anyData]="updateStatuses"
                [placeholder]="'Выберите соответствующий статус для новости'"
              ></app-autocomplete>
            </div>

            <div class="tags" *ngIf="this.form.get('status')?.value">
              <div class="tag">
                {{ this.form.get("status")?.value }}
                <span (click)="removeCategory()" class="remove-tag"
                  ><svg-icon
                    [applyClass]="true"
                    class="remove-tag-svg"
                    [src]="'/assets/images/svg/close.svg'"
                  ></svg-icon
                ></span>
              </div>
            </div>

            <div class="form-control">
              <h3>Уведомления*</h3>

              <div>
                <app-autocomplete
                  [disabled]="this.form.get('context')?.value !== null"
                  [clearValueOnBlur]="true"
                  (anyEmitter)="addContext($event)"
                  [anyData]="context"
                  [placeholder]="
                    'Выберите, кого нужно уведомить о нововведениях'
                  "
                ></app-autocomplete>
              </div>

              <div class="tags" *ngIf="this.form.get('context')?.value">
                <div class="tag">
                  {{ showContext }}
                  <span (click)="removeContext()" class="remove-tag"
                    ><svg-icon
                      [applyClass]="true"
                      class="remove-tag-svg"
                      [src]="'/assets/images/svg/close.svg'"
                    ></svg-icon
                  ></span>
                </div>
              </div>
            </div>

            <div class="form-control">
              <h3>Теги</h3>

              <div class="tag-form">
                <app-autocomplete
                  [value]="form.value.tag"
                  (tagEmitter)="form.get('tag')?.setValue($event)"
                  [context]="'tags'"
                  [startOnTyping]="true"
                  formControlName="tag"
                  [placeholder]="'Тег (найдите по поиску или придумайте новый)'"
                ></app-autocomplete>
                <app-button
                  [text]="'Добавить тег'"
                  (click)="this.form.value.tag ? addTag() : null"
                  [disabled]="form.get('tag')?.value"
                  [style]="'filled'"
                  [color]="'prim'"
                  [rounded]="true"
                />
              </div>

              <div class="tags">
                <div class="tag" *ngFor="let tag of tags">
                  {{ tag }}
                  <span (click)="removeTag(tag)" class="remove-tag"
                    ><svg-icon
                      [applyClass]="true"
                      class="remove-tag-svg"
                      [src]="'/assets/images/svg/close.svg'"
                    ></svg-icon
                  ></span>
                </div>
              </div>
            </div>

            <div class="form-control">
              <h3>Ссылка на изменения</h3>
              <app-usual-input
                [max]="1000"
                formControlName="link"
                [placeholder]="
                  'Оставьте ссылку на измененную страницу вида /recipes/popular'
                "
                [value]="form.get('link')?.value"
                [error]="
                  form.get('link')?.invalid &&
                  (form.get('link')?.dirty || form.get('link')?.touched)
                    ? 'Ссылка должна содержать от 3 до 1000 символов'
                    : ''
                "
              ></app-usual-input>
            </div>
          </div>

          <div class="form-control">
            <h3>Доступ</h3>

            <div class="сheckblock">
              <button
                class="checkbox"
                (click)="
                  this.form
                    .get('allowAccessOnlyForManagers')
                    ?.setValue(
                      !this.form.get('allowAccessOnlyForManagers')?.value
                    )
                "
              >
                <svg-icon
                  *ngIf="
                    this.form.get('allowAccessOnlyForManagers')?.value === true
                  "
                  class="checkbox-icon"
                  [applyClass]="true"
                  [src]="'/assets/images/svg/checkbox.svg'"
                ></svg-icon>
              </button>
              <p>
                Показывать новость только модераторам и администраторам на
                странице новостей
              </p>
            </div>
          </div>
        </div>

        <div *ngIf="currentStep === 2">
          <div class="buttons">
            <div class="button">
              <p>
                Если вы хотите, чтобы новость увидели все кулинары,
                {{
                  currentUser.role === "moderator"
                    ? "отправьте ее на одобрение"
                    : "опубликуйте ее"
                }}.
              </p>
              <app-button
                [disabled]="areObjectsEqual() && form.valid"
                (click)="form.valid ? (saveModal = true) : null"
                [text]="'Опубликовать'"
                [color]="'sec'"
                [style]="'filled'"
                [rounded]="true"
              ></app-button>
            </div>

            <div class="button">
              <p>
                Если вы передумали создавать новость, просто отмените ее
                создание. Все данные придется вводить повторно, если вы захотите
                создать ее снова.
              </p>

              <app-button
                (click)="closeEditModal()"
                [text]="'Отменить'"
                [color]="'prim'"
                [style]="'outlined'"
                type="button"
                [rounded]="true"
              ></app-button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="footer">
      <div>
        <app-button
          [iconSize]="'min'"
          [color]="'sec'"
          [iconPosition]="'before'"
          [rounded]="true"
          [icon]="'arrow-previous'"
          [iconStyle]="'as-text'"
          [style]="'outlined'"
          [text]="'Назад'"
          (click)="goToPreviousStep()"
          *ngIf="!(currentStep === 0)"
        ></app-button>
      </div>
      <div>
        <app-button
          [iconSize]="'min'"
          [icon]="'arrow-next'"
          [color]="'sec'"
          [rounded]="true"
          [style]="'filled'"
          [text]="'Вперед'"
          (click)="!buttonDisabled() ? goToNextStep() : null"
          [disabled]="!buttonDisabled()"
          *ngIf="!(this.currentStep === steps.length - 1)"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<app-modal
  *ngIf="closeModal"
  @modal
  [style]="'prim'"
  [title]="'Закрытие окна'"
  [type]="'yesOrNo'"
  (resultEmit)="handleCloseModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что не хотите сохранить новость?'"
>
</app-modal>

<app-modal
  @modal
  *ngIf="saveModal"
  [style]="'prim'"
  [title]="'Создание новости'"
  [type]="'yesOrNo'"
  (resultEmit)="handleSaveModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="
    'Вы уверены, что хотите создать новость' +
    (currentUser.role === 'moderator'
      ? ' и отправить ее на рассмотрение администратору'
      : '') +
    '?'
  "
></app-modal>

<app-modal
  @modal
  *ngIf="successModal"
  [style]="'sec'"
  [title]="'Новость успешно создана'"
  [type]="'Ok'"
  (resultEmit)="handleSuccessModal()"
  [buttonsText]="['Хорошо']"
  [description]="
    'Новость успешно создана' +
    (currentUser.role === 'moderator'
      ? ' и отправлена администратору на рассмотрение'
      : '')
  "
></app-modal>
<app-modal @modal [style]="'await'" *ngIf="awaitModalShow"></app-modal>
