<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="background" (click)="clickBackgroundNotContent($event)">
  <div class="main-cont">
    <div class="close-button" (click)="closeEmitter.emit(true)">
      <svg-icon
        class="close-svg"
        [applyClass]="true"
        [src]="'../../../../assets/images/svg/close.svg'"
      ></svg-icon>
    </div>
    <h1>
      {{ editMode ? "Изменение рецепта в плане" : "Добавление рецепта в план" }}
    </h1>

    <p class="description begin">
      {{
        editMode
          ? "Тут ты можешь изменить существующий рецепт в твоем плане готовки. Измени нужные поля ниже, чтобы обновленный рецепт попал в план."
          : "Тут ты можешь добавить новый рецепт в твой план готовки. Заполни необходимые поля ниже, чтобы интегрировать рецепт в твой гастрономический календарь."
      }}
       После заполнения всех полей, нажми «{{
          editMode ? "Обновить рецепт в плане" : "Добавить рецепт в план"
        }}» для сохранения. 
    </p>

    <hr />

    <div>
      <div class="img-cont">
        <div class="first-col">
          <div class="section">
            <h2>Название рецепта</h2>
            <app-usual-input
              [(ngModel)]="title"
              [max]="50"
              [value]="title"
              [placeholder]="'Введите название предстоящего шедевра'"
              type="text"
              [inputRequired]="true"
              class="form-control"
              [(ngModel)]="title"
            />
          </div>

           <div class="section">
            <h2>Связанный рецепт Yummy</h2>

            <div class="search-block">
              <div class="search">
                <app-usual-input
                  (focus)="focus()"
                  [error]="searchQuery&&focused&&(selectedRecipe.id===0)?' ':''"
                  (blurEmitter)="blur()"
                  [(ngModel)]="searchQuery"
                  [value]="searchQuery"
                  (ngModelChange)="recipeSearching()"
                  type="text"
                  placeholder="Введи название и выбери рецепт из результатов поиска"
                />
              </div>

              <div class="autocomplete-list">
                <ul @auto-complete *ngIf="autocompleteShow">
                  <div *ngIf="autocompleteRecipes.length === 0">
                    <div class="no-found-recipes">
                
                      <p>
                       По твоему запросу нет никаких рецептов.
                        Попробуй изменить параметры поиска или подобрать рецепт
                        в специальном разделе!
                      </p>
                      <app-button
                        [text]="'Подбор рецептов'"
                        (mousedown)="navigateTo('/recipes/match')"
                        [style]="'filled'"
                        [color]="'prim'"
                        [rounded]="true"
                      ></app-button>
                    </div>
                  </div>
                  <li *ngFor="let item of autocompleteRecipes" (mousedown)="chooseRecipe(item)">
                    <p>{{ item.name }}</p>
                    <span>{{
                      getUser(item.authorId).fullName !== ""
                        ? getUser(item.authorId).fullName
                        : "@" + getUser(item.authorId).username
                    }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="section">
            <h2>Цвет</h2>
            <div class="palette">
              <button
                class="color"
                *ngFor="let color of colors; let i = index"
                (click)="selectColor(i)"
                [ngClass]="{ selected: i === selectedColorIndex }"
                [ngStyle]="{ 'background-color': color }"
              > </button>
            </div>
          </div>

          <div class="section">
            <h2>Дата</h2>
            <div>
              <input
                class="calendar-event"
                type="text"
                mwlFlatpickr
                [(ngModel)]="date"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="false"
                dateFormat="Y-m-d"
                altFormat="F j, Y"
                placeholder="Выберите дату*"
              />
            </div>
          </div>
         

          <app-button
            [style]="'filled'"
            [color]="'sec'"
            [rounded]="true"
            [text]="
              editMode ? 'Обновить рецепт в плане' : 'Добавить рецепт в план'
            "
            (click)="editMode ? editEvent() : addEvent()"
          >
          </app-button>
        </div>
        <svg-icon
          class="icon"
          [applyClass]="true"
          [src]="
            '../../../../assets/images/svg/planning/cook-and-ingredients.svg'
          "
        ></svg-icon>
      </div>
     
    </div>
  </div>
</div>
