.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-black);
  width: 100vw;
  height: 100%;
  z-index: 10;
  display: flex;
  align-self: center;
  justify-content: center;
}

.error {
  position: absolute;
  bottom: -1.75em;
  color: var(--color-primary);
  font-size: 0.8em;
  margin-bottom: 0.4em;
}
.close-svg {
  fill: var(--color-foreground-unactive);
  height: 100%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.75em;
  height: 0.75em;
}
.main-cont {
  height: fit-content;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 2em;
  padding: 2em 3em;
  background-color: var(--color-background);
  width: 50rem;
  flex-direction: column;
}
h2 {
  font-weight: 500;
  margin-bottom: 0.5em;
  color: var(--color-secondary);
  font-size: 1.05em;
}
.for-effect {
  position: relative;
  &::after {
    position: absolute;
    pointer-events: none;
    height: 15%;
    content: "";
    width: calc(100% - 12px);
    display: inline-block;
    bottom: 0;

    background: linear-gradient(
      0deg,
      var(--color-background) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
.img-cont {
  padding: 0 0.5em;
  max-height: 50vh;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 2.5em;
  overflow-x: visible;
  display: grid;
  column-gap: 2em;
  grid-template-columns: 1fr 0.5fr;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}
.first-col {
  height: fit-content;
  width: 100%;
}
.icon {
  width: 10em;
  justify-self: center;
  align-self: center;
  fill: var(--color-foreground);
}
.col {
  display: flex;
  flex-direction: column;
}
.selected {
  scale: 1.2;
  border: 1px solid var(--color-foreground-unactive);
}
.row {
  display: flex;
}

.color-and-date {
  display: flex;
  column-gap: 2em;
}
h1 {
  font-family: var(--font-family-accent);
  font-size: var(--font-xl);
  margin-bottom: 0.5em;
  text-align: center;
}

app-usual-input,
app-button {
  zoom: 0.9;
}

hr {
  height: 0.5px;
  width: 100%;
  opacity: 0.5;
  background-color: var(--color-foreground-unactive);
}
.description {
  font-size: 0.95em;
  margin-top: 0.5em;
  line-height: 1;

  &.begin {
    margin-bottom: 1em;
  }
  &.end {
    margin-top: 1em;
  }
}

.form-footer {
  align-items: start;
  column-gap: 2em;
}
app-button {
  display: flex;
  margin-top: 2em;
}
.section {
  margin-top: 0.75em;
}

.close-button {
  zoom: 0.9;
  font-weight: 1000;
  right: 1.5em;
  top: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--color-background-deeper);
  transition: opacity 0.2s ease-in-out;
}
.palette {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.25em;

  column-gap: 0.5em;
  .color {
    width: 1.25em;
    height: 1.25em;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    &:focus,
    &:hover {
      transform: translateY(-0.2em);
    }
  }
}

.custom-color {
  display: flex;
  column-gap: 0.5em;
  margin-top: 0.5em;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}
.color-picker {
  min-width: 1.25em;

  max-width: 1.25em;
  min-height: 1.25em;
  max-height: 1.25em;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  &:focus,
  &:hover {
    transform: translateY(-0.2em);
  }
}

.search-block {
  position: relative;
  width: 100%;
  .search {
    position: relative;
    display: flex;
    justify-content: center;
  }

  app-usual-input {
    width: 100%;
  }
}

.no-found-recipes {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  height: 100%;
  row-gap: 1em;
  font-size: 0.9em;

  app-button {
    margin: 0;
  }
}

.autocomplete-list ul {
  font-size: 0.9em;
  li {
    border-bottom: 1px solid var(--scroll-body);
    padding: 0.3em 1em;
    cursor: pointer;
    align-items: center;
    column-gap: 2em;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
    scroll-snap-align: center;

    span {
      text-align: right;
      transition: font-weight 0.2s ease-in-out;
      width: 8em;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.2;
      font-size: 0.8em;
      &:hover {
        font-weight: 500;
      }
    }

    p {
      transition: font-weight 0.2s ease-in-out;
      text-overflow: ellipsis;
      line-height: 1.2;
      overflow: hidden;
      width: 9em;
      &:hover {
        font-weight: 500;
      }
    }

    &:hover {
      background-color: var(--scroll-thumb);
    }

    &:first-of-type {
      padding-top: 0.5em;
    }

    &:last-of-type {
      padding-bottom: 0.5em;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  scroll-snap-type: y mandatory;

  max-height: 23vh;
  box-shadow: inset 2px 2px 10px rgba($color: #000000, $alpha: 0.02);

  margin-top: 0.5em;
  overflow-y: scroll !important;
  position: absolute;
  border-radius: 1.5em 5px 5px 1.5em;
  display: flex;
  padding: 0;
  flex-direction: column;
  z-index: 2;
  top: 2.7em;
  left: 0;
  width: 100%;
  background-color: var(--color-background-deeper);


   &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}

div.container.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.5em;
  }

  h1 {
    all: unset;
  }

  &.no-search {
    .tagline {
      width: unset;
      font-size: 1.2em;
    }
  }

  .content .buttons app-button {
    margin: 0;
  }
}

.dates {
  position: relative;
  width: 100%;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  .section {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .main-cont {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .main-cont {
    width: 100%;
    border-radius: 0;
    height: 100%;
  }  .icon {
    display: none;
  }
  .img-cont {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 480px) {
 

  .description {
    display: none;
  }
  .main-cont {
    padding: 0 6%;
  }
  .img-cont {
    display: flex;
    flex-direction: column;
    max-height:calc(100vh - 15em);
    overflow-y: scroll;
    overflow-x: visible;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .dates {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: space-between;
  }
  .close-button {
    zoom: 1.1;
    font-weight: 1000;
    right: 0;
    top: 0;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    border-radius: 0 0 0 100%;

    .close-svg {
      height: 0.7em;
    }
  }
}

app-modal{
  position: fixed;
  z-index: 10;
}