@import "../../../tools/UI/UI.scss";

.container.one-column {

  hr,
  .tagline {
    width: 62%;
    margin: 0 auto;
  }
  row-gap: 0;
  
  .svg-pic{
        max-height: 11em;

  }
  .image{
    display: flex;
    justify-content: center;
  }

  
  .form {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-s);
  }
  .label,
  .tagline {
    text-align: center;
    text-align: center;
  }
  .form {
    margin: 0 auto;
  }
  .buttons {
    margin: 0 auto;
  }
    row-gap: var(--space-s);

}

 .svg-pic {
    fill: var(--color-foreground);
  }
.container {

  padding-left: calc(14.4vw + 0 * (100vw - 768px) / 760);
  padding-right: calc(14.4vw + 0 * (100vw - 768px) / 760);

  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-rows: min-content;

  margin: var(--space-xl) 0;

  &.img-container {
    column-gap: var(--space-xxl);
    grid-template-columns: 11em 32em;
  }

  a{
    color:var(--color-primary);
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
  }

 

  .content {
 
    @include flexy(column);
    row-gap: var(--space-m);

    .tagline {
      font-size: var(--font-m);
      line-height: 1;
    }

    .buttons {
      @include flexy(row);
      column-gap: var(--space-m);
    }

    hr {
      height: 1px;
      background-color: var(--color-foreground);
      opacity: 0.1;
    }

    .label {
      font-size: var(--font-xxl);
      font-family: var(--font-family-accent);

      .title {
        color: var(--color-primary);
        font-family: var(--font-family-accent);
      }
    }
  }
}

@media (max-width: 900px) {

  a{
  font-size: 1.4rem;
 }

   .svg-pic {
      height: 20rem;
    }

.one-column {
  padding: 0;
  hr,
  .tagline {
    width: 100%;
    margin: 0 auto;

  }
  row-gap: 0;

  .form {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-s);
  }
  .label,
  .tagline {
    text-align: center;
    text-align: center;
  }
  .form {
    margin: 0 auto;
  }
  .buttons {
    margin: 0 auto;
  }
}



  .container {
    zoom: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--space-xl);
    margin: var(--space-2xl) 10em;

    &.img-container {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

   

    .content {
      .tagline {
        font-size: var(--font-xl);
        text-align: center;
      }

      .buttons {
        margin: 0 auto;
        flex-direction: column;
        row-gap: var(--space-s);
        zoom: 1.4;
      }

      .label {
        font-size: var(--font-2xl);
        text-align: center;
      }
    }
  }
}


@media(max-width:768px){
  .container{
    margin: var(--space-2xl) 7em;
  }
  .container.one-column .tagline{
    width: 90%;
  }
}

@media (max-width: 480px) {

 


  .container {
    zoom: 0.7;

padding: 0;
    margin: var(--space-2xl) 10em;

    &.img-container {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    &.not-found{
          margin: var(--space-2xl) 5em;

    }


    .content {
      .tagline {
        font-size: var(--font-xl);
        text-align: center;
      }

      .buttons {
        margin: 0 auto;
        flex-direction: column;
        row-gap: var(--space-s);
        zoom: 1.4;
      }

      .label {
        font-size: var(--font-2xl);
        text-align: center;
      }
    }
  }
}
.svg-pic{
  height: 20em;
}


.svg-pic{
  width: auto;
}
app-modal{
  position: fixed;
  z-index: 10;
}