<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<a
  (click)="$event.preventDefault()"
  [routerLink]="link"
  class="ingredient-cont noselect"
  [title]="title"
  *ngIf="ingredient.id > 0; else nullCategory"
>
  <div class="ingredient-wrap">
    <div class="ingredient"  [style.background-image]="'url('+(picture?picture:placeholder)+')'" *ngIf="ingredient.id > 0; else nullCategory"></div>
    <button
      class="delete"
      (click)="clickDeleteButton($event)"
      *ngIf="currentUser.role !== 'user' && showDeletingButton"
    >
      <svg-icon
        class="trash-svg"
        [applyClass]="true"
        [src]="'/assets/images/svg/trash.svg'"
      />
    </button>
  </div>

  <div style="position: relative; overflow: visible">
    <h1 class="name">
      <sup>({{ recipesNumber }})</sup>{{ ingredient.name }}
    </h1>
  </div>
</a>

<ng-template #nullCategory>
  <div class="ingredient null">
    <p>Скоро...</p>
    <svg-icon
      [applyClass]="true"
      class="svg"
      [src]="'/assets/images/svg/shocked-apples.svg'"
    ></svg-icon>
  </div>
</ng-template>

<app-modal
  @modal
  (resultEmit)="handleDeleteModal($event)"
  [type]="'yesOrNo'"
  [buttonsText]="['Да', 'Отмена']"
  [style]="'prim'"
  [description]="
    'Вы уверены, что хотите удалить ' +
    (context === 'ingredient' ? 'этот ингредиент?' : 'эту группу ингредиентов?')
  "
  [title]="
    'Удаление ' +
    (context === 'ingredient' ? 'ингредиента' : 'группы ингредиентов')
  "
  *ngIf="deleteModalShow"
></app-modal>

<app-modal [noButtons]="true" [style]="'await'" *ngIf="loading" [title]="'Подождите...'" @modal
  [description]=" 'Вносим изменения... Подождите немного...'" />