
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredient-wrap {
    position: relative;
}
app-modal{
    z-index: 10;
    position: fixed;
    cursor: default
}



.delete{
    top: 0;
        right: 0;
}
.delete,.edit {
    @include flex;
    background-color: var(--color-primary);
    width: 2em;
    height: 2em;
    border-radius: 100%;
    position: absolute;
 
    zoom: 0.85;
    transition: 0.2s;

    &:after {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        margin: auto;
        background-color: var(--color-primary-focus);
        border-radius: 100%;
        transition: 0.2s
    }


    .trash-svg {
        @include flex;
        fill: white;
        height: 1.15em;
        z-index: 1;
    }

    &:hover {

        &:after {
            width: 100%;
            height: 100%;
        }
    }
}

app-ingredient-create,app-group-creating{
    z-index: 10;
    position: fixed;
}
.edit {
    background-color: var(--color-secondary);
    left: 0;
    bottom:0;

    &:after {
           
            background-color: var(--color-secondary-focus);

        }
}
.ingredient {
position: relative;
.caption {

        width: 90%;

        font-weight: 300;
        font-size: 0.85em;

        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5.75em;
        color: #808080;
    }
    background-color: white;
    scroll-snap-align: start;
    background-size: cover;

    @include flex;
    font-size: 1.1em;
    margin: 0 auto;

    border-radius: 100%;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    height: 12vw;
    width: 12vw;
    min-width: 8em;
    min-height: 8em;
    justify-content: flex-end;
    flex-direction: column;
}
.ingredient.null{
    background-color: var(--color-background-deeper);
}

.ingredient.null p {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}



h1 {
    sup {
        font-size: 0.5em;
    }

    cursor: pointer;
    position: relative;
    font-size:1.2em;

    line-height: 1;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Количество строк, которые вы хотите отобразить */
    overflow-wrap: break-word;
    /* Разрешить перенос длинных слов */
    hyphens: auto;
    /* Разрешить перенос слов */

    white-space: normal;
    /* Изменить на "normal" */
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    margin-top: 0.5em;
    text-align: center;
    padding-bottom: 0.2em;

}


@media (max-width: 900px) {
    .ingredient {
        height: 17vmax;
        width: 17vmax;
    }

    p {
        width: 16vmax;
    }
}

@media (max-width: 480px) {
    .ingredient {
        height: 7em;
        width: 7em;
    }
}

.ingredient.null {
    padding: 1.5em;
    background-image: none;
    justify-content: center;

    p {
        overflow: visible;
        opacity: 0.5;
        font-size: 0.9em;
        color: var(--color-foreground-unactive);
        margin-bottom: 0.75em;
        font-weight: 600;
        cursor: default;
    }
}

.svg {
    height: 100%;
    opacity: 0.65;
    fill: var(--color-foreground-unactive);
}