

.arrow-svg{
  height: 1em;
  display: flex;
  align-items: center;
  fill: var(--color-foreground);
  justify-content: center;
  transform: rotate(-90deg);

}

.head{
  display: flex;
  align-items: center;
  column-gap: 1.5em;
    margin-bottom: 1.75em;
  cursor: pointer;

      padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);

}
h2{
  line-height: 1;
  font-weight: 600;
  font-size: 1.5em;

}
.block{
  
  margin: 3.5em 0;
}



.recipes {
  padding: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);

  width: 100%;
  margin: 0 auto;
  position: relative;
  &.horizontal::after {
    margin: 0 calc(14.4vw + 0 * (100vw - 768px) / 760);

    height: calc(100% - 1.3em);
    width: 15%;
    background: linear-gradient(to right, transparent 0%,var(--color-background));

    z-index: 1;
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    pointer-events: none;
  }
}



@media (max-width: 768px) {
  .recipes {
    &.horizontal::after { 
      all: unset;
    }
  }
}

@media (max-width: 480px) {
.head{
  padding: 0 6%;
}

  .recipes  {
    padding-left: 6%;
    padding-right: 0;
  }
}
