<app-banner [notMain]="false" [background]="'main-banner-background'" [link]="'match'"
    [label]="'Готовьте с радостью\nЕшьте с удовольствием'" [buttonText]="'Подобрать рецепт'"></app-banner>


<div class="block">
    <div routerLink="/recipes/best" class="head">
        <h2>Популярные рецепты</h2>

        <svg-icon class="arrow-svg" [applyClass]="true"
            [src]="'../../../../../assets/images/svg/go-back.svg'"></svg-icon>
    </div>
    <div class="recipes horizontal">
        <app-horizontal-recipe-list [recipes]="popularRecipes"></app-horizontal-recipe-list>
    </div>
</div>

<app-category-list style="display:none" [categories]="allCategories"></app-category-list>


<app-banner *ngIf="currentUser.id === 0" [link]="'greetings'"
    [info]="'Получи преимущества и расширенные функции зарегистрированных кулинаров'"
    [label]="'Откроем мир вкуса вместе'" [buttonText]="'Создать аккаунт'"
    [background]="'reg-banner-background'"></app-banner>

<app-banner *ngIf="currentUser.id !== 0" [link]="'recipes/add'"
    [info]="'Добавляйте подробные проверенные временем рецепты и делитесь опытом с другими кулинарами'"
    [label]="'Добавляйте рецепты и делитесь ими'" [buttonText]="'Создать рецепт'"
    [background]="'share-recipes-banner-background'"></app-banner>


<div class="block">
    <div routerLink="/recipes/recent" class="head">
        <h2>Недавние рецепты</h2>

        <svg-icon class="arrow-svg" [applyClass]="true"
            [src]="'../../../../../assets/images/svg/go-back.svg'"></svg-icon>
    </div>
    <div class="recipes"><app-horizontal-recipe-list  [recipes]="recentRecipes"></app-horizontal-recipe-list></div>

</div>
<app-banner *ngIf="currentUser.id !== 0" [link]="'cooks'"
    [info]="'Посмотрите профили кулинаров и подчерпните идеи для ведения собственного профиля и рецептов!'"
    [label]="'Находите вдохновение совсем рядом'" [buttonText]="'Все кулинары'"
    [background]="'inspiration-banner-background'"></app-banner>

<div class="block" *ngIf="currentUser.id!==0 && userRecipes.length>0">

    <div routerLink="/recipes/yours" class="head">
        <h2>Ваши рецепты</h2>

        <svg-icon class="arrow-svg" [applyClass]="true"
            [src]="'../../../../../assets/images/svg/go-back.svg'"></svg-icon>
    </div>


    <div *ngIf="userRecipes.length >=4; else vertical">

        <div class="recipes horizontal"><app-horizontal-recipe-list
                [recipes]="userRecipes"></app-horizontal-recipe-list></div>

    </div>


    <ng-template #vertical>

        <div class="recipes"><app-vertical-recipe-list [cols]="4" [blocks]="userRecipes"></app-vertical-recipe-list>
        </div>
    </ng-template>

</div>