@import '../../../../../tools/UI/UI.scss';

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.admin-panel{
  position: fixed;
  z-index: 100;
  line-height: 1;
  font-size: 1.25em;
  text-align: center;
  top:0;
  left:0;
  cursor: pointer;
  background-color: var(--color-admin);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipes {
  padding: 1.7em calc(14.4vw + 0 * (100vw - 768px) / 760);

  width: 100%;
  margin: 1em auto;
  position: relative;
  &.horizontal::after {
    margin: 1.7em calc(14.4vw + 0 * (100vw - 768px) / 760);

    height: 15em;
    width: 15%;
    background: linear-gradient(to right, transparent, var(--color-background));

    right: 0;
    top: 0;
    content: "";
    position: absolute;
    pointer-events: none;
  }
}

@media (max-width: 900px) {

  .recipes {
    &.horizontal::after {
      width: 33%;
      height: 15em;
      right: 0;
      top: 0;
      content: "";
      position: absolute;
      pointer-events: none;
    }
  }
}

@media (max-width: 768px) {
  .recipes {
    &.horizontal::after { 
      all: unset;
    }
  }
}

@media (max-width: 530px) {


  .recipes  {
    padding-left: 6%;
    padding-right: 0;
  }
}
