.error {
  color: var(--color-primary);
  font-size: 0.7em;
  width: 100%;
  margin-top: 0.2em;
  line-height: 1.1;
}

.placeholder {
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  top: 0;
  color: var(--color-foreground-unactive);

  height: fit-content;
  margin: auto;
  padding: var(--space-s);
  transition: 0.3s ease-in-out;

  &.up {
    font-size: 0.7em;
    margin: 0;
    margin-left: 0.3em;
    color: var(--color-secondary);

    &.textarea {
      margin-top: 0em;
    }
  }
  &.sleep {
    color: var(--color-foreground-unactive);
  }
  &.textarea {
    margin-top: 0.2em;
  }
  &.uncorrect {
    color: var(--color-primary);
  }
}

@import "../../../../tools/UI/UI.scss";

textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  padding: var(--space-s);
  caret-color: var(--color-secondary);
  font-weight: 400;
  
 min-height: calc(var(--base) + var(--space-xs) + var(--space-m) + 1em);
 height: max-content;
  padding-bottom: var(--space-xs);
  padding-top: 0;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1.5em;
  line-height: 1.1;  overflow-x: hidden;
  overflow-y: auto;
&::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--scroll-body);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
      border-radius: 20px;
      border: 3px solid var(--scroll-body);
    }
    ::-webkit-resizer {
  border: 2px solid black;
  background: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}
  &.uncorrect:focus {
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary);
  }

  
  &.uncorrect {
    caret-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
  }
}

.input-cont {
  position: relative;
  background-color: var(--color-background-deeper-unactive);

  border-bottom: 1px solid var(--color-foreground-unactive);

  border-radius: var(--space-s) var(--space-s) 0 0;

  &.active {
    background-color: var(--color-background-deeper);
    border-bottom-width: 2px;
    border-bottom-color: var(--color-secondary);
  }

  &.uncorrect{
    border-color: var(--color-primary);
  }
}


