<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="cont column">

 <div *ngIf="recipe.status==='public'" class="statistic">
    <svg-icon [applyClass]="true" class="stat-svg" [src]="'assets/images/svg/statistic.svg'"></svg-icon>
    <p>{{!recipe.statistics||recipe.statistics.length===0?'Этот рецепт пока никто не приготовил':statisticPercent+'% кулинаров приготовили бы это снова'}}</p>
 </div>

  <div class="header row">
    
    <div
      class="exit-button"
      [ngClass]="{
        'no-path':
          noPageToGoBack
      }"
      (click)="
         noPageToGoBack? null: goBack()
      "
    >
      <svg-icon
        [applyClass]="true"
        class="exit"
        [src]="'../../../../../assets/images/svg/go-back.svg'"
      >
      </svg-icon>
    </div>
    <div>
      <h1>{{ recipe.name }}</h1>

      <p class="reading-time">
        <svg-icon
          class="read-icon"
          [applyClass]="true"
          [src]="'../../../../../assets/images/svg/reading.svg'"
        ></svg-icon>
        <span style="display: inline">
          Чтение займет приблизительно {{ readingTimeInMinutes
          }}<span
            appPluralRu=""
            [value]="readingTimeInMinutes"
            [arVariants]="[' минуту', ' минуты', ' минут']"
            ></span
          >
        </span>
      </p>
    </div>
  </div>
  <div class="head row">
    <div class="column main-info">
      <div class="full-user-info column">
        <div class="row" class="short-info row">
          <a [ngClass]="{'no-link':author.id<1 || !hideAuthor}" class="row user-info" [routerLink]="author.id>0 && hideAuthor?'/cooks/list/' + author.id:null">
            <div *ngIf="author.id>0 && hideAuthor"
              class="userpic noselect"
              [style.background-image]="'url('+(authorAvatar?authorAvatar:noAvatar)+')'"></div>
            <p>
              {{
              authorInfo
              }}
            </p>
          </a>
          <div
          [title]="date"
            class="row date"
            *ngIf="
              this.recipe.status === 'public' && this.recipe.publicationDate
            "
          >
            <svg-icon
              class="head-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/calendar.svg'"
            ></svg-icon>
            <p>{{ recipe.publicationDate | timePast }}</p>
          </div>
          <div class="row date " *ngIf="this.recipe.status !== 'public'">
            <ng-container
              *ngIf="this.recipe.status === 'private'; else awaiting"
            >
              <svg-icon
                class="head-icon"
                [applyClass]="true"
                [src]="'../../../../../assets/images/svg/private.svg'"
              ></svg-icon>

              <p>Приватно</p>
            </ng-container>
            <ng-template #awaiting>
              <svg-icon
                class="head-icon"
                [applyClass]="true"
                [src]="'../../../../../assets/images/svg/awaits.svg'"
              ></svg-icon>

              <p>На проверке</p>
            </ng-template>
          </div>
        </div>
        <div class="short-info row noselect" *ngIf="this.recipe.status === 'public'">
          <div class="row likes">
            <svg-icon
              class="head-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/like.svg'"
            ></svg-icon>

            <p>{{ recipe.likesId.length }}</p>
          </div>

          <div class="row cooks">
            <svg-icon
              class="head-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/cook.svg'"
            ></svg-icon>

            <p>{{ recipe.cooksId.length }}</p>
          </div>
          <div class="row comments">
            <svg-icon
              class="head-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/comment.svg'"
            ></svg-icon>

            <p>{{ recipe.comments.length }}</p>
          </div>
        </div>
      </div>
      <ul *ngIf="categories.length > 0" class="categories ">
        <li
          class="row"
          *ngFor="let category of categories"
         
        >
         <a  [routerLink]="'/categories/list/' + category.id"> {{ category.name }}</a>
        </li>
      </ul>

      <p *ngIf="recipe.description !== ''" class="description">
        {{ recipe.description }}
      </p>
      <div *ngIf="recipe.history !== ''">
        <button class="history-open noselect" (click)="showHistory = !showHistory">
          <svg-icon
            [src]="'../../../../../assets/images/svg/history.svg'"
            [applyClass]="true"
            class="history-svg"
          ></svg-icon>
          История рецепта
        </button>
        <p *ngIf="showHistory" class="history" @history>{{ recipe.history }}</p>
      </div>
      <div
        class="row cards "
        *ngIf="
          recipe.preparationTime !== '' ||
          recipe.cookingTime !== '' ||
          recipe.origin !== ''
        "
      >
        <span *ngIf="recipe.preparationTime !== ''">
          <p class="about">Время подготовки</p>
          <div title="Время подготовки">
            <svg-icon
              class="card-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/preparation.svg'"
            ></svg-icon>

            <p>{{ recipe.preparationTime }}</p>
          </div>
        </span>
        <span *ngIf="recipe.cookingTime !== ''">
          <p class="about">Время приготовления</p>

          <div title="Время приготовления">
            <svg-icon
              class="card-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/time.svg'"
            ></svg-icon>
            <p>{{ recipe.cookingTime }}</p>
          </div>
        </span>
        <span *ngIf="recipe.origin !== ''">
          <p class="about">Страна происхождения</p>
          <div>
            <svg-icon
              class="card-icon"
              [applyClass]="true"
              [src]="'../../../../../assets/images/svg/origin.svg'"
            ></svg-icon>
            <p>{{ recipe.origin }}</p>
          </div>
        </span>
      </div>
 
    </div>
    <div class="column nutr" *ngIf="recipe.nutritions.length > 0">
      <h2>Пищевая ценность</h2>

      <div class="nutrients">
        <ng-container *ngFor="let nutrient of recipe.nutritions">
          <p class="name">{{ nutrient.name }}</p>
          <div class="row count">
            <p *ngIf="nutrient.quantity">{{ nutrient.quantity }}</p>
            <p *ngIf="nutrient.unit">{{ nutrient.unit }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="column main">
    <div class="row center">
      <img
        class="main-photo noselect"
        src="../../../../../../assets/images/no-recipe-photo.png"
        alt=""
      />

      <div class="ingredients" *ngIf="recipe.ingredients.length > 0">
        <h2 >Ингредиенты</h2>
        <div class="servings ">
          <button class="noselect" (click)="decreasePortions()">−</button>
          <p>
            на {{ recipe.servings }}
            <span
              appPluralRu=""
              [value]="recipe.servings"
              [arVariants]="['порцию', 'порции', 'порций']"
              >порций</span
            >
          </p>
          <button class="noselect" (click)="increasePortions()">+</button>
        </div>
        <button *ngIf="recipe.status==='public' || author.id===currentUser.id"
          class="basket-open-button noselect"
          [ngClass]="{ 'basket-mode': basketMode }"
          (click)="basketMode = !basketMode"
        >
          <svg-icon
            class="basket-icon"
            [applyClass]="true"
            [class]="basketMode ? 'basket-icon basket-mode' : 'basket-icon'"
            [src]="'assets/images/svg/basket.svg'"
          ></svg-icon>
          {{ !basketMode ? "Составить" : "Убрать" }} список покупок
        </button>
        <ul class="recipe-ingredients">
          <ng-container
            *ngFor="let ingredient of recipe.ingredients; let i = index"
          >
            <div 
              class="checkbox"
              (click)="iHaveIndgredient[i] = !iHaveIndgredient[i]"
            >
              <svg-icon
                *ngIf="iHaveIndgredient[i]"
                class="checkbox-icon"
                [applyClass]="true"
                [src]="'assets/images/svg/checkbox.svg'"
              ></svg-icon>
            </div>
            <a

            [routerLink]="findIngredientByName(ingredient.name).id?'/ingredients/list/'+findIngredientByName(ingredient.name).id:null"
            [ngClass]="{ 'i-have': iHaveIndgredient[i],'link':findIngredientByName(ingredient.name).id }" class="name">
              {{ ingredient.name }}
            </a>
            <div
              [ngClass]="{ 'i-have': iHaveIndgredient[i] }"
              class="row count"
            >
              <p class="quantity">{{ ingredient.quantity }}</p>
              <p>{{ ingredient.unit }}</p>
            </div>

            <button
              [ngClass]="{ minus: basket[i] }"
              (click)="basket[i] ? removeFromBasket(i,ingredient) : addToBasket(i,ingredient)"
              class="basket-button noselect"
              *ngIf="basketMode"
            >
              {{ basket[i] ? "−" : "+" }}
            </button>
            <div *ngIf="!basketMode"></div>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="row all" style="overflow: visible">
    <div style="overflow: visible">
      <div class="instructions" *ngIf="this.recipe.instructions.length > 0">
        <h2 *ngIf="this.recipe.instructions.length > 0">Инструкции</h2>
        <div
          class="row instruction"
          *ngFor="let instruction of recipe.instructions; let i = index"
        >
          <p class="num">{{ i + 1 }}</p>
          <p>{{ instruction.name }}</p>
        </div>
      </div>

      <div class="row buttons noselect" *ngIf="this.recipe.status === 'public'">
        <div title="Добавить рецепт в избранное" class="fav-button" (click)="makeThisRecipeFavorite()">
          <svg-icon
            class="fav-icon"
            [applyClass]="true"
            [src]="
              '../../../../../assets/images/svg/' +
              (recipe.status === 'public'
                ? isRecipeFavorite
                  ? 'fav-fill'
                  : 'fav'
                : 'pen') +
              '.svg'
            "
          ></svg-icon>
        </div>
        <div title="Запланировать рецепт" (click)="currentUser.id>0?addToPlan():noAccessModalShow=true" class="fav-button plan" *ngIf="(author===currentUser) || (recipe.status==='public')">
          <svg-icon
            class="fav-icon"
            [applyClass]="true"
            [src]="
              '../../../../../assets/images/svg/planning/plan.svg'
            "
          ></svg-icon>

        </div>
        <div class="row" title="Отметить рецепт, как понравившийся" (click)="likeThisRecipe()">
          <svg-icon
            [class]="isRecipeLiked ? 'like-icon liked' : 'like-icon'"
            [applyClass]="true"
            [src]="
              '../../../../../assets/images/svg/' +
              (isRecipeLiked ? 'like-fill' : 'like') +
              '.svg'
            "
          ></svg-icon>
          <p [ngClass]="{ liked: isRecipeLiked }">
            {{ recipe.likesId.length }}
          </p>
        </div>
        <div class="row" title="Отметить рецепт, как приготовленный" (click)="currentUser.id>0 ? (!isRecipeCooked?voteModalShow=true:cookThisRecipe()):noAccessModalShow = true">
          <svg-icon
            [class]="isRecipeCooked ? 'cook-icon cooked' : 'cook-icon'"
            [applyClass]="true"
            [src]="
              '../../../../../assets/images/svg/' +
              (isRecipeCooked ? 'cook-fill' : 'cook') +
              '.svg'
            "
          ></svg-icon>
          <p [ngClass]="{ cooked: isRecipeCooked }">
            {{ recipe.cooksId.length }}
          </p>
        </div>
      </div>

      <div class="socials noselect" *ngIf="recipe.status === 'public'">
        <h2 >Поделиться этим рецептом</h2>
        <div class="row social">
          <app-social-button [url]="linkForSocials"></app-social-button>
          <app-social-button
            [url]="linkForSocials"
            [social]="'pinterest'"
          ></app-social-button>
          <app-social-button
            [url]="linkForSocials"
            [social]="'vk'"
          ></app-social-button>
          <app-social-button
            [url]="linkForSocials"
            [social]="'twitter'"
          ></app-social-button>

          <app-social-button
            [url]="linkForSocials"
            [social]="'facebook'"
          ></app-social-button>
        </div>
      </div>

      <hr *ngIf="recipe.status === 'public'" />

      <div
        class="column"
        style="overflow: visible"
        *ngIf="this.recipe.status === 'public'"
      >
        <div style="overflow: visible">
          <h2>Комментарии ({{ recipe.comments.length }})</h2>
          <div>
            <app-comments-list
              [recipe]="recipe"
              [comments]="commentsToShow"
            ></app-comments-list>
            <app-button class="moreComments" *ngIf="recipe.comments.length > commentsToShow.length" [text]="'Загрузить еще...'" (click)="loadMoreComments()" [rounded]="true" [style]="'outlined'" [color]="'prim'"></app-button>
          </div>

          <div class="column i-comment">
            <div class="policy noselect">
              <svg-icon
                [src]="'../../../../../assets/images/svg/community.svg'"
                [applyClass]="true"
                class="community"
              ></svg-icon>
              <p>
                Дорогие кулинары, не забывайте, пожалуйста, про
                <a class="link" routerLink="/user-policy"
                  >пользовательское соглашение</a
                >
                при написании комментариев
              </p>
            </div>
            <div class="row input-area" style="overflow: visible;">
                <div 
                  [style.background-image]="'url('+(currentUserAvatar?currentUserAvatar:noAvatar)+')'"
                  class="userpic noselect commentpic"
                ></div>
              <form     class="noselect"              style="width: 100%; overflow: visible;"
 [formGroup]="commentForm">
                <app-usual-input style="overflow: visible;"
                [value]="commentForm.get('commentText')?.value"
                  class="comment-input"
                  [max]="1000"
                  required
                  [inputRequired]="true"
                  [inputType]="'textarea'"
                  formControlName="commentText"
                  [error]="
                    commentForm.get('commentText')?.invalid &&
                    (commentForm.get('commentText')?.dirty ||
                      commentForm.get('commentText')?.touched)
                      ? 'Комментарий должен содержать от 5 до 100 символов'
                      : ''"
                  type="text"
                  [placeholder]="
                    recipe.comments.length === 0
                      ? 'Будьте первым...'
                      : 'Напишите комментарий...'
                  ">
                </app-usual-input>

                
              </form>
              
            </div>
            <app-button 
              [style]="'filled'"
              [rounded]="true"
              [disabled]="this.currentUser.id > 0 && commentForm.valid "
              [color]="'sec'"
              (click)="
                (this.currentUser.id>0&& commentForm.valid) ? commentModalShow=true : (this.currentUser.id===0?noAccessModalShow = true:null)
              "
              [text]="'Опубликовать'"
              
            ></app-button>

            
          </div>
        </div>
      </div>
      <div
        *ngIf="this.recipe.status === 'public' && this.downRecipes.length !== 0"
        class="ads-under-cont noselect" 
      >
        <h2>Похожие рецепты</h2>
        <div class="row ads-under">
          <app-recipe-list-item
          [shortView]="true"
            *ngFor="let downRecipe of downRecipes"
            [recipe]="downRecipe"
          ></app-recipe-list-item>
        </div>
      </div>

       <div
        *ngIf="this.recipe.status === 'public' && this.alsoFromThisCook.length !== 0"
        class="ads-under-cont noselect"
      >
        <h2>Также от этого автора</h2>
        <div class="row ads-under">
          <app-recipe-list-item [shortView]="true"
            *ngFor="let recipe of alsoFromThisCook"
            [recipe]="recipe"
          ></app-recipe-list-item>
        </div>
      </div>
    </div>

    <div class="column ads noselect" *ngIf="this.recipe.status === 'public'">
      <h2>Новинки</h2>

      <app-recipe-list-item
        *ngFor="let recentRecipe of recentRecipes"
        [recipe]="recentRecipe"
        [shortView]="true"
      ></app-recipe-list-item>
    </div>

    
  </div>

</div>

<app-modal
  @modal
  
  *ngIf="noAccessModalShow"
  [style]="'prim'"
  [title]="'Доступ к функции ограничен'"
  [type]="'yesOrNo'"
  (resultEmit)="handleNoAccessModal($event)"
  [buttonsText]="['Давайте', 'Не сейчас']"
  [description]="
    'Взаимодействовать с рецептами могут только пользователи с личным аккаунтом. Хотите зарегистрироваться или войти в существующий аккаунт?'
  "
></app-modal>




<app-modal
  @modal
  *ngIf="successCommentModalShow"
  [style]="'sec'"
  [title]="
    'Комментарий успешно опубликован'
  "
  [type]="'Ok'"
  (resultEmit)="handleSuccessCommentModal()"
  [buttonsText]="['Хорошо']"
  [description]="
    'Вы успешно опубликовали комментарий под рецептом'
  "
></app-modal>

<app-modal
  @modal
  *ngIf="commentModalShow"
  [style]="'sec'"
  [title]="'Публикация комментария'"
  [type]="'yesOrNo'"
  (resultEmit)="handleCommentModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что хотите опубликовать комментарий?'"
></app-modal>

  <app-modal @modal *ngIf="voteModalShow" [style]="'sec'" [title]="'Оставьте отзыв'" [type]="'yesOrNo'"
  (resultEmit)="handleVoteModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'В начале каждого рецепта вы можете увидеть, понравился ли он кулинарам, которые его приготовили. Поддержите функцию и проголосуйте тоже: вы бы приготовили этот рецепт снова?'
  "></app-modal>

      <app-modal @modal *ngIf="successVoteModalShow" [style]="'sec'" [title]="'Ваш отзыв сохранен'" [type]="'Ok'"
  (resultEmit)="handleSuccessVoteModal()" [buttonsText]="['Хорошо']" [description]="
  'Спасибо! Ваше мнение важно для нас'
  "></app-modal>


    <app-add-calendar-event [plan]="myPlan" [event]="targetCalendarEvent" @modal (closeEmitter)="addingToPlanMode = false" *ngIf="addingToPlanMode" style="position: fixed; z-index:10"/>

    
<app-modal [noButtons]="true" [style]="'await'" *ngIf="loading" [title]="'Подождите...'" @modal
  [description]=" 'Вносим изменения... Подождите немного...'" />