
.info{
    --main: #59aef3;
}

.warning{
    --main:#faf571; 
}
.calendar-recipe{
    --main: #da71fa; 
}

.hire{
        --main: var(--color-moderator); 

}
.success{
    --main:rgb(113, 218, 117); 
}
.born{
    --main:rgb(66, 170, 70); 
}


.plan{
    --main: rgb(255, 105, 165); 
}
.plan-start{
    --main:rgb(147, 234, 7); 
}
.error{
    --main:var(--color-primary); 
}
.not-readed .body{
background-color: var(--not-read)
}
.popup .body{
    background-color: var(--not-read);
}

.main{
    position: relative;
}
.time,.explain{
    margin-top: 0.5em;
    color: var(--color-foreground-unactive);
    text-align: right;
    font-size: 0.75rem;

}

.explain{
    font-size: 0.7rem;
    text-align: left;
    line-height: 1;
}
.delete-button{
    width: 0.5em;
    top:0.5em;right:1em;
    opacity: 0.5;
    height: 0.5em;
    position: absolute;
    transition: 0.2s;

    &:hover,&:focus{
        opacity: 1;
    }
}

.delete{
    fill: var(--color-foreground-unactive);
}

a.body{
    display: block;
    border-left:4px solid var(--main);
    padding: 0.5em 1em;
}

.title{
    font-weight: 600;
    line-height: 1;
    color: var(--main);
}
.text{
    line-height: 1;
    font-size: 0.8em;
}


.svg-notify{
    fill:var(--main);
    min-width: 1.25em;
    height: 1.25em;
}
.head{
    align-items: center;
        margin-bottom: 0.75em;
        margin-right: 1em;

    display: flex;
    column-gap: 0.5em;
}

@media(max-width:768px){
    .main{
        zoom:1.2
    }

    
}

@media(max-width:480px){
    .popup
{
    opacity: 0.75;
    width: 100%;

}
}
