<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="list">
    <div><h1>Уведомления ({{notifies.length}})</h1>
    <button (click)="clearAll()" class="clear-all" *ngIf="isSomethingForClear">
        <svg-icon  class="trash" [applyClass]="true" [src]="'../../../../assets/images/svg/trash.svg'"/>
        Очистить все</button>
    
    <hr></div>
    <div class="notifies"><app-notify [user]="user"  *ngFor="let notify of notifies" [notify]="notify"></app-notify></div>
</div>

<div class="background" (click)="closeEmitter.emit(false);"></div>

