:host {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 15em;
  

  

}
.background{
  position: fixed;
  top:0;left:0;
  z-index: -1;
  width: 100%;

  pointer-events: none;
  height: 100%;

  background-color: transparent
}
.notifies{
  z-index: 2;
  overflow-y: auto;
      width: 100%;
  &::-webkit-scrollbar{
    display: none;
  }
   display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    justify-content: start;
    align-items: start;
    align-content: start;
      padding-bottom: 0.5em;
      margin-bottom: 3em;

}
h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.2em;
  font-size: var(--font-l);
  margin-top: 0.5em;
}
app-notify{
      width: 100%;

}


.list{
  display: grid;  z-index: 2;
  background-color: var(--color-background-deeper);


  height: 100%;
  grid-template-rows: min-content 100%;
  padding: 0 0;
}