:host {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 17em;
  

  

}

.trash{
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-foreground);
    transition: 0.15s ;
  

}
@mixin flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-notifies{
  @include flex;
  flex-direction: column;
  row-gap: 1.5em;
  font-size: 1em;
  color: var(--color-foreground-unactive);
  height: 100%;
  width: 100%;

  .mail-cook{
    @include flex;
    fill: var(--color-foreground-unactive);
    width: 85%;
  }
}


.clear-all{
  column-gap: 0.5em;
  margin-left: 1.25em;
  display: flex;
  align-items: center;
  margin-bottom:0.5em;
  font-size: 0.9em;
  justify-content: center;
  width: fit-content;

  transition: 0.3s ;
  &:hover,&:focus{
    color: var(--color-primary);
    & .trash{
      fill:var(--color-primary)
    }
  }
}
.background{
  position: fixed;
  top:0;left:0;
  z-index: -1;
  width: 100%;

  height: 100%;

  background-color: transparent
}
.notifies{
  z-index: 2;
  overflow-y: auto;
      width: 100%;
  &::-webkit-scrollbar{
    display: none;
  }
   display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
    align-content: start;
      margin-bottom: 3em;

}
h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.2em;
  font-size: var(--font-l);
  margin-top: 0.5em;
}
app-notify{
      width: 100%;

      &:nth-child(2n+1){
        background-color: color-mix(in srgb, var(--color-background-deeper) 98%, var(--color-foreground) );
      }
}


.list{

  display: grid;  z-index: 2;
  background-color: var(--color-background-deeper);


  height: 100%;
  grid-template-rows: min-content 100%;
  padding: 0 0;
}

.close{
  display: none;
}

@media(max-width:768px){
  :host{
    width: 23em;
  }
  .main{
    zoom:1.2
  }
}
@media(max-width:480px){
  :host{
    width:100%;
  }
  .no-notifies{
    font-size: 1.1em;
  }
  .no-notifies .mail-cook{
    width: 13em;
  }
  .close-svg{
    @include flex;
    height: 0.7em;
    fill: var(--color-foreground);
  }

  .close{

    zoom: 0.9;
    font-weight: 1000;
    right: 1.5em;
    z-index: 10;
    top: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--scroll-body);
    transition: opacity 0.2s ease-in-out;    zoom: 1.1;
    font-weight: 1000;
    right: 0;
    top: 0;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    border-radius: 0 0 0 100%;
  }
}

