<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="outer" *ngIf="!initialLoading" (click)="clickBackgroundNotContent($event)">
  <div class="inner">
    <div class="close-button" (click)="closeEditModal()">
      <svg-icon
        [src]="'/assets/images/svg/close.svg'"
        [applyClass]="true"
        class="close-svg"
      ></svg-icon>
    </div>
    <div class="header">
      <h1>Создание категории</h1>
      <div class="navigation">
        <div class="nav-step-circles-block">
          <div class="nav-step-block" *ngFor="let step of steps; let i = index">
            <div class="nav-step-block-inner" (click)="clickOnCircleStep(i)">
              <div
                class="nav-step-circle"
                [ngClass]="{
                  active: i === currentStep,
                  completed: i < currentStep,
                  'not-valid': notValid() === i + 1
                }"
              >
                {{ i + 1 }}
              </div>
              <p
                class="nav-step-short-title"
                [ngClass]="{
                  active: i === currentStep,
                  completed: i < currentStep,
                  'not-valid': notValid() === i + 1
                }"
              >
                {{ steps[i].shortTitle }}
              </p>
            </div>
            <div
              [ngClass]="{
                completed: i < currentStep
              }"
              *ngIf="i !== steps.length - 1"
              class="nav-step-line"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="unique-content category-cont">
      <div>
        <h2>{{ steps[currentStep].title }}</h2>
      </div>

      <hr />

      <form [formGroup]="form" #scrollContainer>
        <div class="description-container">
          <button class="more-button" (click)="showInfo = !showInfo">
            <svg-icon
              [src]="'assets/images/svg/help.svg'"
              [applyClass]="true"
              class="help-svg"
            ></svg-icon>
            Подробнее
          </button>
          <p class="description" *ngIf="showInfo" @height>
            {{ steps[currentStep].description }}
          </p>
        </div>
        <div class="step-container" *ngIf="currentStep === 0">
          <div class="main-info-control-with-image">
            <div class="form-control circle img">
              <div class="image">
               

                <div
                  class="delete"
                  *ngIf="categoryImage !== defaultImage"
                  (click)="unsetImage()"
                >
                  <svg-icon
                    [applyClass]="true"
                    class="svgTrash"
                    [src]="'/assets/images/svg/trash.svg'"
                  ></svg-icon>
                </div>
                <div
                  class="photo"
                  [ngClass]="{
                    'have-image': categoryImage !== defaultImage
                  }"
                  [ngStyle]="{
                    'background-image': 'url(' + categoryImage + ')'
                  }"
                  alt="Изображение категории"
                >
              <input type="file"   class="input-image" (change)="onImageChange($event)" accept="image/*" />
              </div>
              </div>
            </div>
            <div class="main-info-controls">
              <div class="form-control">
                <h3>Название категории*</h3>
                <app-usual-input
                  [inputRequired]="true"
                  [max]="30"
                  id="name"
                  formControlName="name"
                  [placeholder]="'Придумай название категории'"
                  required
                  [value]="form.get('name')?.value"
                  [error]="
                    form.get('name')?.invalid &&
                    (form.get('name')?.dirty || form.get('name')?.touched)
                      ? 'Название категории должно содержать от 4 до 30 символов'
                      : ''
                  "
                ></app-usual-input>
              </div>
            </div>
          </div>
        </div>
        <div class="step-container" *ngIf="currentStep === 1">
          <div class="form-control">
            <h3>Раздел категории*</h3>

            <div>
              <app-autocomplete
                [startOnTyping]="true"
                [context]="'sections'"
                [disabled]="this.form.get('section')?.value !== null"
                [clearValueOnBlur]="true"
                (sectionEmitter)="selectSection($event)"
                [placeholder]="
                  'Выберите соответствующий раздел для категории*'
                "
              ></app-autocomplete>
            </div>
          </div>
          <div class="form-control">
            <div *ngIf="this.form.get('section')?.value" class="max-categories">
              Вы можете выбрать только 1 раздел для своей категории
            </div>
          </div>

          <div *ngIf="!this.form.get('section')?.value" class="no-categories">
            Вы пока не выбрали раздел
          </div>
          <div class="tags" *ngIf="this.form.get('section')?.value">
            <div class="tag">
              {{ this.form.get("section")?.value.name }}
              <span (click)="clearSection()" class="remove-tag"
                ><svg-icon
                  [applyClass]="true"
                  class="remove-tag-svg"
                  [src]="'/assets/images/svg/close.svg'"
                ></svg-icon
              ></span>
            </div>
          </div>
        </div>

        <div *ngIf="currentStep === 2">
          <div class="buttons">
            <div class="button">
              <p>
                Если вы хотите, чтобы
                {{ editMode ? "обновленную" : "созданную" }} категорию увидели
                все кулинары,
                {{
                  currentUser.role === "user"
                    ? "отправьте её на одобрение"
                    : editMode
                      ? "измените её"
                      : "опубликуйте её"
                }}.
              </p>
              <app-button
                [disabled]="areObjectsEqual() && form.valid"
                (click)="areObjectsEqual() &&form.valid ? (saveModal = true) : null"
                [text]="editMode ? 'Изменить' : 'Опубликовать'"
                [color]="'sec'"
                [style]="'filled'"
                [rounded]="true"
              ></app-button>
            </div>

            <div class="button">
              <p>
                Если вы передумали
                {{ editMode ? "менять" : "создавать" }} категорию, просто
                отмените её {{ editMode ? "изменение" : "создание" }}. Все
                данные придется вводить повторно, если вы захотите
                {{ editMode ? "изменить" : "создать" }} её снова.
              </p>

              <app-button
                (click)="closeEditModal()"
                [text]="'Отменить'"
                [color]="'prim'"
                [style]="'outlined'"
                type="button"
                [rounded]="true"
              ></app-button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="footer">
      <div>
        <app-button
          [iconSize]="'min'"
          [color]="'sec'"
          [iconPosition]="'before'"
          [rounded]="true"
          [icon]="'arrow-previous'"
          [iconStyle]="'as-text'"
          [style]="'outlined'"
          [text]="'Назад'"
          (click)="goToPreviousStep()"
          *ngIf="!(currentStep === 0)"
        ></app-button>
      </div>
      <div>
        <app-button
          [iconSize]="'min'"
          [icon]="'arrow-next'"
          [color]="'sec'"
          [rounded]="true"
          *ngIf="this.currentStep !== steps.length - 1"
          [style]="'filled'"
          [text]="'Вперед'"
          (click)="!buttonDisabled() ? goToNextStep() : null"
          [disabled]="!buttonDisabled()"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<app-modal
  *ngIf="closeModal"
  @modal
  [style]="'prim'"
  [title]="'Закрытие окна'"
  [type]="'yesOrNo'"
  (resultEmit)="handleCloseModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="
    'Вы уверены, что не хотите ' +
    (editMode ? 'менять' : 'сохранить') +
    ' категорию?'
  "
>
</app-modal>

<app-modal
  @modal
  *ngIf="saveModal"
  [style]="'sec'"
  [title]="'Создание категории'"
  [type]="'yesOrNo'"
  (resultEmit)="handleSaveModal($event)"
  [buttonsText]="['Да', 'Нет']"
  [description]="
    'Вы уверены, что хотите ' +
    (editMode ? 'изменить' : 'создать') +
    ' категорию' +
    (currentUser.role === 'user'
      ? ' и отправить её на рассмотрение модератору'
      : '') +
    '?'
  "
></app-modal>

<app-modal
  @modal
  *ngIf="successModal"
  [style]="'sec'"
  [title]="
    this.editMode ? 'Категория успешно изменена' : 'Категория успешно создана'
  "
  [type]="'Ok'"
  (resultEmit)="handleSuccessModal()"
  [buttonsText]="['Хорошо']"
  [description]="
    (this.editMode
      ? 'Категория успешно изменена'
      : 'Категория успешно создана') +
    (currentUser.role === 'user'
      ? ' и отправлена модератору на рассмотрение'
      : '')
  "
></app-modal>
<app-modal
  @modal
  [style]="'await'"
  *ngIf="awaitModal || initialLoading"
></app-modal>
<app-modal
  @modal
  *ngIf="errorModal"
  [style]="'prim'"
  [title]="
    'Произошла ошибка'
  "
  [type]="'Ok'"
  (resultEmit)="handleErrorModal()"
  [buttonsText]="['Хорошо']"
  [description]="
    errorModalContent||'Произошла неизвестная ошибка'
  "

></app-modal>

