



@import 'tools/UI/UI.scss';

* {
	padding: 0px;
	margin: 0px;
	border: none;
    outline: none;
    color:var(--color-foreground);
        font-variant-ligatures: none;

    font-family: var(--font-family-main);
}

body.inheritCursors * {
  cursor: inherit !important;
}

.margin-block br{
     display: block;
      margin: 0.4em 0;content: " ";
    
}


*::selection{
  background-color:var(--color-secondary);
  color:var(--color-background)
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body,html{
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: var(--color-background);
}


body::-webkit-scrollbar {

  width: 16px;               
}
body::-webkit-scrollbar-track {
  background:   var(--scroll-body);       
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb); 
  border-radius: 20px;      
  border: 3px solid   var(--scroll-body);  
}



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;

 &.hide-overflow {
   width: calc(100% - 16px);
  height: 100vh;
  margin: 0;
  overflow: hidden;

  &::-webkit-scrollbar-track {
  background:  var(--scroll-body-modal)    
}
  }

}

@media(max-width:480px){
  .drag-scroll-content{
   margin-right: 0;
   padding-right: 6%;
       word-wrap:normal !important;

   *{
    word-wrap:normal !important;
   }
        &::-webkit-scrollbar {
   display: none !important;
  
  }
  }
}

.drag-scroll-content{
   &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-body);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: 3px solid var(--scroll-body);
  }
}

@media(max-width:480px)
{


  body{
  &.hide-overflow{
       width: 100% !important

  }
}

}

@import "calendar.styles.css";

input.calendar-event{
  border-radius: calc(var(--space-l)  * 0.9);

  width: 100%;
  text-overflow: ellipsis;
  max-width: 100%;
  background-color: var(--color-background-deeper-unactive);
  padding: calc(0.65em * 0.9) calc(0.8rem * 0.9);
  caret-color: var(--color-secondary);
  border: 1px solid var(--color-foreground-unactive);
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  line-height: 1.4;
  font-size: 0.9em;
  &::placeholder{
  
    font-weight: 300;
  }

   &:focus {
    border-color: var(--color-secondary);
    background-color: var(--color-background-deeper);
  }
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@import 'emojis.scss';