<div class="wrap">
  <h1 *ngIf="allUsers.length || initialLoading">{{ getTitleByUserType(userType) }}</h1>


  <app-search [disabled]="initialLoading" [context]="userType" *ngIf="allUsers.length || initialLoading"></app-search>

  <ng-template #notAll>
    <div *ngIf="allUsers.length > 0 || initialLoading; else noUsers">
      <app-users-list [users]="allUsers" (followStateChanges)="followsChanges()"></app-users-list>
      <div [ngStyle]="{'margin-top':allUsers.length?'1em':null}" *ngIf="!loaded || initialLoading"> <app-users-list
          [loading]="this.usersPerStep"></app-users-list></div>

      <app-button [disabled]="!initialLoading && loaded" (click)="(!initialLoading && loaded) ? loadMoreUsers() : null"
        *ngIf="(!everythingLoaded || initialLoading)" [text]="'Загрузить еще...'" [rounded]="true" class="load-more"
        [style]="'outlined'" [color]="'prim'"></app-button>
    </div>

    <ng-template #noUsers>
      <div class="container one-column not-found">
        <div class="image">
          <svg-icon [applyClass]="true" class="fridge" [src]="'/assets/images/svg/fridge.svg'"></svg-icon>
        </div>
        <div class="content">
          <h1 class="label">Кулинаров пока <span class="title">нет</span></h1>
          <p class="tagline">{{ getNoUsersTextByUserType(userType) }}</p>

          <hr />
          <div class="buttons">
            <app-button routerLink="/cooks" [rounded]="true" [color]="'prim'" [text]="'Все кулинары'"></app-button>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>

  <div *ngIf="filter === 'all'; else notAll">
    <ng-container *ngIf="!initialLoading; else loadingUsers">
      <div class="block" *ngIf="currentUser.id !== 0 && currentUserFollowingUsers.length > 0">
        <div routerLink="/cooks/following" class="head">
          <h2>Ваши подписки</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>

        <app-users-list (followStateChanges)="followsChanges()" [users]="currentUserFollowingUsers"></app-users-list>
      </div>



      <div class="block" *ngIf="currentUser.id !== 0 && nearbyUsers.length > 0">
        <div routerLink="/cooks/nearby" class="head">
          <h2>Кулинары рядом</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>

        <app-users-list (followStateChanges)="followsChanges()" [users]="nearbyUsers"></app-users-list>
      </div>

      <div class="block">
        <div routerLink="/cooks/popular" class="head">
          <h2>Самые популярные</h2>
      
          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>
        <app-users-list (followStateChanges)="followsChanges()" [users]="popularUsers"></app-users-list>
      </div>

      <div class="block">
        <div routerLink="/cooks/productive" class="head">
          <h2>Самые продуктивные</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>

        <app-users-list (followStateChanges)="followsChanges()" [users]="mostProductiveUsers"></app-users-list>
      </div>

      
      <div class="block">
        <div routerLink="/cooks/most-viewed" class="head">
          <h2>Самые просматриваемые</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>
        <app-users-list (followStateChanges)="followsChanges()" [users]="mostViewedUsers"></app-users-list>
      </div>
      <div class="block" *ngIf="administratorsAndModerators.length>0">
        <div routerLink="/cooks/managers" class="head">
          <h2>Управляющие</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>
        <app-users-list (followStateChanges)="followsChanges()"
          [users]="administratorsAndModerators"></app-users-list>
      </div>



      <div class="block">
        <div routerLink="/cooks/new" class="head">
          <h2>Новенькие</h2>

          <svg-icon class="arrow-svg" [applyClass]="true" [src]="'/assets/images/svg/go-back.svg'"></svg-icon>
        </div>


        <app-users-list (followStateChanges)="followsChanges()" [users]="newUsers"></app-users-list>
      </div>
    </ng-container>

    <ng-template #loadingUsers>
      <div class="block" *ngFor="let item of [1,2,3,4,5]">
        <div class="head">
          <h2 class="loading">Самые продуктивные</h2>
        </div>
        <div> <app-users-list [loading]="mainPageUsersPerStep"></app-users-list></div>
      </div>
    </ng-template>

  </div>


  <app-modal *ngIf="loadingModal" [style]="'await'" @modal></app-modal>