<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="wrap">
  <div style="position: relative;">
      <div (click)="areObjectsEqual()?exitModalShow = true:this.closeEmitter.emit(true)" class="exit">✕</div>
      <div class="cont">
    
      <form [formGroup]="form" class="recipe-form">
         
        <h1>
          {{editMode?'Изменение':'Создание'}} рецепта
        </h1>
    
        <div class="photo" [ngStyle]="{ 'background-image': 'url(' + mainImage + ')' }">
          <input type="file" class="input-image" id="image" name="image" accept="image/*"
            (change)="mainPhotoChange($event)" />
    
          <div class="delete" *ngIf="mainImage !== defaultImage" (click)="mainImage = defaultImage;this.form.get('image')?.setValue(null);">
            <svg-icon [applyClass]="true" class="svg-trash" [src]="'../../../../../assets/images/svg/trash.svg'"></svg-icon>
          </div>
        </div>
    
        <label for="recipeName">Название рецепта</label>
        <app-usual-input  [value]="this.form.get('recipeName')?.value" [inputRequired]="true" [max]="100" type="text" id="recipeName" formControlName="recipeName"
          [placeholder]="'Введите название рецепта'" required [error]="
            form.get('recipeName')?.invalid &&
            (form.get('recipeName')?.dirty || form.get('recipeName')?.touched)
              ? 'Название рецепта должно содержать от 3 до 100 символов'
              : ''
          "></app-usual-input>
    
        <label for="description">Описание</label>
        <app-expanding-input [max]="5000"  [value]="this.form.get('description')?.value" type="text" id="description" formControlName="description"
          [placeholder]="'Введите описание рецепта'" [error]="
            form.get('description')?.invalid && form.get('description')?.touched
              ? 'Описание рецепта не должно превышать 5000 символов'
              : ''
          "></app-expanding-input>
    
        <label for="history">История</label>
        <app-expanding-input [max]="5000"  [value]="this.form.get('history')?.value" type="text" id="history" formControlName="history"
          [placeholder]="'Введите историю рецепта'" [error]="
            form.get('history')?.invalid && form.get('history')?.touched
              ? 'История рецепта не должна превышать 5000 символов'
              : ''
          "></app-expanding-input>
    
          <label for="preparationTime">Время подготовки</label>
      
          <app-usual-input [value]="this.form.get('preparationTime')?.value" [max]="20" type="text" id="preparationTime" formControlName="preparationTime"
            [placeholder]="'Введите время подготовки к приготовлению рецепта'" [error]="
              form.get('preparationTime')?.invalid &&
              form.get('preparationTime')?.touched
                ? 'Значение времени подготовки не должно превышать 20 символов'
                : ''
            "></app-usual-input>
          <label for="preparationTime">Время готовки</label>
      
          <app-usual-input [value]="this.form.get('cookingTime')?.value" [max]="20" type="text" id="cookingTime" formControlName="cookingTime"
            [placeholder]="'Введите время готовки рецепта'" [error]="
              form.get('cookingTime')?.invalid && form.get('cookingTime')?.touched
                ? 'Значение времени готовки не должно превышать 20 символов'
                : ''
            "></app-usual-input>
    
        <label for="portions">Порции</label>
        <app-count-input  [min]="1" [max]="100" [readonly]="true" id="portions" formControlName="portions"></app-count-input>
    
        <label for="origin">Происхождение</label>
    
        <app-usual-input [value]="this.form.get('origin')?.value" [max]="20" type="text" id="origin" formControlName="origin"
          [placeholder]="'Введите место происхождения рецепта'" [error]="
            form.get('origin')?.invalid && form.get('origin')?.touched
              ? 'Значение места происхождения не должно превышать 20 символов'
              : ''
          "></app-usual-input>

           <div class="categories">
          <label for="">Категории</label>


          <app-autocomplete style="display: flex; justify-content: center;margin:0 auto" (categoryEmitter)="addCategory($event)" [group]="group" [placeholder]="'Выберите категории'"></app-autocomplete>


          <div class="tags">
            <div class="tag" *ngFor="let selected of selectedCategories">
              {{ selected.name }}
              <span (click)="removeCategory(selected)" class="remove-tag">✕</span>
            </div>
          </div>
        </div>
        
    
        <div cdkDropList (cdkDropListDropped)="drop('nutritions',$event)" id="nutritions" class="nutritions" formArrayName="nutritions">
          <label for="nutritions">Нутриенты</label>
          <p class="no-content" *ngIf="f('nutritions').controls.length === 0">
            Нутриентов пока нет
          </p>
    
          <div class="boundary">
            <div cdkDrag *ngFor="let nutrition of f('nutritions').controls; let i = index" [formGroupName]="i"
              class="nutrition-cont" cdkDragBoundary=".boundary">
              <div class="nutrition">
                <div tabindex="-1" class="drag" cdkDragHandle>
                  <svg-icon [applyClass]="true" class="svg-drag" [src]="'../../../../../assets/images/svg/drag.svg'">
                  </svg-icon>
                </div>
                <div class="num">{{ i + 1 }}</div>
    
                <app-usual-input [value]="nutrition.get('name')?.value" [inputRequired]="true" [error]="
                    nutrition.get('name')?.invalid &&
                    (nutrition.get('name')?.dirty || nutrition.get('name')?.touched)
                      ? 'Название нутриента должно содержать не менее 2 и не более 20 символов'
                      : ''
                  " [max]="20" [showError]="false" type="text" id="nutritionName{{ i }}" formControlName="name"
                  [placeholder]="'Название'" required></app-usual-input>
    
                <app-usual-input [value]="nutrition.get('quantity')?.value" id="nutritionAmount{{ i }}" formControlName="quantity" [placeholder]="'Кол-во'"
                  [showError]="false" [error]="
                    nutrition.get('quantity')?.invalid &&
                    (nutrition.get('quantity')?.dirty ||
                      nutrition.get('quantity')?.touched)
                      ? 'Количество нутриента должно содержать не более 6 символов'
                      : ''
                  "></app-usual-input>
    
                <app-usual-input type="text" [value]="nutrition.get('unit')?.value" [max]="10" id="nutritionUnit{{ i }}" formControlName="unit"
                  [placeholder]="'Ед. изм.'"
                  ></app-usual-input>
    
                <button type="button" tabindex="-1" (click)="removeNutrition(i)" class="remove-button">
                  <svg-icon [applyClass]="true" class="svg-trash" [src]="'../../../../../assets/images/svg/trash.svg'">
                  </svg-icon>
                </button>
              </div>
              <div>
                <div class="error" *ngIf="
                    nutrition.get('name')?.invalid &&
                    (nutrition.get('name')?.dirty || nutrition.get('name')?.touched)
                  ">
                  Название нутриента обязательно и должно содержать не менее 2 и не
                  более 100 символов
                </div>
                
              </div>
            </div>
          </div>
          <app-button (click)="!(f('nutritions').controls.length >= 100) ? addNutrition() : null"
            [disabled]="!(f('nutritions').controls.length >= 100)" [text]="'Добавить нутриент'" [color]="'prim'"
            [style]="'filled-min'" [rounded]="true">
          </app-button>
        </div>
        <div cdkDropList (cdkDropListDropped)="drop('ingredients',$event)" id="ingredients" class="ingredients"
          formArrayName="ingredients">
          <label for="ingredients">Ингредиенты</label>
          <p class="no-content" *ngIf="f('ingredients').controls.length === 0">
            Ингредиентов пока нет
          </p>
    
          <div class="boundary">
            <div cdkDrag *ngFor="let ingredient of f('ingredients').controls; let i = index" [formGroupName]="i"
              class="ingredient-cont" cdkDragBoundary=".boundary">
              <div class="ingredient">
                <div tabindex="-1" class="drag" cdkDragHandle>
                  <svg-icon [applyClass]="true" class="svg-drag" [src]="'../../../../../assets/images/svg/drag.svg'">
                  </svg-icon>
                </div>
                <div class="num">{{ i + 1 }}</div>
    
                <app-usual-input [value]="ingredient.get('name')?.value" [inputRequired]="true" [error]="
                    ingredient.get('name')?.invalid &&
                    (ingredient.get('name')?.dirty ||
                      ingredient.get('name')?.touched)
                      ? 'error'
                      : ''
                  " [max]="50" [showError]="false" type="text" id="ingredientName{{ i }}" formControlName="name"
                  [placeholder]="'Название'" required></app-usual-input>
    
                <app-usual-input [value]="ingredient.get('quantity')?.value" id="ingredientAmount{{ i }}" formControlName="quantity" [placeholder]="'Кол-во'"
                [showError]="false" [error]="
                    ingredient.get('quantity')?.invalid &&
                    (ingredient.get('quantity')?.dirty ||
                      ingredient.get('quantity')?.touched)
                      ? 'error'
                      : ''
                  "></app-usual-input>
    
                <app-usual-input [value]="ingredient.get('unit')?.value" type="text" [max]="10" id="ingredientUnit{{ i }}" formControlName="unit"
                  [placeholder]="'Ед. изм.'"></app-usual-input>
    
                <button type="button" tabindex="-1" (click)="removeIngredient(i)" class="remove-button">
                  <svg-icon [applyClass]="true" class="svg-trash" [src]="'../../../../../assets/images/svg/trash.svg'">
                  </svg-icon>
                </button>
              </div>
              <div>
                <div class="error" *ngIf="
                    ingredient.get('name')?.invalid &&
                    (ingredient.get('name')?.dirty ||
                      ingredient.get('name')?.touched)
                  ">
                  Название рецепта обязательно и должно содержать не менее 2 и не
                  более 100 символов
                </div>
              
              </div>
            </div>
          </div>
          <app-button  (click)="!(f('ingredients').controls.length >= 100) ? addIngredient() : null"
            [disabled]="!(f('ingredients').controls.length >= 100)" [text]="'Добавить ингредиент'" [color]="'prim'"
            [style]="'filled-min'" [rounded]="true">
          </app-button>
        </div>
    
        <div formArrayName="instructions" id="instructions" cdkDropList (cdkDropListDropped)="drop('instructions',$event)"
          class="instructions">
          <label for="instructions">Инструкции</label>
          <p class="no-content" *ngIf="f('instructions').controls.length === 0">
            Инструкций пока нет
          </p>
    
          <div class="boundary">
            <div class="instruction-cont" cdkDragBoundary=".boundary" cdkDrag [formGroupName]="i"
              *ngFor="let instruction of f('instructions').controls; let i = index" [formGroupName]="i">
              <div class="instruction">
                <div class="instruction-text">
                  <div tabindex="-1" class="drag" cdkDragHandle>
                    <svg-icon [applyClass]="true" class="svg-drag" [src]="'../../../../../assets/images/svg/drag.svg'">
                    </svg-icon>
                  </div>
                  <div class="num">{{ i + 1 }}</div>
    
                  <app-expanding-input [value]="instruction.get('name')?.value" [max]="1000" type="text" id="name" formControlName="name"
                    [placeholder]="'Содержание'" [inputRequired]="true" [showError]="false" [error]="
                      instruction.get('name')?.invalid &&
                      (instruction.get('name')?.dirty ||
                        instruction.get('name')?.touched)
                        ? 'error'
                        : ''
                    "></app-expanding-input>
    
                  <button type="button" tabindex="-1" (click)="removeInstruction(i)" class="remove-button">
                    <svg-icon [applyClass]="true" class="svg-trash" [src]="'../../../../../assets/images/svg/trash.svg'">
                    </svg-icon>
                  </button>
                </div>
    
                <div tabindex="-1" formArrayName="images" class="instruction-images">
                  <div class="add-image" *ngFor="let image of getImages(i); let j = index" [formGroupName]="j">
                    <div class="instruction-image" [ngStyle]="{
                        'background-image':
                          'url(' + getInstructionPhotoURL(i, j) + ' )'
                      }" alt="User Photo">
                      <div tabindex="-1" class="delete" *ngIf="
                          getInstructionPhotoURL(i, j) !== defaultInstructionImage
                        " (click)="removeInstructionPhoto(i, j)">
                        <svg-icon [applyClass]="true" class="svg-trash"
                          [src]="'../../../../../assets/images/svg/trash.svg'"></svg-icon>
                      </div>
                      <input tabindex="-1" accept="image/*" type="file" id="image{{ i }}-{{ j }}" name="image"
                        (change)="instuctionImageChange($event, i, j)" />
                    </div>
                  </div>
                </div>
                <div class="error" *ngIf="
                    instruction.get('name')?.invalid &&
                    (instruction.get('name')?.dirty ||
                      instruction.get('name')?.touched)
                  ">
                  Описание инструкции обязательно и должно содержать не менее 2 и не
                  больше 1000 символов
                </div>
              </div>
            </div>
          </div>
          <app-button (click)="
              !(f('instructions').controls.length >= 100) ? addInstruction() : null
            " [disabled]="!(f('instructions').controls.length >= 100)" [text]="'Добавить инструкцию'" [color]="'prim'"
            [style]="'filled-min'" [rounded]="true">
          </app-button>
        </div>
    
       
    
        <hr />
    
        <div class="buttons">
          <app-button (click)="form.valid ? (approveModalShow = true) : null" [text]="'Опубликовать'" [color]="'prim'"
            [style]="'outlined'" [disabled]="form.valid" [rounded]="true"></app-button>
          <app-button class="main" (click)="form.valid ? submitForm() : null" [text]="editMode?'Изменить':'Сохранить'" [color]="'prim'"
            [disabled]="form.valid" [style]="'filled'" [rounded]="true"></app-button>
          <app-button (click)="exitModalShow = true" [text]="'Отменить'" [color]="'prim'" [style]="'outlined'"
            [rounded]="true"></app-button>
        </div>
       
      </form>
    </div>
  </div>
</div>
<app-modal @modal *ngIf="exitModalShow" [style]="'prim'" [title]="'Отмена'+ (editMode?' изменения':' сохранения ')+ 'рецепта'" [type]="'yesOrNo'"
  (resultEmit)="handleExitModal($event)" [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что не хотите'+(editMode?' изменить':' сохранить ') + 'рецепт?'"></app-modal>
<app-modal @modal *ngIf="successModalShow" [style]="'sec'" [title]="'Рецепт успешно сохранен'" [type]="'Ok'"
  (resultEmit)="handleSuccessModal()" [buttonsText]="['Хорошо']" [description]="
  'Ваш рецепт успешно'+(editMode?' изменен':' сохранен в вашей личной коллекции') +
    (isAwaitingApprove ? ' и ожидает одобрения модератора' : '')
  "></app-modal>

<app-modal @modal *ngIf="createModalShow" [style]="'prim'" [title]="'Подтвердите создание рецепта'" [type]="'yesOrNo'"
  (resultEmit)="handleCreateRecipeModal($event)" [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что хотите сохранить рецепт в личной коллекции?'"></app-modal>

<app-modal @modal *ngIf="approveModalShow" [style]="'prim'" [title]="'Подтвердите публикацию рецепта'"
  [type]="'yesOrNo'" (resultEmit)="handleApproveModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'Вы уверены, что хотите ' +(editMode?'изменить':'сохранить') + ' рецепт и отправить его на рассмотрение к модератору?'
  "></app-modal>

  


  <app-modal @modal *ngIf="editModalShow" [style]="'prim'" [title]="'Подтвердите изменение рецепта'" [type]="'yesOrNo'"
  (resultEmit)="handleEditRecipeModal($event)" [buttonsText]="['Да', 'Нет']"
  [description]="'Вы уверены, что хотите изменить рецепт?'"></app-modal>