@import "../../../../../../tools/UI/UI.scss";

app-count-input{
  display: flex;
  justify-content: start;
}
.exit{
  position: absolute;
  fill: var(--color-foreground);
  top: 0;
  bottom:0; margin: auto;
width: 0.75em;
    height: 0.75em;
  cursor: pointer;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

app-modal{
position: fixed;
z-index: 10;
}
svg-icon{
  display: flex;
  align-items: center;
  justify-content: center;
width: 0.75em;
    height: 0.75em;
}




.cont {
  display: block;
  width: 50vw;
  padding: var(--space-xl) 0;
  margin: auto;

  h1 {
    font-size: var(--font-xxl);
    font-family: var(--font-family-accent);
    text-align: center;
    margin-bottom: 1em;
      position: relative;

    line-height: 1;
  }

  label {
    cursor: unset;
    font-size: var(--font-m);
    margin-bottom: 0.5em;
    margin-top: 0.75em;
    font-weight: 700;
    display: block;
  }

  hr {
    height: 1px;
    margin: 2em 0;
    height: 1px;
    background-color: var(--color-foreground);
    opacity: 0.2;
  }


  app-button {
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;

    .main {
      zoom: 1.3;
    }
  }
}

.instruction {
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 0.3em;

  .instruction-text {
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    display: grid;
    grid-template-columns: 2em 2em 1fr 2em;
  }

  label {
    height: 2em;
    line-height: 1;
  }
}


.remove-button {
      cursor: pointer;
      width: 1.5em;
      height: 1.5em;

      .svg-trash {
        fill: var(--color-primary);
        height: 100%;
        height: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      display: flex;
      align-items: center;
      justify-content: center;
    }

  .boundary {
    margin-bottom: 1em;
  }

.instructions,
.ingredients, .nutritions {
  margin: 2em 0;


  label {
    text-align: center;
  }

  .no-content {
    text-align: center;
    margin-bottom: 1em;
  }

  
}
.ingredient-cont,.instruction-cont,.nutrition-cont{
  padding: 0.5em;
}

.instruction,
  .ingredient,.nutrition {
    width: 100%;

    

    .num {
      background-color: var(--color-primary-lighter);
      color: var(--color-primary);
      font-weight: 700;
      font-size: 0.9em;
      width: 1.5em;
      height: 1.5em;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    app-usual-input,
    app-expanding-input {
      zoom: 0.85;
    }

    background-color: var(--color-background);
    position: relative;

    display: grid;
    align-items: center;
    justify-content: center;

    .instruction-images {
      width: 100%;
      padding: 0 3em 0 6em;
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0.5em;

      .instruction-image {
        position: relative;
        height: 7em;
        background-size: cover;
        background-position: center;
        border-radius: var(--space-m);

        input {
          position: absolute;
          width: 100%;
          cursor: pointer;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }


.ingredient,.nutrition {
  column-gap: 1em;
  grid-template-columns: 2em 2em 4fr 2fr 2fr 2em;

  label {
    height: 2em;
    line-height: 1;
  }
}

.error{
  line-height: 1;
  margin-top: 0.2em;
  color:var(--color-primary);
  font-size: 0.8em;
}

.delete {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  padding: 0.3em;
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-color: var(--color-primary);

  .svg-trash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    fill: var(--color-background);
  }
}

.drag {
  cursor: grabbing;
  width: 1.5em;
  height: 1.5em;

  .svg-drag {
    fill: var(--color-foreground);
    height: 100%;
    width: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction-image {
  position: relative;
}

.photo {
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .input-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  width: 16em;
  height: 10em;
  border-radius: 0 2em 0 2em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.5;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.1),
    0 8px 10px 1px rgba(0, 0, 0, 0.1),
    0 3px 14px 2px rgba(0, 0, 0, 0.1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




@media(max-width:900px){
  .cont{
    width: 100%;
        padding-left: calc(14.4vw + 0 * (100vw - 768px) / 760);
    padding-right: calc(14.4vw + 0 * (100vw - 768px) / 760);

  }
}

@media(max-width:680px){
  .instruction {
  .instruction-text {
    column-gap: 0.25em;
    grid-template-columns: 1.5em 1.5em 1fr 1.5em;
  }
}


.ingredient-cont,.instruction-cont,.nutrition-cont{
  padding: 0.5em 0;
}

.instruction,
  .ingredient,.nutrition {
   
    app-usual-input,
    app-expanding-input {
      zoom: 0.8;
    }

    .instruction-images {
      padding: 0 1.5em 0 3.5em;
  

      .instruction-image {
        position: relative;
        height: 7em;
        background-size: cover;
        background-position: center;
        border-radius: var(--space-m);

        input {
          position: absolute;
          width: 100%;
          cursor: pointer;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }


.ingredient,.nutrition {
  column-gap: 0.25em;
  grid-template-columns:  1.5em  1.5em 4fr 2fr 2fr  1.5em;

  label {
    height: 2em;
    line-height: 1;
  }
}

.error{
  line-height: 1;
  margin-top: 0.2em;
  color:var(--color-primary);
  font-size: 0.8em;
}

.delete {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  padding: 0.3em;
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-color: var(--color-primary);

  .svg-trash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    fill: var(--color-background);
  }
}

.drag {
  cursor: grabbing;
  width: 1.5em;
  height: 1.5em;

  .svg-drag {
    fill: var(--color-foreground);
    height: 100%;
    width: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction-image {
  position: relative;
}

.photo {
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .input-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  width: 16em;
  height: 10em;
  border-radius: 0 2em 0 2em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.cont .buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    zoom: 0.95;

   
}
}


@media(max-width:480px){
.instruction,
  .ingredient,.nutrition {
   
    app-usual-input,
    app-expanding-input {
      zoom: 0.8;
    }

    .instruction-images {
      padding:0;
        margin-top:0.25em;
  

      .instruction-image {
        position: relative;
        height: 6em;
        background-size: cover;
        background-position: center;
        border-radius: var(--space-m);
      }}}


.cont {
  display: block;
  width: 100%;
  padding: 1.75em 6%;
  margin: 0;

  h1{
    font-size: 1.5em;
    font-family: var(--font-family-accent);
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    line-height: 1;

  }

  

    .buttons{

      display: grid;
      column-gap: 0.5em;
      grid-template-rows: 2;
      grid-template-columns: 2;
    
      app-button:first-of-type{
grid-row:2;
grid-column: 1;
      }

        app-button:last-of-type{
grid-row:2;
grid-column: 2;
      }

   app-button.main{
      zoom:1.3;
grid-row:1;
grid-column-start: 1;
grid-column-end: 3;
      
    }
  }
}

}