<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="edit-cont" (click)="clickBackgroundNotContent($event)">
  <div style="position: relative; width: fit-content; height: fit-content;">
    <div (click)="
            areObjectsEqual()
              ? (closeModal = true)
              : this.closeEmitter.emit(true)
          " class="exit">
          ✕
        </div>
    <div class="content">
      
      <h1>
        
        Изменение аккаунта
      </h1>
  
  
     <div class="form">
        <div class="section">
          <form [formGroup]="form">
    
           <div class="main-wrap">
              <div class="image">
                <input type="file" (change)="onUserpicChange($event)" accept="image/*" />
      
                <div class="delete" *ngIf="myImage !== defaultImage" (click)="myImage = defaultImage; this.form.get('image')?.setValue('')">
                  <svg-icon [applyClass]="true" class="svgTrash"
                    [src]="'../../../../../assets/images/svg/trash.svg'"></svg-icon>
                </div>
                <div class="userpic" [ngStyle]="{ 'background-image': 'url(' + myImage + ')' }" alt="User Photo"></div>
              </div>
      
              <div style="width: 100%;">
                <div class="section-content">
                  <h2>Основная информация</h2>
      
                  <app-usual-input [inputRequired]="true" [max]="20" id="username" formControlName="username"
                    [placeholder]="'Имя пользователя'" required [value]="form.get('username')?.value" [error]="
                    !form.get('username')?.hasError('usernameExists') ?
                     ( form.get('username')?.invalid &&
                      (form.get('username')?.dirty || form.get('username')?.touched )
                        ? 'Имя пользователя должно содержать от 4 до 20 символов, среди которых могут быть буквы (минимум одна), цифры, а также нижние почеркивания и точки (не подряд)'
                        : ''): 'Это имя пользователя уже занято'
                    "></app-usual-input>
                  <div *ngIf="form.get('username')?.hasError('usernameExists')">
                    Это имя пользователя уже занято.
                  </div>
      
                  <app-usual-input [max]="30" id="fullname" formControlName="fullname" [value]="form.get('fullname')?.value"
                    [placeholder]="'Полное имя'" [error]="
                      form.get('fullname')?.invalid &&
                      (form.get('fullname')?.dirty || form.get('fullname')?.touched)
                        ? 'Полное имя не может содержать более 30 символов'
                        : ''
                    "></app-usual-input>
                </div>
              </div>
           </div>
    
    
            <div class="section">
              <h2>Содержание профиля</h2>
    
              <div class="section-content">
                <app-expanding-input [value]="this.form.get('quote')?.value" [max]="100" id="quote" formControlName="quote"
                  [placeholder]="'Личная цитата'" [error]="
                    form.get('quote')?.invalid &&
                    (form.get('quote')?.dirty || form.get('quote')?.touched)
                      ? 'Личная цитата не может содержать более 100 символов'
                      : ''
                  "></app-expanding-input>
                <app-expanding-input [max]="2000" id="description" formControlName="description"
                  [value]="this.form.get('description')?.value" [placeholder]="'Описание'" [error]="
                    form.get('description')?.invalid &&
                    (form.get('description')?.dirty ||
                      form.get('description')?.touched)
                      ? 'Описание не может содержать более 2000 символов'
                      : ''
                  "></app-expanding-input>
                <app-usual-input [max]="1000" id="website" formControlName="website" [value]="form.get('website')?.value"
                  [placeholder]="'Ссылка на личный сайт'" [error]="
                    form.get('website')?.invalid &&
                    (form.get('website')?.dirty || form.get('website')?.touched)
                      ? 'Введенное значение не является корректной ссылкой на сайт в интернете. Пример: https://krabochki.com'
                      : ''
                  "></app-usual-input>
                <app-usual-input [max]="30" [value]="form.get('location')?.value" id="location" formControlName="location"
                  [placeholder]="'Место проживания'" [error]="
                    form.get('location')?.invalid &&
                    (form.get('location')?.dirty || form.get('location')?.touched)
                      ? 'Место проживания не может содержать более 30 символов'
                      : ''
                  "></app-usual-input>
              </div>
            </div>
            <div class="section">
              <h2>Социальные сети</h2>
    
              <div class="section-content">
                <app-usual-input [max]="1000" [value]="form.get('pinterest')?.value" id="pinterest"
                  formControlName="pinterest" [placeholder]="'Ссылка на аккаунт в Pinterest'" [error]="
                    form.get('pinterest')?.invalid &&
                    (form.get('pinterest')?.dirty || form.get('pinterest')?.touched)
                      ? 'Введенное значение не является корректной ссылкой на аккаунт пользователя в Pintreset. Пример: https://pinterest.com/krabochki'
                      : ''
                  "></app-usual-input>
                <app-usual-input [max]="1000" id="vk" [value]="form.get('vk')?.value" formControlName="vk"
                  [placeholder]="'Ссылка на аккаунт во ВКонтакте'" [error]="
                    form.get('vk')?.invalid &&
                    (form.get('vk')?.dirty || form.get('vk')?.touched)
                      ? 'Введенное значение не является корректной ссылкой на аккаунт пользователя во ВКонтакте. Пример: https://vk.com/nanananana_come_on'
                      : ''
                  "></app-usual-input>
                <app-usual-input [value]="form.get('twitter')?.value" [max]="1000" id="twitter" formControlName="twitter"
                  [placeholder]="'Ссылка на аккаунт в Twitter (X)'" [error]="
                    form.get('twitter')?.invalid &&
                    (form.get('twitter')?.dirty || form.get('twitter')?.touched)
                      ? 'Введенное значение не является корректной ссылкой на аккаунт пользователя в Twitter. Пример: https://twitter.com/krabochki'
                      : ''
                  "></app-usual-input>
                <app-usual-input type="facebook" [max]="1000" [value]="form.get('facebook')?.value" id="facebook"
                  formControlName="facebook" [placeholder]="'Ссылка на аккаунт в Facebook'" [error]="
                    form.get('facebook')?.invalid &&
                    (form.get('facebook')?.dirty || form.get('facebook')?.touched)
                      ? 'Введенное значение не является корректной ссылкой на аккаунт пользователя в Facebook. Пример: https://facebook.com/krabochki'
                      : ''
                  "></app-usual-input>
              </div>
            </div>
          </form>
    
    
    
    
        </div>
        <app-button [disabled]="areObjectsEqual() && form.valid" (click)="form.valid ? (saveModal = true) : null" [text]="'Сохранить'"
          [style]="'filled'" [color]="'prim'" [rounded]="true"></app-button>
      </div>
     </div>
  </div>
</div>

<app-modal *ngIf="closeModal" @modal [style]="'prim'" [title]="'Закрытие окна'" [type]="'yesOrNo'"
  (resultEmit)="handleCloseModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'Вы уверены, что хотите вернуться к просмотру аккаунта и не сохранять изменения?'
  ">
</app-modal>

<app-modal @modal *ngIf="saveModal" [style]="'prim'" [title]="'Изменение аккаунта'" [type]="'yesOrNo'"
  (resultEmit)="handleSaveModal($event)" [buttonsText]="['Да', 'Нет']" [description]="
    'Вы уверены, что хотите сохранить изменения и обновить свой аккаунт?'
  "></app-modal>

<app-modal @modal *ngIf="successModal" [style]="'sec'" [title]="'Аккаунт успешно изменен'" [type]="'Ok'"
  (resultEmit)="handleSuccessModal($event)" [buttonsText]="['Хорошо']"
  [description]="'Изменения вашего аккаунта успешно сохранены!'"></app-modal>