@import "../../../../../tools/UI/UI.scss";


.main-wrap{
  display: flex; align-items: center; justify-content: space-between; column-gap: 1.5em; flex-direction:row-reverse;

 .edit-cont & h2{
  margin-top: 0;
}}

.edit-cont {
  background-color: var(--modal-black);
  width: 100vw;
  height: 100vh;
  

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  .svg {
    fill: var(--color-foreground);
    width: 2em;
    height: 2em;
  }
  .content {
    padding: 2.5em 5vw;
    border-radius: var(--space-l) 0 0 var(--space-l);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
    width: 40rem;

    max-height: 80vh;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: var(--color-background);

    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--scroll-body);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
      border-radius: 20px;
      border: 3px solid var(--scroll-body);
    }
  }
  h1 {
    text-align: center;
    font-family: var(--font-family-accent);
    font-size: var(--font-xxl);
    position: relative;
  }

  .userpic {
    height: 10em;
    margin: 0 auto;
    width: 10em;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    background-repeat: no-repeat;
  }
  .svgTrash {
    width: 100%;
    height: 100%;
    fill: var(--color-background);
  }

  .delete {
    position: absolute;
    cursor: pointer;

    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    padding: 0.3em;
    background-color: var(--color-primary);
  }

  .image {
    position: relative;
    border-radius: 100%;
  }

  input {
    top: 0;
    cursor: pointer;

    right: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    position: absolute;
  }

  .exit {
    display: flex;
    align-items: center;
    top: -0.5em;left:-0.5em;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    z-index: 2;
    position: absolute;
   
    width: 2em;
    font-weight: 1000;
    opacity: 0.5;
    transition: 0.2s ease-in-out;

    &:hover{
      opacity: 1;
    }
    
    height: 2em;

    background-color: var(--color-primary);
    border-radius: 100%;
    color: var(--color-foreground);
  }
  h2 {
    font-size: var(--font-m);
    font-weight: 700;
    margin-top: 1.5em;

 
  }
  .section {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
    .section-content {
      width: 100%;

      display: flex;
      flex-direction: column;
      row-gap: 0.75em;
    }
  }
}

app-modal {
  z-index: 12;
  position: fixed;
}


@media(max-width:768px){
   .edit-cont .content {
    border-radius: 0;
    row-gap: 2em;
    width: 100vw;

    height: 100vh;
    max-height: unset;
  

    &::-webkit-scrollbar {
    display: none;
    }
   
  }
  .edit-cont{
      .exit {
   
    top: 0;right:0; left: unset;
    width: 2.3em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: 1.2em;
    
    height: 2.3em;
    border-radius: 0 0 0 100%;
  }
  }
}



@media(max-width:480px){

  .main-wrap {
    row-gap: 1.5em;
    flex-direction: column;
}

  .edit-cont .content{
    padding: 2.5em 6%;
  }
}