/* user-profile.component.scss */
@import "../../../../../tools/UI/UI.scss";

.svg {
  height: var(--space-m);

  fill: var(--color-foreground);
}

.magn{
  width:1.75em;
  height:1.75em;
}
.svg-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width:100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный фон с 50% непрозрачностью */
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--space-m);
    border-radius: var(--space-m);
    padding: var(--space-m);

    background-color: var(--color-background);
    width: 26.2em;
  }
}

.block-1 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;

  position: relative;

  .search-button {
    z-index: 102;
    zoom: 0.8;

    cursor: pointer;
    margin-right: var(--space-m);
    margin-left: auto;
    transition: opacity 0.3s;
  }
  .search-div {
    padding: 0 var(--space-s);
    padding-left: calc(var(--space-l) + 0.3em);
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    width: calc(100% - var(--space-xxl));
    border-radius: var(--space-m);
    height: var(--font-2xl);
    margin: auto;
    background-color: var(--color-background-deeper);
    position: absolute;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
    &:focus {
      background-color: var(--color-background-deeper-unactive);
    }

    &::placeholder {
      font-weight: 300;
    }
  }
}

.block-2 {
  .button-row {
    display: flex;
    justify-content: space-around;

    .followers-button,
    .following-button {
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

hr {
  height: 1px;
  background-color: var(--color-foreground);
  opacity: 0.1;
  margin-bottom: var(--space-m);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.block-3 {
  position: relative;
  min-height: 40vh;

  .nofollow {
    height: 40vh;
    width: 95%;
    flex-direction: column;
    row-gap: 1em;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .template {
    row-gap: var(--space-s);
    display: flex;
    height: 40vh;

    overflow-y: scroll;

    scroll-snap-type: y mandatory;

    flex-direction: column;

    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--scroll-body);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
      border-radius: 20px;
      border: 3px solid var(--scroll-body);
    }
  }

  .row {
    margin: 0 0.5em;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 3em 10em 7.2em;
    align-items: center;
    justify-content: center;
    column-gap: var(--space-m);

    h2 {
      cursor: pointer;
      font-weight: 600;
      font-size: 1.1em;
      margin-bottom: 0.1em;
    }
    p {
      font-weight: 500;
      color: var(--color-foreground-unactive);
    }
    h2,
    p {
      line-height: 1;
    }

    app-button {
      zoom: 0.8;
    }
    .column {
      img {
        max-height: 3em;
        margin: 0 auto;
        border-radius: 100%;
      }
    }
  }
}



@media(max-width:480px){

    
.container {

  .content {
    border-radius: 0;
    padding: var(--space-m);
    width: 100vw;
    height:100vh;
  }
}


.block-1 {
  .search-button {
  
    
  }
  .search-div {
    padding: 0 var(--space-s);
    padding-left: var(--space-m);
  
    width: 80%;
    height: var(--font-2xl);}
}




.search-button{

  margin-right: var(--space-m) !important;
}

.block-3 {

  .row{
    column-gap: var(--space-s);
        grid-template-columns: 3em 7em 7.2em;

  }

   p,h2{
    overflow: hidden;
white-space: nowrap;

        text-overflow: ellipsis;
        

   }

  .nofollow {
    height: 70vh;
    br{
          display: none;

    }
  }

  .template {
    height: 70vh;
    overflow-x: hidden;

    
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--scroll-body);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb);
      border-radius: 20px;
      border:none;
    }
  }

}
}