<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="wrap">
  <h1>{{ ingredient.name }}</h1>
 

  <div class="container">
    <div class="image"></div>

    <div class="section-group center">
      <p class="reading-time">
        <svg-icon class="read-icon" [applyClass]="true" [src]="'assets/images/svg/reading.svg'" />
        <span style="display: inline">
          Чтение займет приблизительно {{ readingTimesInMinutes
          }}<span appPluralRu="" [value]="readingTimesInMinutes" [arVariants]="[' минуту', ' минуты', ' минут']"></span>
        </span>
      </p>
      <div class="content" *ngIf="showContentBlock">
        <h3>
          <svg-icon
            [applyClass]="true"
            class="icon"
            [src]="'assets/images/svg/layers.svg'"
          />
          Содержание
        </h3>
        <ul>
          <li *ngIf="showMainSection">
            <a (click)="goToSection('main')">Основное</a>
          </li>
          <li *ngIf="showReviewSection">
            <a (click)="goToSection('review')">Обзор</a>
          </li>
          <li *ngIf="showCookingSection">
            <a (click)="goToSection('cooking')">Готовка</a>
          </li>
          <li *ngIf="ingredient.nutritions">
            <a (click)="goToSection('nutritions')">Пищевая ценность</a>
          </li>
          <li *ngIf="ingredient.tips">
            <a (click)="goToSection('tips')">Советы</a>
          </li>
          <li *ngIf="ingredient.externalLinks">
            <a (click)="goToSection('links')">Ссылки</a>
          </li>
        </ul>
      </div>
      <section>
        <div class="tags">
          <p>{{ ingredientGroups.length > 1 ? "Группы" : "Группа" }}:</p>
          <a
            class="tag"
            *ngFor="let group of ingredientGroups"
            [routerLink]="'/ingredients/groups/' + group.id"
            >{{ group.name }}</a
          >
        </div>
      </section>
      <section *ngIf="relatedCategories.length > 0">
        <div class="tags">
          <p>
            Используют в
            {{ relatedCategories.length > 1 ? "категориях" : "категории" }}:
          </p>
          <a
            class="tag"
            *ngFor="let category of showedCategories"
            [routerLink]="'/categories/list/' + category.id"
            >{{ category.name }}</a
          >
          <button
            (click)="showAllCategories()"
            *ngIf="showedCategories.length < relatedCategories.length"
          >
            ...
          </button>
        </div>
      </section>

      <section *ngIf="relatedIngredients.length > 0">
        <div class="tags">
          <p>Похожие ингредиенты:</p>
          <a
            class="tag"
            *ngFor="let ingredient of relatedIngredients"
            [routerLink]="'/ingredients/list/' + ingredient.id"
            >{{ ingredient.name }}</a
          >
        </div>
      </section>

      <section>
        <p *ngIf="recipes.length > 0; else noRelatedRecipes">
          На сайте есть {{ recipes.length }}
          <span
            appPluralRu=""
            [value]="recipes.length"
            [arVariants]="['рецепт', 'рецепта', 'рецептов']"
          ></span>
          с таким ингредиентом
        </p>
        <ng-template #noRelatedRecipes>
          <p>На сайте пока нет рецептов с таким ингредиентом</p>
        </ng-template>
        <app-button
          [routerLink]="'/ingredients/list/' + ingredient.id + '/recipes'"
          *ngIf="recipes.length > 0"
          [color]="'sec'"
          [style]="'filled'"
          [text]="'Просмотреть'"
          [rounded]="true"
        />
      </section>
    </div>
  </div>

  <div>
    <div class="info">
      <section id="main" class="section-group" *ngIf="showMainSection">
        <h2>Основное</h2>

        <section *ngIf="ingredient.description">
          <h3>
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/description.svg'"
            />
            Описание
          </h3>
          <p
            class="margin-block"
            [innerHTML]="addParagraphs(ingredient.description)"
          ></p>
        </section>

        <section *ngIf="ingredient.origin">
          <h3>
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/origin.svg'"
            />
            Место происхождения
          </h3>
          <p>
            {{ ingredient.origin }}
          </p>
        </section>
        <section *ngIf="ingredient.history">
          <h3>
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/history.svg'"
            />История
          </h3>

          <button class="history-button" (click)="showHistory = !showHistory">
            {{
              !showHistory
                ? "Расскрыть
            историю..."
                : "Свернуть историю..."
            }}
          </button>
          <p
            class="history margin-block"
            @height
            *ngIf="showHistory"
            [innerHTML]="addParagraphs(ingredient.history)"
          ></p>
        </section>
      </section>
      <section id="review" class="section-group" *ngIf="showReviewSection">
        <h2>Обзор</h2>
        <section
          *ngIf="ingredient.advantages || ingredient.disadvantages"
          class="double-block"
          [ngClass]="{ 'one-column': oneColumn('advantages') }"
        >
          <section class="positive" *ngIf="ingredient.advantages">
            <h3>Достоинства</h3>
            <ol [ngStyle]="noListStyle(ingredient.advantages)">
              <li *ngFor="let advantage of ingredient.advantages">
                {{ advantage }}
              </li>
            </ol>
          </section>
          <section class="negative" *ngIf="ingredient.disadvantages">
            <h3>Недостатки</h3>
            <ol [ngStyle]="noListStyle(ingredient.disadvantages)">
              <li *ngFor="let disadvantage of ingredient.disadvantages">
                {{ disadvantage }}
              </li>
            </ol>
          </section>
        </section>

        <section
          *ngIf="ingredient.recommendedTo || ingredient.contraindicatedTo"
          class="double-block"
          [ngClass]="{ 'one-column': oneColumn('recommendations') }"
        >
          <section class="positive" *ngIf="ingredient.recommendedTo">
            <h3>Рекомендовано</h3>
            <ol [ngStyle]="noListStyle(ingredient.recommendedTo)">
              <li *ngFor="let recommendation of ingredient.recommendedTo">
                {{ recommendation }}
              </li>
            </ol>
          </section>

          <section class="negative" *ngIf="ingredient.contraindicatedTo">
            <h3>Противопоказано</h3>
            <ol [ngStyle]="noListStyle(ingredient.contraindicatedTo)">
              <li *ngFor="let contraindication of ingredient.contraindicatedTo">
                {{ contraindication }}
              </li>
            </ol>
          </section>
        </section>
        <section class="pictures">
          <svg-icon
            [applyClass]="true"
            class="cook-icon angel"
            [src]="'assets/images/svg/angel.svg'"
          />
          <svg-icon
            [applyClass]="true"
            class="cook-icon demon"
            [src]="'assets/images/svg/demon.svg'"
          />
        </section>
      </section>

      <section id="cooking" class="section-group" *ngIf="showCookingSection">
        <h2>Готовка</h2>
        <section class="warning" *ngIf="ingredient.precautions">
          <h3>
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/iwarning.svg'"
            />
            Меры предосторожности
          </h3>
          <ol [ngStyle]="noListStyle(ingredient.precautions)">
            <li *ngFor="let precaution of ingredient.precautions">
              {{ precaution }}
            </li>
          </ol>
        </section>

        <section
          class="double-block"
          *ngIf="ingredient.cookingMethods || ingredient.storageMethods"
        >
          <section *ngIf="ingredient.cookingMethods">
            <h3>
              <svg-icon
                [applyClass]="true"
                class="icon"
                [src]="'assets/images/svg/bulb.svg'"
              />
              Способы приготовления
            </h3>
            <ol [ngStyle]="noListStyle(ingredient.cookingMethods)">
              <li *ngFor="let cookingMethod of ingredient.cookingMethods">
                {{ cookingMethod }}
              </li>
            </ol>
          </section>
          <section *ngIf="ingredient.storageMethods">
            <h3>
              <svg-icon
                [applyClass]="true"
                class="icon"
                [src]="'assets/images/svg/ifridge.svg'"
              />
              Способы хранения
            </h3>
            <ol [ngStyle]="noListStyle(ingredient.storageMethods)">
              <li *ngFor="let storageMethod of ingredient.storageMethods">
                {{ storageMethod }}
              </li>
            </ol>
          </section>
        </section>

        <section *ngIf="ingredient.compatibleDishes">
          <h3>
            <svg-icon
              [applyClass]="true"
              class="icon"
              [src]="'assets/images/svg/puzzle.svg'"
            />
            Сочетания
          </h3>
          <ol [ngStyle]="noListStyle(ingredient.compatibleDishes)">
            <li *ngFor="let compatibleDish of ingredient.compatibleDishes">
              {{ compatibleDish }}
            </li>
          </ol>
        </section>
      </section>

      <section
        id="nutritions"
        class="section-group"
        *ngIf="ingredient.nutritions"
      >
        <h2>Пищевая ценность</h2>

        <div class="nutritions">
          <ng-container *ngFor="let nutrition of nutritionWithContent">
            <p class="name">{{ nutrition.name }}</p>
            <p>{{ nutrition.quantity.trim() }} {{ nutrition.unit.trim() }}</p>
          </ng-container>
        </div>
        <p class="additional" *ngIf="nutritionsWithoutContentText">
          Также ингредиент содержит {{ nutritionsWithoutContentText }}.
        </p>
      </section>

      <section id="tips" class="section-group" *ngIf="ingredient.tips">
        <h2>Советы</h2>
        <ol [ngStyle]="noListStyle(ingredient.tips)">
          <li *ngFor="let tip of ingredient.tips">{{ tip }}</li>
        </ol>
      </section>

      <hr *ngIf="ingredient.externalLinks" />
      <section
        id="links"
        class="section-group"
        *ngIf="ingredient.externalLinks"
      >
        <h2>Дополнительные ссылки</h2>
        <ol
          class="no-list-style"
          [ngStyle]="noListStyle(ingredient.externalLinks)"
        >
          <li *ngFor="let externalLink of ingredient.externalLinks">
            <svg-icon
              [src]="'assets/images/svg/link.svg'"
              [applyClass]="true"
              class="svg-link"
            />
            <a [href]="externalLink.link">{{ externalLink.name }}</a>
          </li>
        </ol>
      </section>

      <section class="additional" *ngIf="ingredient.variations.length > 0">
        <p>
          *Этот ингредиент также включает в себя все ингредиенты, содержащие в
          себе
          {{
            ingredient.variations.length > 1 ? "такие слова" : "такое слово"
          }}, как: {{ variations.toLowerCase() }}.
        </p>
      </section>
    </div>
  </div>
</div>
