@import "../../../../tools/UI/UI.scss";
button.prim {
  background: var(--color-primary);
  border: 3px solid var(--color-primary);

  &.disabled {
    background: var(--color-foreground-unactive);
    border-color: var(----color-foreground-unactive);
  }

  &:focus {
    background-color: var(--color-primary-focus);
    border-color: var(--color-primary-focus);
  }
}

.disabled {
  pointer-events: none;
}
button.sec {
  background: var(--color-secondary);
  border: 3px solid var(--color-secondary);
  &.disabled {
    background: var(--color-foreground-unactive);
    border-color: var(----color-foreground-unactive);
  }

  &:focus {
    background-color: var(--color-secondary-focus);
    border-color: var(--color-secondary-focus);
  }
}

button.filled-min.prim {
  border: 3px solid var(--color-primary-lighter);

  background: var(--color-primary-lighter);
  color: var(--color-primary);

  &.disabled {
    color: var(--color-background);

    background: var(--color-foreground-unactive-lighter);
    border-color: var(--color-foreground-unactive-lighter);
  }

  &:focus {
    background-color: var(--color-primary-lighter-focus);
        color: var(--color-primary-focus);

    border-color: var(--color-primary-lighter-focus);
  }
}
button.filled-min.sec {
  border: 3px solid var(--color-secondary-lighter);

  background: var(--color-secondary-lighter);
  color: var(--color-secondary);

  &.disabled {
    color: var(--color-background);

    background: var(--color-foreground-unactive-lighter);
    border-color: var(--color-foreground-unactive-lighter);
  }
  &:focus {
    background-color: var(--color-secondary-lighter-focus);
    border-color: var(--color-secondary-lighter-focus);
    color: var(--color-secondary-focus);
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.7em;
  padding: var(--space-s) var(--space-m);
  font-weight: 700;
  min-width: 9em;
  background-color: none;
  color: var(--color-background);
  overflow: hidden;
  transition: scale 0.3s , background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover:not(.disabled) {
    scale: 1.05;
  }
}

button.outlined {
  background: none;
    transition: scale 0.3s , background-color 0s, border-color 0.2s ease-in-out, color 0s;

}
.outlined.prim {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  &.disabled {
    color: var(--color-foreground-unactive);
    background: none;

    border-color: var(--color-foreground-unactive);
  }

  &:focus {
        background: none;

    color: var(--color-primary-focus);
    border-color: var(--color-primary-focus);
  }
}
.outlined.sec {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);

  &.disabled {
    color: var(--color-foreground-unactive);
    background: none;
    border-color: var(--color-foreground-unactive);
  }

  &:focus {
    background: none;
    color: var(--color-secondary-focus);
    border-color: var(--color-secondary-focus);
  }
}

.rounded {
  border-radius: var(--space-l);
}
.unrounded {
  border-radius: var(--space-s);
}



button.banner{


  min-width: fit-content;
  

 
    padding: 0.65em 1em;

    border: 4px solid white;
    line-height: 1;
    font-size: var(--font-l);
    background-color: rgba($color: white, $alpha: 0.1);
    font-weight: 900; 
    letter-spacing: 2px;
    transition: letter-spacing 0.3s ease-in-out;

    &:hover{
      scale: 1;
      letter-spacing: 3px;
      background-color: rgba($color: white, $alpha: 0.15);
    }

}

.svg-arrow{
  fill: white;
  width:0.8em;
}